[2019-12-10 23:08] wbobeirne commented on #2023
+1. Currently, if you want to use the return type of `useFormik` in another function, you have to type it as `ReturnType<typeof useFormik>`. However, `useFormik` is a generic argument, but you cannot specify generic arguments when using `typeof`. For example doing `ReturnType<typeof useFormik<MyCustomFormValues>>` is a syntax error.) So any object you pass in there that specified generic fields wi

[2019-12-11 06:58] rodymolenaar commented on #2098
This was introduced in `2.0.7` probably in https://github.com/jaredpalmer/formik/commit/9da32887cf61bdb2d08be90d863b35d537ebfe7c.

[2019-12-11 07:14] eugenemlee commented on #2098
Yes, this change has broken all usage of `FieldArrays`. Could it please be reverted?

[2019-12-11 08:29] oozanyuksel commented on #1421
Having a dirty field list is also ok too. I'm trying to build an edit form and want to highlight fields that are changed from its initial values. Form has a dirty boolean field but that doesn't help for my case. I'm comparing props of initialValues to props of values for now.

[2019-12-11 08:56] vojtechportes commented on #2100
I guess you can always check either if there is an id or something in the route, or pass some property through a route in router (reach/router, react/router) to let the component know in which context it should work.

[2019-12-11 09:23] jamime commented on #2099
Possibly fixed by #2103

[2019-12-11 09:49] RomainGoncalves commented on #2091
I see. Thanks for that. I guess I will have to use `setFieldTouched`

[2019-12-11 09:49] #2091 closed

[2019-12-11 12:09] jamime opened #2106 "Validation runs on old value when onChange is called within onBlur"
## 🐛 Bug report

### Current Behavior

I have a complex component that reformats the user input when they blur the component. When using `<Field component={Component}/>` the validation runs on the previous value.

### Expected behavior

Validation should run on the state *after* the `onBlur`.

### Reproducible example

https://codesandbox.io/s/formik-codesandbox-template-1ewgq
![2019-12-11 11 52 2

[2019-12-11 15:04] jamime commented on #2106
This looks like it's the culprit
https://github.com/jaredpalmer/formik/blob/c7d4114ac06978c481620d2cd1a3f4042448d2c8/packages/formik/src/Formik.tsx#L634

[2019-12-11 15:08] zsobral commented on #2100
should not be `<form onSubmit={props.handleSubmit}>` ? you should use the handleSubmit from the formik bag

[2019-12-11 15:15] jaredpalmer commented on #2106
The solution _should_ be to use setFieldValue and setFieldTouched which let you override validation.

So you should be able to write:
[code]

However, because `setFieldValue` requires validateOnChange and shouldValidate to run validation, you can't in this situation.

https://github.com/jaredpalmer/formik/blob/master/packages/formik/src/Formik.tsx#L545

The current workaround would be to keep vali

[2019-12-11 16:05] jamime commented on #2106
Thanks for the reply @jaredpalmer

I don't think that will work for the example that I gave where `validateOnChange={false}` because
`setFieldValue` wouldn't trigger validation and `setFieldTouched` would still be looking at stale data.

Changing it so `shouldValidate` takes precedence over the `validateOnChange` prop would help with the workaround that you provided.

[code]
[code]

Regarding the

[2019-12-11 16:50] tjshipe commented on #2050
I think this PR caused a new bug: https://github.com/jaredpalmer/formik/issues/2098

[2019-12-11 16:59] daniel-stoneuk opened #2108 "CDN link / generation is broken"
## 📖 Documentation

Hi, unfortunately the CDN link on this page does not work, and when using the minified version I get the following console error message on page load

Uncaught TypeError: s is not a function
    at x (connect.tsx:40)
    at FieldArray.tsx:350
    at formik.umd.production.min.js:1
    at formik.umd.production.min.js:1

https://jaredpalmer.com/formik/docs/overview#cdn

Please can

[2019-12-11 18:34] #1198 closed

[2019-12-11 18:35] jaredpalmer commented on #2098
Going to revert now.

[2019-12-11 18:41] jaredpalmer commented on #2050
The issue I think is that FieldArray broke in 2.0 because this doesn't actually run with fresh state (because there isn't a 2nd argument to useState setter in hooks.

https://github.com/jaredpalmer/formik/blob/ca2082371a8fed365379e9c5c6d148c01a6d4232/packages/formik/src/FieldArray.tsx#L169-L173

[2019-12-11 18:51] slorber opened #2109 "Ability to detect aborted form submissions due to validation errors."
## 🚀 Feature request

### Current Behavior

When calling `form.submitForm()` it throws if:
- async validation fails (network error etc)
- async validation contains validation errors (what I care about ONLY)
- async form submission fails

### Desired Behavior

Keep same behavior as current but let user be able to differenciate those different kind of failures with callbacks?

When form.submit() is

[2019-12-11 19:14] vishwam opened #2110 "Reset dirty state on successful submit"
## 🚀 Feature request

### Current Behavior

It's a very common scenario to show a confirmation prompt if the user accidentally exits out of a form with unsaved changes (e.g., by when they hit the back button or click on a link). The idiomatic way is rendering something like [React Router's Prompt](https://reacttraining.com/react-router/web/api/Prompt) if the form is dirty.

However, this requires

[2019-12-11 20:01] alienfacepalm commented on #1476
This is a great concept, did it ever get completed? I'd love to use this in my project. Thanks!

[2019-12-11 20:02] wingedearth commented on #2098
Simply reverting will bring back the bug of errors: { someField: [] } caused isValid to be false when it should be true for FieldArrays

[2019-12-11 20:58] daniloab opened #2111 "initialErrors don't return the errors to errors on formikbag"
## 🐛 Bug report

### Current Behavior

I'm trying to use the initialErrors since the isInitialValid will be deprecated. As implemented, until the time I start `useFormik`, it returns the error correctly. However, when I pass it to useFormik and deconstruct the `formikbag` value errors, it does not return the error object.

### Expected behavior

Setting errors in initialErrors is expected to decon

[2019-12-11 21:45] ericArbour opened #2112 "Arrayhelpers remove method removes field from values"
## 🐛 Bug report

### Current Behavior

When removing the last item from a `FieldArray` with the `remove` method from the `arrayHelpers`, the entire field is removed from the form state.

### Expected behavior

It only removes the last item and keeps the field in the form state as an empty array.

### Reproducible example

https://codesandbox.io/s/formik-codesandbox-template-qe1e2

### Suggested so

[2019-12-11 21:48] ericArbour commented on #2112
Sorry, duplicate of https://github.com/jaredpalmer/formik/issues/2098

[2019-12-11 21:48] #2112 closed

[2019-12-11 23:15] wingedearth commented on #2098
so the field with the empty array should be preserved for values but removed from errors (if there are no errors)

[2019-12-12 02:46] wabi91 commented on #2098
i have an another issue, i think something changed and it makes empty array issue and my issue
when use setFieldValue passing same length array what is not deep equal array with prev array, "FastField" component doesn't re-render.
it was not happened with version 2.0.6

[2019-12-12 03:05] Etheryte commented on #271
I don't agree that a separate component with an effect is the reasonable architecture. This is essentially diverting from the original (and reasonably sane) form configuration via props to configuration via XML.

You don't use `onSubmit` by adding a component to your form:

[code]

Logically `submit` and `change` are simply one of many events that a form may emit, just like `reset` or `validate`.

[2019-12-12 03:10] cameronmurphy opened #2113 "Using Yup on React Native throws unhandled promise rejection warning when validation fails"
## 🐛 Bug report

### Current behavior
![2019-12-12 13 58 42](https://user-images.githubusercontent.com/1300032/70678974-d680a680-1ce7-11ea-8640-bd5803a6d4b1.gif)

About 1 or 2 seconds after validation fails a promise is rejected with the errors object.
[code]

### Expected behavior
I'd expect no unhandled promise rejections.

### Reproducible example
Steps to reproduce:
[code]

Copy this code into

[2019-12-12 06:16] sergeydevhub commented on #546
Still is desirable update

[2019-12-12 10:37] wanegain3 commented on #1992
Sorry about that. Turns out the code I've put here works fine with chrome but not with firefox. https://codesandbox.io/s/formik-pb-with-getfieldprops-83tze?fontsize=14

How is that possible given it is an online editor ? Do you guys also have also on firefox ? I am wondering if it is wise to use getFieldProps() if it is not working everywhere.

[2019-12-12 11:00] Danziger commented on #1268
I'm not sure that's representative of the forms most people would build, so maybe the default should be removing the value if the field goes away and there should be an option to change this behaviour to keep the values.

[2019-12-12 14:44] jaredpalmer commented on #1992
Seems fine in Firefox with 2.0.7 https://codesandbox.io/s/formik-pb-with-getfieldprops-htuc8

[2019-12-12 14:44] #1992 closed

[2019-12-12 14:50] jaredpalmer commented on #2111
You can just use `validateOnMount={true}` here. My intention with initialErrors is about saving a render when you're serializing formik state from localStorage or a session. However, I have found it not very useful. validateOnMount is much easier and no one really notices the difference.

[2019-12-12 16:05] fernandobandeira commented on #87
[Cheerful](https://www.cheerfulgiving.com/)

Big codebase, we're using it on all of our forms, big nonprofits like american cancer society, girl scouts, goodwill, etc are receiving donations through formik forms on our platform.

![image](https://user-images.githubusercontent.com/8373980/70728319-f57b3a80-1cdf-11ea-9779-a15ff5613da8.png)

[2019-12-12 18:33] brielov commented on #1312
But what if total is just a suggestion? You can calculate the total but still let the user decide if that number is right or not. I'm currently struggling with something similar where I calculate a suggested amount of money based on some other fields, but my client wants to be able to adjust it if he wants to.

[2019-12-12 19:12] #1545 closed

[2019-12-12 19:20] #2106 closed

[2019-12-12 19:38] joshsalverda commented on #1476
Not sure if you're asking me (or maybe Jared for an official one?), but in case anyone wants it, my custom hook: https://gist.github.com/joshsalverda/d808d92f46a7085be062b2cbde978ae6

Sorry in advance if you're not already using immutability-helper...

I think it's 1-1 with what formik provides. Can likely be improved, but it seems to be working fine for my use cases and all my tests pass so I'm h

[2019-12-12 20:03] daniloab commented on #2111
I tried to use validate on mount, however, the code goes into an infinite loop.

[2019-12-12 20:04] sibelius commented on #2046
the problem is this https://github.com/jaredpalmer/formik/blob/48dd0c7be1a4763df8217e79e72ffdef89447aaa/packages/formik/src/Formik.tsx#L358

you need to `useMemo` your initialValues

but even using this, it is causing rerender

[2019-12-12 20:13] wbobeirne commented on #2100
Specifically what the previous comment said, it's this line: https://gist.github.com/kevbarns/850e1f96129e626a3141b803583b06d7#file-productform-js-L263

Should be
[code]
instead.

[2019-12-12 20:35] aleksavl commented on #2098
not fixed with latest realese

[2019-12-12 22:28] georgefeast commented on #2046
This only seems to be a problem from version 2.0.4 onwards. Has anyone else found this?

[2019-12-13 01:05] brandon-hedrick commented on #937
`Jest`/`Enzyme` with no `promise/setTimeout` or `wait()`
I was able to take things a step further with help from @TrueWill and @Renaud009's post.

## Updating `<Field/>`s
Firstly I am using [`act()`](https://reactjs.org/docs/test-utils.html#act) from `react-dom/test-utils` _every_ time that I simulate an event. I then created a function that `simulate`s multiple events on the developer's behalf, `

[2019-12-13 02:44] dennis-tagomi commented on #2113
this is caused by combineErrors and has been rolled back in 2.0.8 hotfix

[2019-12-13 04:25] cargallo opened #2120 "Property 'translate' is missing in type Form"
## 🐛 Bug report

### Current Behavior

Property 'translate' is missing in type '{ children: any[]; noValidate: true; autoComplete: string; className: string; }' but required in type 'Pick<DetailedHTMLProps<FormHTMLAttributes<HTMLFormElement>, HTMLFormElement>, "id" | "color" | "children" | "translate" | "hidden" | "style" | "radioGroup" | "title" | ... 254 more ... | "noValidate">'.ts(2741)

### S

[2019-12-13 09:26] Krasnopir commented on #2098
I also returned to version 06. because all data in the form of an array is deleted if an empty array is returned - chips, radioGroup, etc...

[2019-12-13 11:30] yashmiRajamanthrie commented on #446
Can we reset form from outside funtion?

[2019-12-13 12:22] jauniuse commented on #87
[Nordnet](https://www.nordnet.se)

[2019-12-13 12:49] ZachStoltz opened #2121 "[v2] FormikBag no longer has `props`"
Looking at the documentation and the code via v1.5.8 the `Formik` component would pass props along side the imperative methods to the action methods ex `onRest`.  Those props were removed in the v2 refactor.

Was this intended?  The documentation still states that a subset of props should be there.

Reason I ask is I currently have a need to when the `onReset` fires, check for `dirty`.  If the for

[2019-12-13 15:03] kevbarns commented on #2100
It's correct ! thanks guys.

[2019-12-13 15:03] #2100 closed

[2019-12-13 18:31] johnrom commented on #271
@Etheryte I absolutely agree with your argument that it's not intuitive. However, I do think a simple onChange wouldn't provide enough flexibility for all user scenarios, and if we don't find a way to provide for all user scenarios, there isn't a strong case to expand the API. Feel free to open a PR if you have a solution that can both optimize for renders when states are identical and allow users

[2019-12-13 19:32] dfmartin commented on #2120
Got this error with 2.0.8, but rolling back to 2.0.7 got rid of the error.  That would seem to indicate something changed in the last 3 days since 2.0.7 was released. But I believe you're right about that file, and it hasn't changed since Oct 25th.

[2019-12-13 21:58] IngenieroLata commented on #2120
But rolling back to 2.0.7 breaks `useField`. I end up removing the `Form` component and use the native form with bindings

[2019-12-14 08:05] zahraHaghi opened #2123 "material ui select in formik"
## ❓Question

I am using formik and material ui in react project.when I use material ui select,and click on submit button.show me validation error required under select field. I use yhese codes.
[code]

how can I solve this problem?

[2019-12-14 10:47] franky47 commented on #2120
I have this issue with 2.0.7 and 2.0.8, rolling back to 2.0.6 fixed it for me.

[2019-12-14 17:35] Vechtomov commented on #691
Maybe it will help someone. I use this instead of useField.
[code]

[2019-12-14 23:57] harrisgeo88 commented on #1133
I just had the same problem on version `2.0.8`. Apparently setting `validateOnMount` to `true` fixed this issue for me 🎉

[2019-12-15 06:38] zahraHaghi opened #2125 "how to use material ui dialog as alert in formik"
## ❓Question

hello. I want to show alert "are you sure to delete this post?" before delete an item.how can I do that with material ui and formik?

[2019-12-15 12:27] Shaker-Hamdi opened #2127 "Typescript error when useing "useField" and "FieldAttributes""
I updated Formik to "2.0.8" and I tried to use the new `useField` hook.
I followed a tutorial online by `Ben Awad`, but typescript is not happy and refuses to compile ...

![image](https://user-images.githubusercontent.com/3071511/70862544-720f5280-1f46-11ea-9b56-6586b30791e0.png)

![image](https://user-images.githubusercontent.com/3071511/70862595-0da0c300-1f47-11ea-9bf8-b3e35d8cf78b.png)

Here's

[2019-12-15 12:34] Shaker-Hamdi commented on #2127
Now when I do it like this, Typescript seems happy with it and works fine ...

[code]

I don't know if that is correct or not, but it works.

[2019-12-16 07:22] devhyunjae commented on #1948
Any updates on this? Stuck in here!

[2019-12-16 08:00] andersem commented on #2120
Reproducable in the codesandbox that comes up in the PR build process: https://codesandbox.io/s/formik-typescript-playground-zhugl. Go to basic.

[2019-12-16 09:58] sgronblo commented on #2046
I've been tearing my hair out over this today before finally figuring out what was going on. I also feel it's quite unintuitive that `initialValues` is used as a dependency for the initial validation `useEffect`.

I ended up working around it by not creating the `initialValues` object inside the render function, but instead creating it one level up and passing it down into my component that is usi

[2019-12-16 11:25] AndrewAi commented on #612
@truecolintracy Hi Colin, Thank you for your answer. How could I create dynamic field validation with yup. where similarly to above I dont know the initial field names. Thanks very much

[2019-12-16 11:30] DavidSchillinger commented on #2120
The error disappears for me when upgrading `@types/react` from `16.9.11` to `16.9.12`.
I'm trying to figure out how to navigate `@types` versions to see what causes it but figured this might be useful in the meantime.

[2019-12-16 12:41] alexe-dev commented on #2098
hi. any updates on this?

[2019-12-16 12:52] bhishp commented on #826
@NicholasPeretti thanks for the post, we used this pattern in our app and it helped us structure our big forms in a more componentized way. I created a storybook addon to help maintain forms in this way so that you can play with subforms directly in storybook and see the formik state in a panel. I hope it helps with others using this pattern 👍

https://www.npmjs.com/package/storybook-formik

[2019-12-16 13:11] NicholasPeretti commented on #826
Hi @bhishp ! Thank you for your feedback!
I'm very happy that subforms worked out for your team!

Months passed by since I wrote the article and, in the meantime, I've been able to improve the way I am using subforms.

If you'd like to read more about it, I've also given a talk (unfortunately not available online).
You can find the slides here: https://docs.google.com/presentation/d/1MgdcKdsj7eIbt

[2019-12-16 13:55] RichardLindhout commented on #2086
I ended up doing this:

[code]
[code]
[code]

[2019-12-16 13:56] RichardLindhout commented on #2086
Looks like it's a bug in TypeScript or something

[2019-12-16 15:20] gregorybellencontre opened #2129 "Reset dirty property after submit"
Hello

I'm trying to reset the `dirty` property after my form is submitted.
I'm using it to know if users made changes in the form and alert them when they want to leave the page.

First question : is it the good property tu use for that ?
If yes, how could I reset the boolean to false, once the form is submitted ?

[2019-12-16 16:59] ThomasWFord commented on #2129
Something like `resetForm({ values: currentValues })` (where currentValues is the values that are now not "dirty") should work, that will set the initial values and compute the dirty property to false

[2019-12-16 22:27] jsteiner opened #2130 "Removing the last element in a FieldArray sets array value to undefined"
## 🐛 Bug report

### Current Behavior

If you `remove` the last element in a `FieldArray`, it sets the new value at that `name` to `undefined`.

Calling `remove(0)` on:

[code]

becomes:

[code]

### Expected behavior

I'd expect the value to be set to an empty array.

Calling `remove(0)` on:

[code]

should become

[code]

This behavior was unexpected and let to some errors calling methods on und

[2019-12-17 01:51] dspacejs commented on #1133
`validateOnMount` works for me, but it's throwing `Yup.required` errors once the form is submitted (even though these fields have been filled in)

[2019-12-17 05:36] tylerwray commented on #2098
FYI, this also breaks when explicitly setting a value to `[]`

`setFieldValue('stuff', [])` sets the field `stuff` to undefined, which in our case, is an unwanted/breaking behavior. Should prob be a major version change for that.

Thanks for all the awesome work on Formik. I ❤️ forms in React now b/c of Formik.

[2019-12-17 06:19] Mindtraveller commented on #2130
Hi, have similar issue when setting value to empty array e.g.
[code]
setting value `[]` to `lang` field results in:
[code]

It's reproducible on Formik **v2.0.7**.
Works fine on **v2.0.6**

[2019-12-17 08:48] dspacejs commented on #150
Anyone know the best way to handle this with sagas?

My form calls a `submit` function with the form's values:

[code]

`submit` dispatches an action that starts a request:

[code]

There's then a "loading", "success", and "failure" action that corresponds to `setPasswordRequest`. The errors and loading state are managed in the Redux store.

But in order to set a form's errors and loading state wi

[2019-12-17 09:30] iobuhov commented on #2130
This is the problem: https://github.com/jaredpalmer/formik/blob/448e3e7f5477400a8f77a29f2065e2b8f9a96d01/packages/formik/src/utils.ts#L130

`setIn` take care of your "empty" field and silently removes it from values, which is really confusing.

[2019-12-17 09:37] iobuhov commented on #2130
#2050

[2019-12-17 09:59] Mnabawy commented on #991
same issue here is my package.json
"dependencies": {
    "@types/node": "^12.12.14",
    "expo": "^35.0.0",
    "formik": "^2.0.8",
    "react": "16.8.3",
    "react-country-region-selector": "^1.4.5",
    "react-dom": "16.8.3",
    "react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz",
    "react-native-country-picker-modal": "^1.9.8",
    "react-native-elements": "^1.2

[2019-12-17 10:18] dustwise commented on #1047
This issue still exists at the end of 2019. Has anyone successfully implemented a solution/workaround for this?

[2019-12-17 12:09] DavidSchillinger commented on #2120
The `Form` type in `formik/dist/Form.d.ts` ends up being defined as: (truncated for readability)
[code]
So we pick the `translate` attribute which doesn't exist on `@types/react <16.9.12`.
When I copy that definition into my own code (while on 16.9.11), TS does error saying that `translate` doesn't exist but when using `<Form/>` this ends up as a required prop :confused:

I think that means that t

[2019-12-17 15:23] kahboom opened #2131 "CreatableSelect create tag/option in multiselect with Formik"
## ❓Question

Hey everyone. I can't seem to figure out what I'm doing wrong, but I'm trying to use `CreatableSelect`  from react-select, where you can type in a new tag/option that doesn't already exist in a multiselect drop-down. The option to create doesn't appear when you type, just "No options".

Sandbox [here](https://codesandbox.io/s/amq-stream-selector-experimenting-ts-cdphx) - it's the las

[2019-12-17 16:02] imdadul commented on #1616
I am also having the same problem.
Waiting for the update.

[2019-12-17 16:12] imdadul commented on #2130
I am also having the same problem,
Whenever i am removing the last item from my array, I am having errors in my code

[code]

I think this is a problem.

[2019-12-17 18:26] DarioJahnel opened #2132 "Call submit method from different buttons"
Hi, I'm using the same form to search, modify and delete, how can I call the submit method from one or more buttons?

[2019-12-17 19:32] sebastianpatten commented on #1374
I have the same question!

[2019-12-17 20:06] tjshipe commented on #2050
I don't understand this change. If I explicitly set a value to an empty array, why do we want it changed to undefined? https://github.com/jaredpalmer/formik/issues/2130

[2019-12-18 00:04] bugzpodder opened #2133 "setFieldValue with array is broken in formik 2.0.8"
Only reproducible with 2.0.8.  Tried 2.0.3 - 2.0.7 and all worked fine.

setFieldValue("labels", []); and I get back a undefined.  I'll try creating a code sandbox and edit this issue.

[2019-12-18 00:07] bugzpodder commented on #2133
https://codesandbox.io/s/formik-example-934n6

setFieldValue("email", []) and email becomes a string.

[2019-12-18 05:12] yahooshiken commented on #2133
Me too.
I think this is a really critical issue.

[2019-12-18 05:31] yahooshiken commented on #2133
@bugzpodder #2098 is a same issue. Please watch.

[2019-12-18 05:53] bugzpodder commented on #2098
repro https://codesandbox.io/s/formik-example-934n6 but you probably don't need it.

[2019-12-18 10:34] kumar88kanishk commented on #1463
What is CDN URI??

[2019-12-18 11:20] apieceofbart commented on #1948
I totally agree this should be relaxed to be just string - it's nice to have the autocompletion for the simple case (non nested updates) but on the other hand types are just wrong currently

[2019-12-18 12:15] DarioJahnel commented on #2132
Ok, I solved it this way (i'm using reactstrap):

`<Formik
....
....

	{formik => (
		<Form>
			<Formgroup>
				<Label>Something</Label>
				<Field name="something" />
				<Button
				onClick={formik.handleSubmit()}> Submit </Button>
			</Formgroup>
		</Form>
	)}
</Formik>`

[2019-12-18 12:15] DarioJahnel commented on #2132
Ok, I solved it this way (i'm using reactstrap):

<Formik
....
....

	{formik => (
		<Form>
			<Formgroup>
				<Label>Something</Label>
				<Field name="something" />
				<Button
				onClick={formik.handleSubmit()}> Submit </Button>
			</Formgroup>
		</Form>
	)}
</Formik>

[2019-12-18 12:15] #2132 closed

[2019-12-18 13:00] Jokinen commented on #1845
While searching for a related problem I came across this issue that explains the different behaviour with nesting:

https://github.com/jaredpalmer/formik/issues/805

[2019-12-18 13:33] alexcracea commented on #2130
I reproduced this as well. This issue is affecting the behavior of `setFieldValue` in general as in my case I did not have any `<FieldArray>`, in my case it was a list of checkboxes that are throwing an error every time I uncheck everything.

https://codesandbox.io/s/formik-codesandbox-template-kyc9x?fontsize=14&hidenavigation=1&theme=dark

I found a workaround for this - in my case I got it tempo

[2019-12-18 16:05] meyerds commented on #2130
Yes this is a major problem for me also! I think it makes sense in the context of `touched` and `errors` objects, but applying the same 'cleanup' logic to `values` is going to be a problem for a lot of people!

[2019-12-18 17:01] petargyurov commented on #1209
Coming across this same issue too. Just wanted to reiterate that the workaround does work.

In my instance I am having to keep track of some values outside of the form using my `redux` setup. Just prior to submitting I do `setFieldValue('myField', myField, true)` -- I need the 3rd param because I want to utilise the validation tests I have in place (using Yup).  The fields in question are all arra

[2019-12-18 17:30] adamscybot opened #2134 "Error should be allowed to be any"
## 🐛 Bug report

### Current Behavior

Currently, errors must be strings.

### Expected behavior

Errors can be any object/array/primitive

### Reproducible example

The types complain if you attempt to do anything but string.

### Suggested solution(s)

Just change the types to allow any on errors.

### Additional context

Only strings as errors is very limiting. Sometimes I want to render a spec

[2019-12-18 18:53] Douglasacost commented on #1463
@kumar88kanishk `<script src="https://unpkg.com/formik/dist/formik.umd.production.js"></script>` extracted from

[2019-12-18 20:27] cdpautsch commented on #561
Any update on this? This is a feature that would be useful. We are passing a custom component to `FieldArray`, and passing props via `FieldArray` to our custom component allows us to adjust what renders. I see there's an outstanding PR for it, but it hasn't been updated since March.

[2019-12-18 20:59] jwmann commented on #1580
Thank you @devinsm this is a useful workaround for the time being

@josephsiefers I can verify this to be the case as well

[2019-12-19 06:54] anthowm opened #2137 "Formik bad initialValues between 2 forms react native"
## 🐛 Bug report

The bug is explained well here https://stackoverflow.com/questions/59392023/formik-bad-initialvalues-between-2-forms

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 2.0.8
| React            | 16.9.0
| TypeScript       | -
| Browser          | andriod/ios
| npm/Yarn         | npm
| Operating System | macos mojave

[2019-12-19 11:55] devarsh commented on #1524
@jaredpalmer I completely agree to remove the async validation support from the library but split the existing error object into `sync` and `asyncErrors`. The reason I'm asking this is that when it comes to `FieldArrays` and array manipulations, maintaining `asyncError` object outside formik leads to an inconsistent state. If you have a solution to that problem it would be really happy to hear abo

[2019-12-19 12:19] KrzysztofMadejski commented on #1869
+1. It's unintuitive to get string on an optional number field. Currently I have to manually remove such values before further processing.

[2019-12-19 13:05] BjoernRave opened #2138 "values.hasOwnProperty is not a function in v2"
When submitting my form before it runs any validation it throws the following error:

[code]
I created a wrapper with formik and this wrapper is not throwing this error on some forms, but on some it is. Not really sure why.

It works with formik 1.5.8

If you need more info, I am happy to provide. I thought this might be enough, otherwise I can add you as collaborator to my project

[2019-12-19 16:03] jaredpalmer commented on #2138
Can you create a sandbox to reproduce?

[2019-12-19 16:05] jaredpalmer commented on #1524
Yeah I have a branch that removes it and about to push it up.

[2019-12-19 16:17] tiagofilipe3 commented on #2096
Still broken :/ some props links are not working too.

[2019-12-19 20:24] sambrodriguez commented on #2047
This is due to a change implemented in this PR: #1740
I left a comment on it about this, but I'm not sure why this change was made. The only thing I could think of is if Yup had some strange behavior when passed an empty string, but I feel like that situation should be handled by the implementation, not Formik.

[2019-12-20 02:40] YufeeXing commented on #2098
it seems that 2.0.3 and 2.0.8 have the same problem

[2019-12-20 03:52] RonaldCY opened #2141 "In material ui autocomplete, when i select options , usefomik value cannot update?"
As title, I'm using useFormik and material ui  "autocomplete"of course in react js
however when i select an option item in "autocomplete" component, i see in console the value is update in <input> but the useFormik value is not update, please check up what issue or any solution to help? thanks and Regards

some snippets

...
  const handleSubmit = async (
    values: DataInput,
    { setSubmitting

[2019-12-20 09:03] devarsh commented on #1524
I am glad we're removing async support completely, but users should have a helper method to add async error messages to Formik internal state (this should be separate from existing `error` state, else we would be overwriting error message when `sync` validation fires on every render), also when `FieldArray` is being manipulated users have to write extra code to manage asyncError object otherwise o

[2019-12-20 10:11] christoph-teichmeister commented on #1947
Have you managed to figure this out in the meantime? I've been sitting in front of the exact same error you've posted for the past hour and cant find a solution

[2019-12-20 10:59] slorber commented on #2050
I'm on     "formik": "^2.0.8",
can confirm there's something weird, and set([]) does re-render the field with an undefined value instead

[2019-12-20 11:16] Lyfexu opened #2142 "Linkings in the table of contents should work"
## 📖 Documentation

#### Problem
Currently headings containing a `=>` are not correctly linked in the autogenerated table of contents due to a docusaurus bug.

#### Example
The `onReset` link at [Formik](https://jaredpalmer.com/formik/docs/api/formik) has an `href` attribute of
`#onreset-values-values-formikbag-formikbag-gt-void`
but should be
`#onreset-values-values-formikbag-formikbag-void`

###

[2019-12-20 13:17] donaldpipowitch commented on #1873
I just run into the same problem and it took me a while to figure out. It would be nice, if we could check, if a field is already registered or not and either **1)** _ignore_ it and just use the already registered field or **2)** _throw_ an error for registering the same name twice, if this non intended/supported behavior.

[2019-12-20 14:50] sambrodriguez commented on #2141
I actually ran into this issue myself a few weeks ago. The problem has to do with how the autocomplete handles its onChange functions, since they have a different function signature compared to other material fields. I had to override the default onChange with something like this:

[code]

The important parts to note are the onChange, onBlur, and onInputChange functions. They're the ones that don'

[2019-12-20 15:55] Snowklop commented on #1133
Have the same problem as @dspacejs , @jaredpalmer what is the proper solution to fix this?

[2019-12-20 18:38] viniciusdacal commented on #2130
This issue was holding a release for me today. Had to implement an ugly hack to get around this.
I have an idea how to fix it. Will give it a shot.

[2019-12-20 19:17] aehp20 opened #2143 "Why setFieldValue("entities", [ ]) delete the "entities" values of form in v2.0.7"
Hello,

I use an array in a field of my form.
Like: form.setFieldValue("entities", [ {id: 1234, name: "toto"} ])
And I have, form = { "entities": [ {id: 1234, name: "toto"} ] }

I noticed that in the version 2.0.6 we can have a property with empty array.
Like: form = { "entities": Array(0) }

But in the version 2.0.7 and 2.0.8, if the property has an empty array, then the field is deleted.
Like: f

[2019-12-20 20:20] mikehardy commented on #1947
@christoph-teichmeister I did! I suppose I should have posted back. Really it was as simple as realizing (after thinking through the helpful comments above) that the type I was missing was quite specifically one I was supposed to define myself. It's my form. So now I have this chunk (for example, on a login form):

The type def:
[code]

Then a handler:

[code]

and the form usage:

[code]

I think

[2019-12-20 20:27] viniciusdacal commented on #2130
PR opened #2144.
I reverted the changes on `setIn` function that was ignoring empty arrays, and then treated empty arrays for `touched` and `errors` inside `FieldArray`.

[2019-12-20 20:32] viniciusdacal commented on #2143
There's already another issue opened #2130. And there's a PR waiting for review :)

[2019-12-20 20:54] aehp20 commented on #2143
Thanks for this information.

[2019-12-20 23:08] elamje opened #2145 "Multiple, non-nested Forms sharing Props & Values"
## 🐛 Bug report

I spent quite a bit of time in the sandbox to get you a reproducible example. I would appreciate any and all help with this!

### Current Behavior

One page has two Formik components on it. Each Formik/form has a separate submit button that lives outside of the form, via a React Ref. When the submit button for FormA is called, it calls this.<FormARef>.current.handleSubmit(). Likew

[2019-12-21 01:22] baorv commented on #2066
Any solutions?

[2019-12-21 15:56] mateuszzdyb commented on #214
@cloud-walker
Thanks for your snippet. any idea how to pass onclick dosfuff() from div to formik tag?, just like onSubmit? or formik accepts only predefined functions?
<button onClick={() => {doStuff(); submitForm()}}>pay with paypal</button>
 ..................................................  ^-this doStuff.

[2019-12-22 13:54] apieceofbart opened #2146 "No error for custom yup validation using .test method"
## 🐛 Bug report

### Current Behavior

Formik doesn't throw any error when my custom validation fails. You can see that yup validation works fine when triggered manually however formik doesn't show anything in errors object.

### Expected behavior

Formik "errors" should be populated with the custom error.

### Reproducible example

https://codesandbox.io/s/formik-example-using-when-test-of-yup-47

[2019-12-22 20:42] lucamorelli opened #2147 "add the date type to the input value property in typescript definition"
## 🚀 Feature request
I'm creating a form with typescript  and I have a date field in the model. I added to the typescirpt model the date field

[code]
but I have a problem in the input field

[code]
to be able to make it work I have to add ts@ignore, otherwise I receive an error message.
could be added the date type to the supported value types?

### Current Behavior
If I add the in the interface

[2019-12-23 00:32] dev-cyprium commented on #2141
I'm facing the same issue on my project too. Thanks @sambrodriguez for the quick fix-up though, the `setFieldValue` solved my problem niecley.

[code]

Another sidenote that's related is that `value` is considered `any`. It would be nice to be able to type it inside the `setFieldValue<T>` or something if possible?

[2019-12-23 02:28] RonaldCY commented on #2141
thanks @sambrodriguez , the setfieldvalue can fix it nicely. I'm  just wondering userFormik it should update automatically, however, now in the autocomplete this case not possible?

[2019-12-23 09:02] apieceofbart commented on #2146
I found a workaround which is to create a fake field on the schema and use yups `test` method there. You can get access to other fields by using `this.parent` inside `test` callback.
Here's an example:
https://codesandbox.io/s/formik-example-using-when-test-of-yup-ni2yt

I'm not sure how can it be handled inside formik - it would probably require introducing another property (like `customErrors`)

[2019-12-23 12:32] MEsteves22 commented on #683
Did someone solve this issue? I am unfortunately having the same problem :/

[2019-12-23 13:55] desfero commented on #2046
I believe the behavior here should be the same as with `enableReinitialize` which uses deep object comparison under the hood.

[2019-12-23 15:10] grachet commented on #1914
i think i have the same pb do you solve it ?

[2019-12-23 16:18] NicoleEtLui commented on #2044
Isn't the problem related to [these lines](https://github.com/jaredpalmer/formik/blob/83b2bca9995c0dfc40dc9b9519690fbb80f670d6/packages/formik/src/Formik.tsx#L571-L581) ?

![image](https://user-images.githubusercontent.com/17101004/71368357-06616100-25a8-11ea-95a0-9f4ff2c4cb54.png)

Why do we exclusively accept `String` as first parameters, could'nt we accept any raw value to transfer to the input

[2019-12-24 09:58] Burize commented on #1188
Any update on this? - With current behavior there is no way to set html basic attributes (eg disabled), that changes and depends on the external props.

[2019-12-24 10:47] muhaimincs commented on #1981
I'm not sure why.. but I just migrated too

[2019-12-24 13:29] hadiranjbar25 opened #2149 "Prevent re-render on every change while using useField"
I am using useField instead of FastField. How can I prevent re-rendering on every change? Is there any way to make this re-rendering conditional based on a props?

[2019-12-25 22:30] abstract071 commented on #2050
Confirming, we have field that contains array of objects { .id: number, name: string } and we can add or remove items from this array by some logic. The issue is when we remove all items from array it should become an empty array but instead we get undefined

[2019-12-25 23:36] jlefebure commented on #87
Did you find any answer ? I'm actually trying to replace all hoc Formsy components with Formik, but every non natives inputs are not working properly

[2019-12-25 23:38] jlefebure commented on #1818
+1, this is the last feature that I need to switch from Formsy to Formik.

[2019-12-26 04:52] simkessy opened #2150 "Handling nested dynamic forms"
## 📖 Documentation
I'm not seeing any good examples for a use case I'm facing at the moment.

I'm trying to build a form that can have multiple questions and  each question can have multiple answers. The data structure would essentially look like this:

values = {
     questions: [
      {question: "q1", category: 1, description: "desc1", answers: [{ans: yes, pts: 5}, {ans: no, pts: 1}]},
      {q

[2019-12-26 06:58] simkessy commented on #446
When I reset, the formik.values clears but the form itself keeps the input data. Any ideas?

https://codesandbox.io/s/formik-example-nfl55?fontsize=14&hidenavigation=1&theme=dark

[2019-12-26 08:07] Unrealman1 commented on #1587
https://codesandbox.io/s/twilight-glitter-62o9k

[2019-12-26 08:07] #1587 closed

[2019-12-26 08:14] loicbourg opened #2151 "Calling setFieldValue with en empty array remove the value in formik state"
## 🐛 Bug report

Hello, I encountered a strange behavior when trying to use formik with react select.

### Current Behavior

When we pass an empty array to *setFieldValue* the value of the field is removed from the state of formik.

### Expected behavior

The new value of the field should be an empty array.

### Reproducible example

https://codesandbox.io/s/formik-15x-react-select-v2-example-v5el

[2019-12-27 05:21] kumar88kanishk commented on #1463
Thanks @Douglasacost. Cheers!!

[2019-12-27 05:22] kumar88kanishk commented on #1463
I get this when i visit the URI

[2019-12-27 05:37] kumar88kanishk commented on #1463
https://unpkg.com/formik@2.0.8/dist/formik.umd.production.min.js this is the correct uri but it gives me an error

[2019-12-27 07:01] jukkahuuskonen commented on #1914
I'm still using the solution from my sandbox. Having all those fields available, but hiding unnecessary ones with css.

You might try the resetForm(), that might work, but i haven't had time to try it. Maybe using that after changing initial values might fix the problem.

[2019-12-27 11:24] spawluk commented on #2151
It is caused by https://github.com/jaredpalmer/formik/commit/9da32887cf61bdb2d08be90d863b35d537ebfe7c

[2019-12-27 11:27] spawluk commented on #2151
Duplicate https://github.com/jaredpalmer/formik/issues/2130

[2019-12-27 13:17] joshiste opened #2152 "InitialValues in context is not updated."
## 🐛 Bug report

### Current Behavior

If the initialValues Props of the `<Formik/>` component updates, the initialValues in the FormikContext is not updated.

### Expected behavior

FormikContext should always reflect the initialValues prop.

### Reproducible example

### Suggested solution(s)

### Additional context

### Your environment

| Software         | Version(s) |
| ---------------- | --

[2019-12-27 13:22] joshiste commented on #2152
somehow missed the `enableReinitialize` prop.

[2019-12-27 13:22] #2152 closed

[2019-12-27 16:15] lightwave commented on #2086
If I interpret the type info in Field.d.ts correctly, render gets passed a props argument of type FieldConfig<any> instead of FieldProps<FormValues> in your case.  If you look at Field.d.ts, there are quite a lot of places where 'any' type is used.

[2019-12-27 16:35] RichardLindhout commented on #2086
It would be better if the unkown type was used https://mariusschulz.com/blog/the-unknown-type-in-typescript

[2019-12-27 17:23] lightwave commented on #2086
The following definition of FieldProps is incorrect in my humble opinion. FieldInputProps and FieldMetaProps takes a type parameter of V to denote the type of a field value. However, FormikProps expects a type parameter to denote the type of the values of a form.  So, in FieldProps, FormikProps shouldn't take V as the type parameter.

This hasn't caused a problem in most project, I think, primaril

[2019-12-27 19:10] SelcukEdma commented on #2120
Solved my issue <BaseForm translate="yes">

[2019-12-28 00:16] reverie opened #2153 "Generic type parameter for setStatus value"
## 🚀 Feature request

### Current Behavior

`setStatus(...)`, `status`, and `initialStatus` are all typed as `any`. This prevents any typechecking on these values.

### Desired Behavior

Type checking is available to ensure correctness of `setStatus` arguments, validate `status` case handling, etc.

### Suggested Solution

Add a generic type parameter to `Formik`, after `Values`, that is the type

[2019-12-28 01:26] UrbanChrisy commented on #87
[Parkable](https://parkable.com)
![Parkable Card](https://user-images.githubusercontent.com/11880289/71537134-742cd480-297c-11ea-989c-c45184bb41a9.png)

[2019-12-28 14:54] lightwave commented on #1961
I have an PR open to fix this issue. Trying to fix FieldAttributes will break lots of stuff. It's better to decouple useField's parameter type from FieldAttributes which is meant for the Field component anyway. If someone can take a look at the PR, that'd be great.  This issue has been causing me much grief for days.

[2019-12-28 15:02] julioxavierr commented on #2113
Still happening here in 2.0.8

[2019-12-28 15:04] julioxavierr commented on #2113
Still happening here in 2.0.8 with required + test

[2019-12-28 18:56] DalerAsrorov opened #2155 "External ref doesn't work on v2.0.8"
## 🐛 Bug report

The form ref doesn't work on the version `v2.0.8`. The example code that Jeff posted here: https://codesandbox.io/s/formik-codesandbox-template-o7imu

In version `v1.2.0` it works fine without errors but in the latest version it throws an error for `submitForm`:

[code]

### Current Behavior

Throws an error and doesn't retrieve the values of the form on submit.

### Expected beha

[2019-12-29 17:47] lightwave commented on #2127
This is related to #1961. I have a PR #2154 open for that.

[2019-12-30 07:41] Matheswaaran commented on #2151
Then How can I pass an empty array to a form value and validate it? If the values get removed then the validation schema or validation function also gets broken

[2019-12-30 09:46] eranabir opened #2156 "Is there a way to set InitialValues with a function ?"
i don't want to use the initialValues prop to init the default values for the form
i would expect a function let say setInitValues that i can use any where i want

is there some thing like that ?

thanks

[2019-12-30 14:18] CloudPower97 commented on #1948
Is this going to be fixed soon?

[2019-12-30 18:17] #1961 closed

[2019-12-31 06:14] mrowe009 commented on #2048
bump

[2019-12-31 06:15] mrowe009 commented on #2156
this is a little bit related to my issue here https://github.com/jaredpalmer/formik/issues/2048 it hasn't gotten much feedback, but i would greatly appreciate if we did not even have to define the initialValues props

[2019-12-31 07:11] Pasalietis commented on #2151
use formik@2.0.6

[2019-12-31 08:06] Portals commented on #2050
Reverting to 2.0.4 resolved my issue. Hade the same issue as @abstract071

[2019-12-31 10:35] ioness commented on #1524
If I should roll my own async validation, how should I do it ? Is there any example for me to follow ? Thanks a lot!

[2019-12-31 10:45] ioness commented on #1524
Hello! I am about to implement async validation... What should I do in terms of future compatibility ? Field level validation ? I mean, when you guys say that people roll their own, is it aside from formik values & errors object ?

[2019-12-31 10:47] ioness commented on #1524
Hello! I am about to implement async validation... What should I do in terms of future compatibility ? Field level validation ? I mean, when you guys say that people roll their own, is it aside from formik values & errors object ? I am currently using Formik + yup for sync validation

[2019-12-31 17:52] DalerAsrorov commented on #2098
Still facing the same issue.

[2020-01-01 21:18] BrutalHex commented on #90
just add validate to Fomatik tag,it works like a charm.here is a working sample:

  const schema = yup.object({
            email: yup.string()
                .email('E-mail is not valid!')
                .required('E-mail is required!'),
            password: yup.string()
                .min(6, 'Password has to be longer than 6 characters!')
                .required('Password is required!'),

[2020-01-02 07:18] realduolaf commented on #2156
I'm curious about the reason, could you describe the specific scene?

why not:

[code]

Is there a problem with typescript type?

[2020-01-02 08:04] eranabir commented on #2156
i am not using useFormik
i am using <Formik>{children}</Formik>

[2020-01-02 10:17] stevethatcodes commented on #2120
@DavidSchillinger I can confirm we saw this issue resolved by adding `@types/react` to our project (we were previously using the bundled React types) along with the updated Formik version (2.1.0)

[2020-01-02 11:06] geocine commented on #529
I came across this wondering why my wrapped component is not validating on change, even though the `touched` field has been set to `true`. this is what I came up with based on the answers here.

[code]

[2020-01-02 12:18] eliamaino-fp opened #2160 "Single checkboxes with a boolean value are not handled correctly"
## 🐛 Bug report

### Current Behavior

In a form having a checkbox input with a boolean as initial value, when toggling the checkbox the value is not a boolean anymore. (it's either an Array or `undefined`)

### Expected behavior

A single checkbox input provided with a boolean initial value should keep having a boolean value when toggled.

### Reproducible example

https://codesandbox.io/embed/fo

[2020-01-02 13:19] egor-xyz commented on #2120
Version 2.1.0 Still see this error

[2020-01-02 13:44] sunaurus opened #2162 "Undocumented breaking changes in FormikProps type definition"
## 🐛 Bug report

### Current Behavior

After upgrading from Formik 1 -> Formik 2, FormikProps has become too strict and can no longer be used in generic components. For example:

[code]
results in:

[code]

### Expected behavior

I expected the type definition to allow the same assignments it did before Formik 2.

### Reproducible example

Here's a somewhat realistic example of the kind of compone

[2020-01-02 14:00] viniciusdacal commented on #2151
this has been fixed at 2.0.11. I think we can close it.

[2020-01-02 14:01] viniciusdacal commented on #2143
issue fixed at 2.0.11. I believe we can close it. @jaredpalmer

[2020-01-02 14:03] viniciusdacal commented on #2130
this has been fixed at 2.0.11. I believe we can close it. @jaredpalmer

[2020-01-02 14:06] viniciusdacal commented on #2098
@DalerAsrorov have you tried 2.0.11? It should be fixed in that version.

[2020-01-02 14:11] viniciusdacal commented on #2062
Hey @difagume.
What triggers the validation in this case is blurring the input.
You can either pass `validateOnBlur={false}` to Formik or remove `autoFocus` from your input.

[2020-01-02 15:22] sambrodriguez commented on #2141
In general I don't think the material UI components work with formik without some sort of wiring. You can use https://www.npmjs.com/package/formik-material-ui to make it easier, but they don't support the new Autocomplete component.

[2020-01-02 16:49] wnadurski opened #2163 "FieldArray change triggers validation before an actual change"
## 🐛 Bug report

### Current Behavior

When you update an array field using `FieldArray` helpers (ie. push, remove), the validation happens before the actual change takes place. Take a look into example in code sandbox.

### Expected behavior

Validation happens after an element is added/removed from an array.

### Reproducible example

https://codesandbox.io/s/formik-fieldarray-change-validation-

[2020-01-02 18:00] dennisat opened #2164 "How to avoid the error: ...but you forgot to pass an `id` or `name`"
## ❓How can we have custom `<input>` without connected them to the output data.

Having `<input>` elements without `id` or `name` attrs, the Formik is complaining that `id` or `name` are required. For some custom components, the '<input>' elements are used internally only and their changes should not be part of the output data.

How can we avoid this console.warns?

[2020-01-02 18:13] akonyer commented on #2034
I'm trying to upgrade to formik v2.0 and I'm having the same error. I think until this is sorted out I have to revert back to v1 for now

[2020-01-02 18:20] danimbrogno-pml opened #2165 "Using FieldArray with a Yup test on object property causes: Cannot create property '' on string"
## 🐛 Bug report

### Current Behavior

Here is a sample component. We have a form object with key "profile" and an array of "items" inside it.

In our Yup validation we use .test on the "profile" key to determine if there are any duplicate items.

When you click the "add" button a second item is added and the error message display.

When you click the "add" button again, you receive the error: Can

[2020-01-02 18:41] crobinson42 commented on #2155
I verified this is still an issue in formik@2.1.0

[2020-01-02 20:47] jaredpalmer commented on #2160
Good catch

[2020-01-02 20:52] #2160 closed

[2020-01-02 20:53] jaredpalmer commented on #2034
Can you submit a PR?

[2020-01-02 20:54] jaredpalmer commented on #2164
You can use `setFieldValue` manually or the curried version of `handleChange`

[2020-01-02 20:54] #2164 closed

[2020-01-02 21:39] jaredpalmer commented on #2163
Patched version is here: https://codesandbox.io/s/formik-fieldarray-change-validation-bug-0d7sj

[2020-01-02 21:40] #2163 closed

[2020-01-03 02:47] ZeroDarkThirty commented on #529
@royzer I'm using typescript, where props are strongly typed in an interface and a functional component. So I'm not sure how I can listen for changes in formik props.

[2020-01-03 03:45] ZeroDarkThirty commented on #529
This doesn't make sense if you only want to udpate values and not submit the form.

[2020-01-03 06:59] gwn opened #2167 "Breaking change in Formik validate v2"
## 📖 Documentation
Validate function is not accepting rejected promises of errors, as it did in v1. I was going to report this as a bug, but this looked intentional to me after checking out the code:

https://github.com/jaredpalmer/formik/blob/9316a864478f8fcd4fa99a0735b1d37afdf507dc/packages/formik/src/Formik.tsx#L190-L206

So if this is intentional, it needs to be documented among other breaking

[2020-01-03 09:15] drivasperez commented on #2155
I think this is a duplicate of #1603. If you look in the console in your sandbox, you'll see this warning message:

[code]
This workflow just isn't possible in v2 at the moment. There are moves being made in #1972 to restore the functionality.

[2020-01-03 10:38] DalerAsrorov commented on #2155
Thanks @drivasperez this PR may actually solve the problem. It's just annoying that an app can break due to stuff like this. Hope it gets fixed ASAP. This is particularly helpful if you want a simple way to submit your using the button outside of the form context.

[2020-01-03 10:47] dennisat commented on #2164
Thank you for your fast response.

There was missing a word from the description!
Could you please check it again?

The problem is that some Components in the form, are using some `<input>` elements that are helper elements and are not part of the form! Formik thinks that these  `<input>` elements are part of the form, but this is not true.

For example, a Component like this would be a Map compon

[2020-01-03 11:49] abhishekudataneni commented on #811
I had tried : Thank-you so much.enableReinitialize and bumping up the version, nothing worked except this last resort.Just gave a key with unique value to formik.Probably helps someone in need.Had spent a lot of time worrying I would have to give up on formik because of this.

[2020-01-03 13:35] pixelbreaker opened #2168 "Type error on Form element in 2.1.1"
## 🐛 Bug report

### Current Behavior

Typescript throws a type error when I update from 2.0.6 to 2.1.1 on the `Form` component.

[code]

### Expected behavior

There shouldn't be an error

### Reproducible example

I couldn't reproduce without typescript, but if I add the prop `translate=""` to `Form` it stops the error.

### Suggested solution(s)

Update the typings in Form.d.ts?

### Additional

[2020-01-03 15:18] donperi commented on #2098
I'm facing the same issue on 2.0.11.
Using `setFieldValue(field.name, [])` deletes the field from the form.

I can't use `<FieldArray />` neither, as it doesn't allow custom props as `<Field />` does.

Ex:

[code]
`customPropForCustomCompoent` will be missed.

[2020-01-03 15:28] viniciusdacal commented on #2098
@donperi can you make a sandbox reproducing the issue? I tried this one and seems to be ok on 2.0.11 https://codesandbox.io/s/formik-example-6021m
(Change the email and see the props output)

[2020-01-03 15:33] donperi commented on #2098
Sure @viniciusdacal, but give me some time. I'm busy with another stuff atm.

[2020-01-03 17:22] drivasperez commented on #2155
It's a bit strange to look at, but you can get the same functionality by making a small component that grabs the formik context, then exposes it to a ref with useImperativeHandle. It's worked okay for me at work.

[code]
You place this in your Formik and pass it the ref. CodeSandbox here: https://codesandbox.io/s/dreamy-mendeleev-95fj7

[2020-01-03 18:11] gouthampai commented on #1737
I would also like support for something like this. Form level validation would work if I was able to tell if fields had been touched or not.

[2020-01-03 19:14] Rubyj opened #2169 "Is there a way to soft validate using formik and yup"
## ❓Question

@jaredpalmer

I would like to soft validate a field using `formik` and `yup`. Meaning, the user would receive a validation "error message", but would also be able to proceed with the current value. Is there any way to do this using formik and yup?

[2020-01-04 00:47] Kielan commented on #1858
I think this is accurate an accurate issue and shouldn't be closed without a readme update, this is not working and should be available....

[2020-01-04 04:03] liupy525 opened #2170 "FieldArray change triggers validation twice"
## 🐛 Bug report

### Current Behavior

When Field in FieldArray changed, the validate of Field was triggered twice.
Take a look into example in code sandbox.

### Expected behavior

Validation happens only once.

### Reproducible example

https://codesandbox.io/s/formik-fieldarray-change-validation-bug-8m6l4

### Suggested solution(s)

### Additional context

### Your environment

| Software

[2020-01-04 15:16] jaredpalmer commented on #1858
This hook is not exported in 1.x. only in v2

[2020-01-04 15:17] jaredpalmer commented on #1858
This issue was opened when master branch reflected v2 while stable release was on v1

[2020-01-04 15:58] dorklord23 commented on #882
@aheidelberg sadly, it doesn't work.

[2020-01-04 17:21] Dhruv26 commented on #691
This seems to be an issue in the case of `<FieldArray />` because you cannot specify the initial value for Fields that you dynamically add to the array. Is there a workaround for this?

[2020-01-05 06:38] AlezanderLesley opened #2171 "Strange submitting form when input focused bug"
Hello,
[Here](https://codesandbox.io/s/zl8zr8yqx) is repro link. The problem is that when I focus some input and click submit button formik not touches all the fields as described [here](https://jaredpalmer.com/formik/docs/guides/arrays). But if I remove from code this line
`  {errors.email && touched.email && <div className="invalid-feedback">{errors.email}</div>}` that display errors everything

[2020-01-05 07:09] AlezanderLesley commented on #2171
Sorry, found duplicate #1783.

[2020-01-05 07:09] #2171 closed

[2020-01-05 13:58] arman94 commented on #2168
i have the same issue

[2020-01-05 22:29] rafalp commented on #2134
To offer extra context, I'm currently integrating with GraphQL server that returns errors in this shape:

[code]

My error can look like this:

[code]

I would like to display pre-defined error in the UI for some types, and fallback `message` for other types.

[2020-01-06 10:02] dennisat commented on #2164
Friendly reminder, are you aware of this comment? https://github.com/jaredpalmer/formik/issues/2164#issuecomment-570537828

[2020-01-06 12:50] lingolex commented on #1624
We have run into the same problem. Right now, a field that requires async validation is marked as valid while waiting for the server response, after which it can jump to invalid if the validation failed. Very confusing for our users.

[2020-01-06 13:40] kirjai commented on #2083
Not sure if the #2116 should have closed this issue or not, but i believe this is still a problem in `2.1.1`

https://codesandbox.io/s/formik-codesandbox-template-yqrgc

Upgrading `formik` to `2.1.1` in the reproducible example in the OP still shows the same behaviour

[2020-01-06 17:07] Kinbaum commented on #2061
@jaredpalmer

This is the only solution that seems to work for me. Unfortunately, I still have to use the deprecated `isInitialValid`. `validateOnMount` works initially when the form mounts, but when I go forward and backward between pages it doesn't reflect the validationSchema for the current page. In order for it to reflect properly, I have to touch a field, then blur off of it.

#### Working b

[2020-01-06 18:44] jaredpalmer commented on #2083
Both setXXX will are called synchronously in your example. setFieldTouched thus doesn’t wait for setFieldValue. Because hooks are annoying af, there is no way for us to provide a promise or callback after the commit AFAIK. Thus my suggestion is then to call setFieldValue first and let it run validation as side effect and then call setFieldTouched but abort validation.

[2020-01-06 18:45] jaredpalmer commented on #2083
My point above is that this _isn’t_ a bug, it’s how React works.

[2020-01-06 18:56] jaredpalmer commented on #1624
Problem was/is that firing isValidating was causing too many rerenders and crushing perf

[2020-01-06 18:57] jaredpalmer commented on #2134
Can you transform the errors into key value that matches Formik’s shape?

[2020-01-06 18:57] jaredpalmer commented on #2168
Good catch, can someone make a PR?

[2020-01-06 19:21] jaredpalmer commented on #691
I agree with touching all registered fields on submit and defaulting to empty string.

[2020-01-06 19:27] jaredpalmer commented on #2169
Not at the moment. However, you can do this on your own either within render fn with a simple conditional on single value. Or you could create a custom component with useEffect or componentDidUodate that checked values against yup schema and kept these as warnings

[2020-01-06 19:27] #2169 closed

[2020-01-06 19:28] jaredpalmer commented on #2098
Can someone make a PR?

[2020-01-06 19:28] jaredpalmer commented on #2098
Im out of office this week

[2020-01-06 19:30] jaredpalmer commented on #811
Going to tackle better in docs.

[2020-01-06 19:30] viniciusdacal commented on #2098
I tested on latest version and it's working ok for me. If we manage to get a sandbox which we can repro the issue, I can work on it.

[2020-01-06 19:32] #966 closed

[2020-01-06 19:32] jaredpalmer commented on #2167
Yeah. Shit, I guess this is breaking after we stopped swallowing the errors in recent releases. can you add to the migration docs?

[2020-01-06 19:35] zsobral commented on #2098
I'm using 2.1.1 now, the issue was solved for me

[2020-01-06 19:39] DalerAsrorov commented on #2155
Thanks @drivasperez I will try that. I am sure it will work. I am not very familiar with `useImperativeHandler` but I will take a look now. I still hope that in the future we can do a regular `ref` without all that nonsense.

[2020-01-06 19:42] DalerAsrorov commented on #2098
I will upgrade to `2.1.1` and see if it works for me too.

[2020-01-06 19:45] DalerAsrorov commented on #2134
@rafalp I also use GraphQL for hydrating the Formik fields for initial render (on edit) and I am just normalizing the records before passing them on to Formik error props. Not sure if the library-wise changing is needed. However, making `Error` of type `any` makes sense @jaredpalmer

[2020-01-06 19:48] jaredpalmer commented on #2134
Formik makes assumptions about shape of errors for both getFieldProps, useField and to check validity. getFieldProps/useField/Field may not work if you don’t adhere to to this contract

[2020-01-06 19:49] jaredpalmer commented on #2098
I believe this was fixed in the latest release

[2020-01-06 19:49] #2098 closed

[2020-01-06 19:59] jaredpalmer commented on #1737
Seems reasonable, can this be done with useEffect though?

[2020-01-06 20:09] jaredpalmer commented on #529
Just as an update y’all, this is not possible with hooks since useState’s updated no longer accepts a 2nd argument callback anymore. The “correct” approach with hooks is do this with useEffect. This sucks, because you may not be able to figure out from where the change came from, but it is only way to do this.

[2020-01-06 20:10] #529 closed

[2020-01-06 20:12] relwiwa commented on #1737
I am not sure why/where you would use useEffect. I thought it should be easy to not "pluck out from values" the one value of the respective field, but instead give all those values to the field, isn't it?

[2020-01-06 20:14] jaredpalmer commented on #1737
Yeah that’s fine by me

[2020-01-06 20:15] rafalp commented on #2134
Ok, more on my usecase then:

My API returns errors as described above. Some of those errors are familiar to me (because they came from my code) and some aren't (because they came from upstream API that my server proxies to, and one I have no control over because those are 3rd party extensions). I have simple component called `FieldError` that takes error code and list of predefined error messages

[2020-01-06 20:17] relwiwa commented on #1737
Great! Are you saying that you will be working on it?

[2020-01-06 20:31] jaredpalmer commented on #2153
Yeah this is a good idea. Feel free to submit PR

[2020-01-06 20:32] #2151 closed

[2020-01-06 20:33] #2108 closed

[2020-01-06 20:39] jaredpalmer commented on #2078
AFAICT I don’t think this is possible, but feel free to submit a PR if you come up with something.

[2020-01-06 20:40] jaredpalmer commented on #2077
Fixed in 2.1

[2020-01-06 20:40] #2077 closed

[2020-01-06 20:41] jaredpalmer commented on #2081
You could create a custom useEffect hook to accomplish this based on values and isSubmitting.

[2020-01-06 20:42] #2081 closed

[2020-01-06 20:44] jaredpalmer commented on #2074
You can move the schemas into their own variables and then share them. Composition like you described is not in the roadmap

[2020-01-06 20:44] #2074 closed

[2020-01-06 20:45] jaredpalmer commented on #2156
You can do this with just JavaScript as long as the function returns an object.

[2020-01-06 20:46] #2156 closed

[2020-01-06 21:09] #2143 closed

[2020-01-06 21:11] jaredpalmer commented on #2134
I think this is a solid solution IMHO

[2020-01-06 21:12] jaredpalmer commented on #2050
Fixed in 2.1

[2020-01-06 21:12] #2050 closed

[2020-01-06 21:15] #1691 closed

[2020-01-07 00:54] andycarrell opened #2172 "validateOnMount: Initial value for is valid should be whether the initial values are valid, when validateOnMount is true"
## 🐛 Bug report

### Current Behavior
When `validateOnMount` is true, initial value for `isValid` is 'true', then validation occurs on initial values (which could set `isValid` to 'false').

Screenshot taken from reproducible example - see console for inconsistency - `isValid` has a different value, for the same form value (empty string in the example):

![image](https://user-images.githubusercont

[2020-01-07 05:32] emrosenf commented on #2138
I'm experiencing this too. Looks like a simple one line fix in `prepareDataForValidation`. [See this issue](https://github.com/FormidableLabs/urql/pull/343)

Change [L1074](https://github.com/jaredpalmer/formik/blob/2151c3e191dbe9b139701ff34791f42b1a3d600a/packages/formik/src/Formik.tsx#L1074)

[code]

To
[code]

[2020-01-07 07:00] bkiac commented on #2083
Thanks for the explanation!

[2020-01-07 08:45] straiki commented on #2083
I understand that, but isn't there way, how to avoid this behavior if `setFieldValue` internally sets field is touched (maybe optionally)?

Or what is, in this case, the best way how to create custom Formik-hooked components that need to set the value (of course) as well as set they're touched - e.g. I don't want to `validateOnChange`, so validation runs when touched is set and therefore validatio

[2020-01-07 09:06] pixelbreaker commented on #2168
@jaredpalmer I would but I'm not exactly sure what the fix is. Is it to do with the react type defs or do we need to exclude `translate` from the `Form` type defs?

[2020-01-07 09:10] dennisat opened #2173 "How to avoid the console.warn: ...but you forgot to pass an `id` or `name`"
## ❓Question

Having `<input>` elements without `id` or `name` attrs, the Formik is complaining that `id` or `name` are required.

Some components in the form might have multiple internal `<input>` elements that are not considered as part of the form but only helpers of some components.

For instance, imagine a Map component with a search bar. The value of the search bar `<input>` is not part of t

[2020-01-07 09:37] helgefredheim commented on #691
@jaredpalmer I add fields to my form when the user fills it out, depending on what s/he selects. The fields which are added are not marked as touched when the user submits the form; thus no error messages are displayed. Is there a way to get around this?

[2020-01-07 11:01] eranabir opened #2174 "Adding setInitialValues Func when using useFormikContext"
## 🚀 Feature request
it will be good idea to add a function to set the InitialValues from the useFormikContext hook
### Current Behavior
cant set initial values out side the Formik Component let say from one of the childrens of Formik

[2020-01-07 12:52] omkar-joshi commented on #2174
I'd like to help with this

[2020-01-07 12:53] omkar-joshi commented on #2168
I'd like to help with this

[2020-01-07 12:54] omkar-joshi commented on #2172
I'd like to help with this

[2020-01-07 14:22] jaredpalmer commented on #2172
Go for it!

[2020-01-07 16:19] jaredpalmer commented on #2174
This is unnecessary. You can store your initialValues object in state above formik and use useState to alter them.

[2020-01-07 16:20] zingerj commented on #1674
Seems like this wouldn't break any existing functionality, but would be super helpful for React Native users (like me!). At the very least a slightly modified `useNativeField` as proposed here would be much appreciated!

[2020-01-07 16:20] #2174 closed

[2020-01-07 16:21] jaredpalmer commented on #691
Correct this is why this change is necessary

[2020-01-07 16:26] jaredpalmer commented on #2173
You’re or the component somehow passing handleChange to these inputs which don’t provide the underlying event. When this happens, I would suggest manually using setFieldValue or the new setValue helper (returned from useField) to set the value of the input instead of relying on the handleChange. See the docs on React Native (since it is the same approach).

[2020-01-07 16:26] #2173 closed

[2020-01-07 16:33] jaredpalmer commented on #2149
This is not possible because there is no way to select slices of useContext, or bail out with sCU/memo on a custom hook

[2020-01-07 16:33] #2149 closed

[2020-01-07 16:34] jaredpalmer commented on #2142
Can you submit a PR?

[2020-01-07 16:34] jaredpalmer commented on #2141
Use setFieldValue and setFieldTouched or the new helpers provided in useField.

[2020-01-07 16:34] #2141 closed

[2020-01-07 16:35] jaredpalmer commented on #2127
Fixed in 2.1

[2020-01-07 16:35] #2127 closed

[2020-01-07 16:35] bschnelle commented on #343
@jaredpalmer can you help me understand why `meta` isn't passed into `component`?

[2020-01-07 16:37] jaredpalmer commented on #2125
Please refer this kind of question to the reactiflux discord chat.

[2020-01-07 16:37] #2125 closed

[2020-01-07 16:37] #2123 closed

[2020-01-07 16:38] jaredpalmer commented on #2120
Is the solution to update react types?

[2020-01-07 16:39] jaredpalmer commented on #2113
Fixed in 2.1

[2020-01-07 16:39] #2113 closed

[2020-01-07 16:40] jaredpalmer commented on #2057
Fixed in 2.1

[2020-01-07 16:41] #2042 closed

[2020-01-07 16:41] jaredpalmer commented on #2042
Fixed in 2.1

[2020-01-07 16:47] jaredpalmer commented on #1674
I agree. Feel free to submit a PR.

[2020-01-07 16:48] zingerj commented on #1674
Would you prefer extending existing functionality, or adding a new dedicated hook, like `useNativeField`?

[2020-01-07 16:52] jaredpalmer commented on #1674
My guess is that this is actually breaking because people have messed with useField’s field.onChange although that was not my intention

[2020-01-07 16:57] jaredpalmer commented on #2138
Feel free to submit PR. Be sure to reference that urql issue too

[2020-01-07 16:59] #2129 closed

[2020-01-07 17:01] jaredpalmer commented on #2099
Fixed in #2103

[2020-01-07 17:01] #2099 closed

[2020-01-07 17:03] jaredpalmer commented on #2109
Go for it with PR. We’ll likely debate naming. It I think this makes sense

[2020-01-07 17:05] jaredpalmer commented on #2088
Can you create a codesandbox to reproduce this behavior?

[2020-01-07 17:05] #2088 closed

[2020-01-07 17:06] jaredpalmer commented on #2086
Fixed in 2.1.

[2020-01-07 17:06] #2086 closed

[2020-01-07 17:07] jaredpalmer commented on #2071
I don’t think this is possible at the moment

[2020-01-07 17:08] jaredpalmer commented on #2066
You can use a ref and call submitForm(). Otherwise you must lift `<Formik>` higher up your react tree

[2020-01-07 17:09] #2066 closed

[2020-01-07 17:09] #2065 closed

[2020-01-07 17:10] jaredpalmer commented on #2047
Can y’all submit a PR to fix?

[2020-01-07 17:13] gwn commented on #2167
Sure, I will.

[2020-01-07 17:19] cargallo commented on #2120
The are actually 2 solutions:
1 - Import @react/types, you can check that there the translate prop is defined as optional.:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L1712
2 - Adding translate="yes" to the Form component in your own code (easiest one if you have an small project or you want to use the bundled React types)

[2020-01-07 17:28] zingerj commented on #1674
Hmm okay, sounds like `useNativeField` would be safer then, but would that overlap too much with the upcoming `useTextInput`, assuming that all `formik-native` hooks would have this behavior built-in?

[2020-01-07 17:30] jaredpalmer commented on #343
Backwards compat

[2020-01-07 17:36] jaredpalmer commented on #1674
Add it to formik native

[2020-01-07 17:43] zingerj commented on #1674
Happy to submit a PR, but just want to make sure I'm doing it right. Wouldn't this change be similar to (or the same as) https://github.com/jaredpalmer/formik/commit/cb71c044855734b9a00d0cd9378eb8b384ccf11c? Or are you basically recommending to do the same thing, but extract to `formik-native`?

[2020-01-07 18:04] jaredpalmer commented on #1674
Yes, but forgot I did that. Isn’t this fixed then?

[2020-01-07 18:06] jaredpalmer commented on #2120
Gosh both are trash. We should add to docs. And update types internally. Can someone make PR?

[2020-01-07 18:06] jaredpalmer commented on #2167
Thanks!

[2020-01-07 18:07] jaredpalmer commented on #2168
Duplicate of #2120

[2020-01-07 18:07] #2168 closed

[2020-01-07 18:10] jaredpalmer commented on #1954
I think this makes all the sense in the world. Can you make a PR?

[2020-01-07 18:11] jaredpalmer commented on #1941
I believe this is fixed in 2.1

[2020-01-07 18:11] #1941 closed

[2020-01-07 18:11] #1907 closed

[2020-01-07 18:12] jaredpalmer commented on #1907
Released helpers in 2.1

[2020-01-07 18:13] jaredpalmer commented on #1906
This can be implemented in user land and published as a custom kind of Field.

[2020-01-07 18:13] #1906 closed

[2020-01-07 18:15] jaredpalmer commented on #2044
I think we should go back to v1 change behavior and revert the v2 tweaks. Closing this as this is a dom limitation.

[2020-01-07 18:15] #2044 closed

[2020-01-07 18:17] jaredpalmer commented on #2000
Seems legit.

[2020-01-07 18:18] #1978 closed

[2020-01-07 18:18] #1969 closed

[2020-01-07 18:18] #1960 closed

[2020-01-07 18:19] #1958 closed

[2020-01-07 18:19] jaredpalmer commented on #1957
Fixed in 2.1

[2020-01-07 18:19] #1957 closed

[2020-01-07 18:20] zingerj commented on #1674
Seems like it was out of date, implement the same thing in #2176, will also update the docs accordingly.

[2020-01-07 18:21] jaredpalmer commented on #1989
Feel free to make PR

[2020-01-07 18:22] #1897 closed

[2020-01-07 18:23] jaredpalmer commented on #1889
Fixed in 2.1

[2020-01-07 18:23] #1889 closed

[2020-01-07 18:24] #1875 closed

[2020-01-07 18:24] jaredpalmer commented on #1875
Fixed in 2.x

[2020-01-07 18:26] #1859 closed

[2020-01-07 18:26] jaredpalmer commented on #1854
You can do this with just the DOM event and listen for actual blur events emitted by the inputs

[2020-01-07 18:27] #1854 closed

[2020-01-07 18:27] jaredpalmer commented on #1853
Agree.

[2020-01-07 18:28] bschnelle commented on #343
can you elaborate? the [docs](https://jaredpalmer.com/formik/docs/api/field) state pretty clearly that `meta` is made available to the `component`, but then it doesn't show up and only after digging into the code is it obvious why it isn't received....just curious why backwards compatibility trumps in this situation

[2020-01-07 18:28] #1836 closed

[2020-01-07 18:29] jaredpalmer commented on #1813
Use validateOnMount

[2020-01-07 18:29] #1813 closed

[2020-01-07 18:30] jaredpalmer commented on #1804
Can someone submit a PR?

[2020-01-07 18:32] jaredpalmer commented on #1804
Yeah we should fix this. All handleX should use event callback.

[2020-01-07 18:33] #2138 closed

[2020-01-07 18:34] cargallo commented on #2120
I do not know @jaredpalmer , I told you the solutions that anyone can make without modifying the library code, the repo already has 53 PR without merge. I think that there is no need to advice this in the docs if you could update types internally, actually you are using 16.9.11 and the latest version with the correction is 16.9.17 so... no breaking changes at first glance.

[2020-01-07 18:36] jaredpalmer commented on #2120
Just update the dev deps of typed then

[2020-01-07 18:37] jaredpalmer commented on #343
That must be a bug then. Can you fix in the code?

[2020-01-07 18:39] BjoernRave commented on #2138
@emrosenf wow, same PR, same moment 🙌

[2020-01-07 18:46] emrosenf commented on #2138
Good timing @BjoernRave! Thanks for your hard work @jaredpalmer, Formik is a super useful library!

[2020-01-08 00:05] petrbela opened #2180 "Setting setFieldValue to undefined doesn't clear text input"
## 🐛 Bug report

### Current Behavior

When calling `setFieldValue('name', undefined)`, Formik correctly deletes the value from the state but doesn't update the Field value.

### Expected behavior

Should update the Field value.

### Reproducible example

https://codesandbox.io/s/formik-setformvalue-to-undefined-doesnt-clear-input-dgqtu

### Suggested solution(s)

🤷‍♂️

### Additional context

N/A

[2020-01-08 01:37] robfr77 commented on #1360
Yes, if one imperatively sets a value after the mapPropsToValues init, how does one later resetForm to the mapPropsToValues initial state?

[2020-01-08 08:30] simoneb commented on #1941
@jaredpalmer the behavior has improved in 2.1.1 but it's not the same as it was in 1.x.

See the updated sandbox here: https://codesandbox.io/s/formik-v2-fieldarray-validation-repro-hrqqj

And the screenshots below. Notice that the 2.1.1 version is "falling one field behind". The when I add a new field to the array the previous ones are validated but not the newly added one, whereas in version 1.5

[2020-01-08 09:56] davidvenin opened #2181 "Invariant violation hook called inside onSubmit"
## 🐛 Bug report

### Current Behavior
I'm using a Hook with saga handler, dispatch, redux and stuff (and working fine outside of Formik) but when calling my function `Core.updateNotification()` it throws me a warning in console and doesn't execute my function at all. It could be on my side but I'm unable to find the issue atm.

![Screenshot 2020-01-08 at 10 47 27](https://user-images.githubusercon

[2020-01-08 10:06] davidvenin commented on #2181
I closed this, sorry. Just think it comes from my hook and not from formik :)

[2020-01-08 10:06] #2181 closed

[2020-01-08 11:25] Creaa commented on #1902
I've found some workaround to this case. Sadly, I didn't use Yup to validate my form generated by API response. So I've had to use validation by function. Each field has a 'validation' object and it contain a regex pattern.

There is example of field level validation:
https://jaredpalmer.com/formik/docs/guides/validation

You need pass additional parameter (this regex pattern) to function, so I bi

[2020-01-08 13:09] rushi812 commented on #1340
@VincentLanglet  `<Field name="email" type="text" label="Email" as={TextField} />` this will work

[2020-01-08 14:35] omkar-joshi commented on #87
At [Velotio](https://velotio.com/), we are using it for almost all the projects built with React.

![VELOTIO+LOGO](https://user-images.githubusercontent.com/26864623/71986214-176dcb80-3252-11ea-9316-42cec4814de7.png)

[2020-01-08 15:19] jbojcic1 opened #2182 "Component wrapped with forwardRef cannot be used with Field component"
## 🚀 Feature request

### Current Behavior

Currently `FieldConfig` has `as` properties of type `React.ComponentType<FieldProps<V>['field']> | keyof JSX.IntrinsicElements | React.ComponentType` and `component` property of type `keyof JSX.IntrinsicElements | React.ComponentType<FieldProps<V>> | React.ComponentType`, while component wrapped with forwardRef has `ForwardRefExoticComponent` type so you

[2020-01-08 20:47] sambrodriguez commented on #2047
I dug a bit deeper, and as mentioned in #1520 (the issue that lead to that PR) Yup doesn't like being passed an empty string when trying to set a min length for a string value. This means if you pass an empty string as the default value and it isn't transformed to undefined (as is currently happening in formik), all validation schema with a minimum length will fail even if the field isn't supposed

[2020-01-08 22:49] oowowaee commented on #1580
Is this fixed?  Using 2.1.1 I also ran into an issue where calling SubmitForm, the returned promise is resolved even though the form is invalid.

[2020-01-09 06:22] petrbela opened #2184 "Checkbox with undefined/null value results in an error"
## 🐛 Bug report

### Current Behavior

When the initial value of a checkbox is `undefined` (or `null`), clicking the checkbox results in an error on [`indexOf`](https://github.com/jaredpalmer/formik/blame/e696e57c97a297b332be66515cbddfc8f4176321/packages/formik/src/Formik.tsx#L1148).

### Expected behavior

The checkbox should update without causing an error.

### Reproducible example

https://cod

[2020-01-09 08:52] eliamaino-fp commented on #2184
You're right, in the fix I made last week I forgot to change this line (https://github.com/jaredpalmer/formik/pull/2159/files#diff-13cb4898b838c74f25fbdd7bb44a139fR1135) to
[code]

The implementation I went for was to keep returning a `boolean` if the value was a `boolean` and to return an `array` otherwise.

Not sure what are @jaredpalmer thoughts about that :)

[2020-01-09 09:47] sombreroEnPuntas commented on #1535
Getting this with `"formik": "^1.5.2",`:
[code]

[2020-01-09 09:48] defusioner commented on #446
For anyone, here is the solution:

[code]

[2020-01-09 10:26] loelsonk commented on #1927
@jaredpalmer using 2.1.1 results in the typescript error. I checked the typescript example in docs:

[code]

[code]

[2020-01-09 10:51] fabb commented on #1989
allright, here we go: #2185

I went for the first of my suggested solutions.

[2020-01-09 11:46] jonlambert commented on #1525
Apologies for the bump, but this functionality would be extremely useful to have. Is it still on the cards?

[2020-01-09 12:02] elja commented on #1811
@82ba10b5e8dc having the same issue in 2.1.1

[2020-01-09 13:01] alegri1 commented on #2098
Just updated to 2.1.1 now and can confirm that the issue is resolved for me

[2020-01-09 13:15] Krasnopir commented on #2098
confirm - everything is ok

[2020-01-09 13:16] Krasnopir commented on #2130
fixed in 2.1.1

[2020-01-09 13:40] #1049 closed

[2020-01-09 14:35] drivasperez commented on #1603
Is there any progress on this? It would make my life easier and I don't mind taking it on, but I don't want to swoop in if it's being worked on.

[2020-01-09 15:39] LiquidPL opened #2186 "Allow access to Yep schema parameters in the field errors"
## 🚀 Feature request

I'm trying to integrate the validation with my currently existing translation strings, some of which may have parameters telling which parts of the validation were broken (ie. `` `this value must be longer than ${min} characters` ``).

### Current Behavior

Currently the error that is provided for the form fields is simply a string returned by Yup/the validate function, there

[2020-01-09 17:15] #1815 closed

[2020-01-09 17:56] kyle-west commented on #2184
I have been getting the same error for almost a week now. Looks like someone just release a fix for it a few minutes ago. #2188 should resolve it.

[2020-01-09 17:56] zachintosh commented on #2184
🎉

[2020-01-09 18:06] petrbela commented on #2184
Btw when the value is set to `'true'` or `'false'`, then it behaves like a boolean even for undefined/null initial value. Not sure if this is intended but it would be a solution for people who want to default to booleans. Just need to manually pass `checked`, too:

https://codesandbox.io/s/boolean-checkbox-with-an-undefinednull-value-ypykg

[2020-01-09 18:31] #2184 closed

[2020-01-09 19:23] lukas1994 commented on #529
could you give an example of how to do it with `useEffect`?

[2020-01-09 20:01] truecolintracy commented on #612
@AndrewAi do you have a link to a codepen that I might look at, I'm not positive exactly what you're looking to do.

[2020-01-09 20:38] #1804 closed

[2020-01-09 21:16] mvargeson commented on #1535
@sombreroEnPuntas Upgrading to the next major version (2.x) should fix that warning or at least it did for me. See [this comment](https://github.com/jaredpalmer/formik/issues/1535#issuecomment-519397011).

[2020-01-09 21:39] #1535 closed

[2020-01-09 22:06] AndrewAi commented on #612
@truecolintracy  thanks for your reply, I actually didnt end up needing to have to dynamic yup validation so I got sorted. Thanks very much

[2020-01-09 22:35] sombreroEnPuntas commented on #1535
@mvargeson but that's a major bump... Is it breaking the api? Or maybe the major bump on the version number does not follow standard version and it is still backward compatible? :)

[2020-01-09 22:40] sombreroEnPuntas commented on #1535
Indeed: https://github.com/jaredpalmer/formik/releases/tag/v2.0.1-rc.5
It is nice to keep the majors alive for some time.
But, can't fight progress! Will have to either drop the dependency or refactor.

[2020-01-09 23:13] mvargeson commented on #1535
@jaredpalmer and team do a pretty good job of tracking changes and keeping documentation up-to-date in my experience. They've even written a [guide for migrating from v1.x to v2.x](https://jaredpalmer.com/formik/docs/migrating-v2). It helped me to read through that to make the determination if I could and/or wanted to make the jump to v2.

[2020-01-09 23:32] jthornca commented on #1858
I just updated my project to release 2.1.1 and it still isn't exported. I assume I have the right version because it also said that FormikActions wasn't exported, but at least the documentation mentioned that it was renamed to FormikHelpers.

![image](https://user-images.githubusercontent.com/48975873/72113307-e7c3cf80-32f4-11ea-9016-f1cc238f38dd.png)

![image](https://user-images.githubuserconten

[2020-01-09 23:58] ltfschoen commented on #751
I'd like to share how I solved a similar situation.

I had two selection box fields A and B using Formik.
Both A and B call a method that is passed to prop `getOptions` and list data that is retrieved
I conditionally rendered B only when the user selected an option in A (via `onNameSelect`) that returned
a value and stored it in `this.state.object.nameID`.
Each time I conditionally rendered B, in

[2020-01-10 01:40] ajsharp opened #2189 "Formik should gracefully handle onChange without a valid event"
## 🐛 Bug report

### Current Behavior

Some libraries like downshift.js don't give you a native event in the change handler. I'm not a fan of this design decision but it is what it is. So if I manually call `onChange` on a formik `Field` with an event, it blows up on this line when it tries to destructure event.target.: https://github.com/jaredpalmer/formik/blob/c959f47d5e87ce4216a9bb4d8393b9c3e94

[2020-01-10 06:50] isoadam opened #2190 "version 2 migration guide does not include removal of setError"
The version 2 migration guide does not document the removal of `setError` from form (not field) actions

Listing this as a breaking change may assist users migrating to version 2

https://github.com/jaredpalmer/formik/blob/master/packages/formik/MIGRATING-v2.md

[2020-01-10 11:31] Menardi opened #2191 "Calling resetForm does not trigger `onReset`"
## 🐛 Bug report

### Current Behavior

Calling `resetForm` does not trigger the `onReset` callback. Using `handleReset` does call `onReset`. Looking at the code, the triggering of `onReset` is inside `handleReset`, which is why it is not being triggered for `resetForm`.

See here:
https://github.com/jaredpalmer/formik/blob/c959f47d5e87ce4216a9bb4d8393b9c3e94d4a66/packages/formik/src/Formik.tsx#L83

[2020-01-10 12:39] hrushilok commented on #683
I am facing same issue. Has anyone have any workaround for this?

[2020-01-10 15:02] ShadiSimplbit commented on #1500
I think this is what you are looking for
https://stackoverflow.com/questions/56742376/react-formik-trigger-validation-only-on-form-submit/56742581

[2020-01-10 17:46] tkrebs2 opened #2192 "Comparing initialValues from enableReinitialize and values in onSubmit"
I have a form that uses `enableReinitialize` to hydrate my `initialValues` from an api call. I have a use case where I want/need to compare `initialValues` and `values` in `onSubmit` to determine what values to send in a request. I don't want to send values that don't differ from what's in `initialValues`.

`            <Formik
              enableReinitialize
              initialValues={{

[2020-01-10 19:33] HannahG0703 commented on #1580
Same.

[2020-01-10 19:37] jaredpalmer commented on #2191
Yeah. Good catch. I must have missed during v2 rewrite. Should be an straightforward PR, if you’re up for it?

[2020-01-10 19:39] jaredpalmer commented on #2189
This is a 4th or 5th issue around handleChange / event handling / currying since v2. Going to make an umbrella so we can centralize and then debate next steps to minimize api churn

[2020-01-10 19:41] jaredpalmer commented on #2186
Hey! Thanks for taking time to explain the use case. I’d be open to seeing a PR around this.

[2020-01-10 19:43] jaredpalmer commented on #2182
Yep. Want to make a quick PR?

[2020-01-10 19:48] jbojcic1 commented on #2182
Sure. I'll do it over the weekend

On Fri, Jan 10, 2020, 20:43 Jared Palmer <notifications@github.com> wrote:

[2020-01-11 09:26] jbojcic1 commented on #2182
You probably know this already but while working on this PR I noticed that CONTRIBUTING.md is a bit outdated and there are some lint issues in formik-native packages so I had to commit with --no-verify flag

[2020-01-11 12:27] ivankoleda commented on #150
Here is what work weel for me.
Quite similar to @t-nunes [example](https://github.com/jaredpalmer/formik/issues/150#issuecomment-549153480), but without changing statuses until next submission.

Examples for both versions

* v1.* https://codesandbox.io/s/backend-validation-formik-demo-v1-1ej5q

* v2.* https://codesandbox.io/s/backend-validation-formik-demo-v2-4fjbc

[2020-01-11 16:32] #2182 closed

[2020-01-11 20:05] petrbela commented on #2184
As I'm switching to React Final Form for performance reasons, I found that they determine whether a checkbox is an array or a boolean simply by the presence of a `value`, which in retrospect seems like an amazingly easy an brilliant solution https://final-form.org/docs/react-final-form/types/FieldProps#without-value

[2020-01-12 02:02] nodox commented on #2130
I have this same problem as well

[2020-01-12 06:30] anilkumarmr opened #2194 "Reset Form after api response using redux"
## ❓Question

Seriously, for immediate help, just ask your question on the #formik channel on [Reactiflux](https://discordapp.com/invite/MbKwYuq).

[2020-01-12 06:33] anilkumarmr commented on #2194
0

I am currently working on a React project which uses Redux and Redux-saga. I am wondering how to make the form reset after successfully completing the async api call. using redux and redux saga am I using the

`resetform({})`
but it immediately resets the form before api is successfully executed

[2020-01-13 02:27] nodox commented on #2130
fixed in 2.1.1

[2020-01-13 07:39] kamilPyrkosz97 commented on #1869
+1

[2020-01-13 09:22] krvajal commented on #2194
You can use the `enableReninitialize` prop as documented here https://jaredpalmer.com/formik/docs/api/formik#enablereinitialize-boolean. And update the `initialValues` of your form when the request finished, assuming they are connected to your redux store.

[2020-01-13 11:04] dennisat commented on #2173
I can handle and save value properly. **This is not a problem.** I use the `setFieldValue`.

First of all, I am using the `useFormik()`.

Because in the `<form>` there is a helper `<input>` that is not part of the form in real, formik receives `change` events from this `<input>` and it complains "you forgot to pass an `id` or `name`".

But this is not forgotten, it is just a helper `<input>` and i

[2020-01-13 13:29] edwandr commented on #2191
I'd be happy to solve it if you haven't the time @Menardi  :)

[2020-01-13 14:10] Menardi commented on #2191
Thanks for the offer @edwandr ! I will try to create a PR as I would like to become more familiar with the Formik codebase, but any feedback once I've submitted it would be greatly appreciated.

[2020-01-13 14:19] paulopretoEI opened #2196 "what's best way to update form fields without re rendering"
## ❓Question

What is the best (correct way) to get the form to update some values, that are dependent on other form fields, without reseting the whole form?
i.e. I have a dropdown that `onChange` needs to call a function that gets values to others fields on the form. So I handle the values assignment on the validate of `Formik`, like this:

[code]

But the problem is that the values of `AutoRenov

[2020-01-13 14:24] lourenci opened #2197 "When adding a new item in ArrayList, yup's `test` is called with an undefined value in Formik v2"
## 🐛 Bug report

### Current Behavior

When adding a new item in `ArrayList`, yup's `test` is called with an `undefined` value. This is not true on `1.5.8` version.

### Expected behavior

According to the `1.5.8` version, the `test` should be being called with an empty value.

### Reproducible example

Try to add a new item in an `ArrayField` and see the errors in the console.

The same example i

[2020-01-13 14:50] anilkumarmr commented on #2194
@krvajal  are you saying that we should keep the form values in redux?

[2020-01-13 14:57] krvajal commented on #2194
Nope, not at all. I am saying that __if__ you keep the `initialValues` data on redux, then you can, after successfully submitting the data, set the new data back into the store and this will make the form reinitialize with the new values. Hopefully this is what you want.

[2020-01-13 15:42] jaredpalmer commented on #2184
Fixed in 2.1.2-canary

[2020-01-13 15:57] MakhouT commented on #1279
Were you able to solve this?

[2020-01-13 15:57] MakhouT opened #2199 "Submitting form outside form in react-native is not working"
Hi @jaredpalmer

## 🐛 Bug report

### Current Behavior
I have a form with 1 textinput and 2 button. The textinput and the search button are being used to trigger a search.
The second button is to open up the camera, scan a QR code and then fill in the textinput with the data found in QR code. The described behavior is currently working as expected.

**The problem** I am having is that when I fill

[2020-01-13 17:43] lourenci opened #2202 "Warning in console when testing Formik v2 with RTL,"
## 🐛 Bug report

### Current Behavior

The Formik v2 is showing warnings in the console when testing with `react-testing-library`. This is not a thing on Formik v1.

### Expected behavior

The console should be clear.

### Reproducible example

The same component tested in the same way in both versions:
[Formik v1.5.8](https://codesandbox.io/s/formik-158-6veus?expanddevtools=1&fontsize=14&hidenavi

[2020-01-13 19:11] #2191 closed

[2020-01-13 19:21] #1989 closed

[2020-01-13 19:29] #1603 closed

[2020-01-13 19:41] jaredpalmer commented on #2199
Can you make a snack on https://snack.expo.io?

[2020-01-13 19:41] #1279 closed

[2020-01-13 19:44] jaredpalmer commented on #2196
`values` are read-only React state and can't be mutated directly. You can set them using `setValues` or `setFieldValue`. To get the behavior you want, you likely want to use `React.useEffect(() => { /* check values and then set them */ }, [values])` in a custom component or hook beneath your `<Formik>` component.

[2020-01-13 19:44] #2196 closed

[2020-01-13 19:45] jaredpalmer commented on #2194
Going to close. My 2 cents/suggestion is to never ever try to sync interim form state outside of Formik.

[2020-01-13 19:45] #2194 closed

[2020-01-13 22:38] elkinjosetm commented on #2084
What's the update on this bug?

[2020-01-14 06:41] httpNick opened #2204 "Correct Pattern for updating Field after onChange of another Field + API call is made"
## ❓Question
I had a question about triggering an API call that updates a read-only field within the form after a set of particular fields are updated. For example I have `textA` and `textB`. if I change `textA` or `textB` I want to call an API to calculate a new value for `textC`. Right now I have `textA` and `textB` set as `Field` components and I have attached an `onChange` handler to each of t

[2020-01-14 10:42] kissthom opened #2206 "[v2]: Field level asynchronous validation does not work"
## 🐛 Bug report

### Current Behavior

From Formik 2.0.1 (with current version 2.1.2 as well) field level asynchronous validation does not work as expected. Although throwing a string in the returned promise formik's errors state will not be updated with thrown error and as a consequence the value recognised as a valid value and form submission is possible.

### Expected behavior

If string is thr

[2020-01-14 10:56] MakhouT commented on #2199
I was reproducing this issue, then I started looking a bit more into it and I found the issue....
https://github.com/jaredpalmer/formik/issues/529

[2020-01-14 11:06] MakhouT commented on #529
Would love an example too please.

[2020-01-14 12:21] EmmanuelQ commented on #87
[iwoca](https://www.iwoca.co.uk/)
![image](https://user-images.githubusercontent.com/17765979/72344158-730fdd00-36c8-11ea-818d-aa642bd78864.png)

[2020-01-14 12:54] anilkumarmr commented on #2194
@jaredpalmer then ho will we reset the form after async operation is executed..
i set `enableReinitialize` and then reset the state values on `componentDidUpdate()` but its not working

[2020-01-14 13:54] fbricenho commented on #2155
This issue exists on 2.1.1 (I personally checked) and still on 2.1.2 according to release notes. I'll use the workaround with useImperativeHandle tho I hope we get back the old functionality 😄

[2020-01-14 13:59] jaredpalmer commented on #2155
@fbricenho It works in 2.1.2. You can now do `<Formik innerRef={ref} />` See: https://codesandbox.io/s/ancient-rain-gl0hw

Now wondering though if we should have used `forwardRef` though? I think that would make a lot more sense. Right?

[2020-01-14 13:59] #2155 closed

[2020-01-14 14:03] jaredpalmer commented on #1103
I think this is actually a huge perf win we should re-explore.

[2020-01-14 14:44] giladv opened #2207 "add submitCount to useField"
## 🚀 Feature request

### Current Behavior

currently there's no way to build a field which shows the error after the field was touched or the form was submitted with the useField hook.

### Desired Behavior

```const [field, meta, helpers, form] = useField(props);```

and:
[code]

[2020-01-14 14:45] jaredpalmer commented on #2204
This is actually spot on for how you should do it with Redux. If you remove the Redux jargon from your solution above, then all you are really doing is passing some setters and state to pure functions that live outside your form. This is perfect and exactly how you should do it.

In addition, depending on your app, you may not need/want Redux at all here. If your async call `fetchNewTextC` is heav

[2020-01-14 14:45] #2204 closed

[2020-01-14 14:48] nilamsavani91 commented on #68
Can anyone provide me an example of how to test mapPropsToValues?

[2020-01-14 17:27] httpNick commented on #2204
@jaredpalmer thanks for the quick and detailed response, this is extremely helpful! I have to dig into some of the tools you're using in this like `React.useEffect` and defining a `Field` using `useFormik` and `useField` (I am just defining `Field` in the template and using the render callback to access `meta`/`form.values`/`form.setFieldValue`), but this answers my question to a T.

[2020-01-14 18:14] jaredpalmer opened #2208 "Use React.forwardRef in <Formik>"
As of 2.1.2, `<Formik>` now allows for an `innerRef` prop. However, we should instead use `React.forwardRef` + `React.useImperativeHandle`. This is more intuitive and closer to best practices. The problem, though, is that `<Formik>` takes TS generics for `Values` and I'm not sure how to express this in TS. AFAICT, you can't because forwardRef returns a constant and constants can't have generics.

[2020-01-14 19:19] andrewpeterprifer commented on #2086
@jaredpalmer could you please provide a minimal code snippet using `<Field>` with `children` that TypeScript shouldn't be complaining about? I'm on Formik 2.1.1 and TypeScript 3.7.4 and I'm still getting the "Binding element 'field'/'meta'/'etc' implicitly has an 'any' type." errors for the example typescript code on the Formik website.

[2020-01-14 19:40] drivasperez commented on #2208
How about:

[code]

[2020-01-14 19:55] jaredpalmer commented on #2208
Submit a PR?

[2020-01-14 20:05] drivasperez commented on #2208
Done!

[2020-01-14 20:41] drivasperez commented on #2208
Ah, never mind, I see the issue.

[2020-01-14 22:00] oste opened #2210 "Output a field value in the error message"
## ❓Question

I am trying to output the field value in the error messaging doing something like this:

[code]

This is giving `TypeError: Cannot read property 'parent' of undefined`. What is the right way to access the field value in an error message?

[2020-01-14 22:04] jaredpalmer commented on #2210
I think this is a Yup question and not a Formik one.

cc @jquense

[2020-01-14 23:13] sebastianpatten commented on #1580
Looks like 2.1.2 is not rejecting when the form is invalid.

[2020-01-15 00:37] PawelJ-PL commented on #1837
I've the same issue. Temporary workaround for me is:
[code]

[2020-01-15 00:52] terenceodonoghue commented on #512
Is there a solution for this, or a plan to prevent blurring a single field from re-validating the entire form? I'm otherwise happy with Formik but this specific issue is infuriating.

[2020-01-15 02:29] davisgreg1 commented on #87
[Autozone(new site coming soon)](autozone.com)

[2020-01-15 04:47] cigzigwon commented on #512
@terenceodonoghue Instead of getting so upset you might want to step back for a minute and re-consider your implementation. I may be able to help with that. How long have you been using Formik? I thought the same at first but now realize that @jaredpalmer has given us everything we need here to solve this. You should start by disabling validation altogether and leveraged the Formik touched prop to

[2020-01-15 05:45] terenceodonoghue commented on #512
My apologies @cigzigwon, I didn't mean to give the impression that I was upset.

My use case was validating the field value both synchronously (eg. 'value can't be empty') and asynchronously (validating value using a GraphQL hook)/

If the async validation failed it would assign the error to `asyncErrorStatus` which could then be read by the field's validate function, but then blurring an unrelate

[2020-01-15 06:22] mariotacke opened #2211 "How would I implement an onValidated callback?"
## ❓Question

I'm working on an auto-save feature for my formik form and ideally, I'd like to trigger a submission each time the form is valid and is done validating. Is there any functionality that provides this hook/callback? E.g. `onValidated`, `onAfterValidate`.

I'm using the `useFormik` hook, but per the docs it does not appear to provide validation hooks out of the box. How would I go about

[2020-01-15 06:38] mariotacke commented on #2211
Looks like I missed this issue: https://github.com/jaredpalmer/formik/issues/172

https://gist.github.com/jaredpalmer/56e10cabe839747b84b81410839829be

[2020-01-15 06:38] #2211 closed

[2020-01-15 08:22] dennisat commented on #602
I couldn't believe that the checkbox would be so hard working with Formik.

Anyway, I found a very simple way to work with it.

_This is the MUI checkbox but I think with will work for native input checkbox as well._
[code]
The `autoLogin` is a boolean variable.
The `value` surprisingly should be hardcoded as a string "true".

[2020-01-15 10:50] andrwo commented on #1415
This is a really good idea. It will allow FastField to be used for those who knows what the external dependency of that field are. It should also be easy to implement since shouldComponentUpdate() gets both old and new props.

My comment is that there should be 2 dependency list, one is a fieldDependency (list of formik fields to monitor for values,touched,errors) and otherDependency (list of othe

[2020-01-15 13:01] vsubbotskyy commented on #512
To put my two cents in, I managed to validate fields separately by ditching `validationSchema` and using Formik's Field component and it's validate prop. And it works, but when I do:
[code]
on input's _onChange_ for instance, I get very annoying lag between keypress and letter appearing in the input. Not awaiting is not an option because I'd be validating against old values.

[2020-01-15 17:00] jarenal opened #2212 "How set fields values from outside (Vanilla JS, jQuery)"
## ❓Question

Hi guys,

I have an hybrid project. Still there are piece of code using jQuery and I need to set values in a Formik form dinamically.

I know how to set values using jQuery doing something like this:

`$('#element-id').val(123)`

And apparently the new value is rendered in the Formik form.

The problem come when I start to browse between the fields, because the modified fields are re

[2020-01-15 18:09] EQuimper commented on #1133
Same error as @dspacejs the only way I was able to fix this issue. Is by removing `validateOnMount` and use `initialErrors={{ phoneNumber: 'Required' }}` but ...

[2020-01-15 18:33] Aeyos opened #2213 "Nesting arrays shows "invalid value" for first level"
**"formik": "^2.0.6",**

Hello, I was trying to make a validation for my data structure but I'm having issues.

It goes like this: I have a matrix of objects from formik:

[code]

so my validation schema is:

[code]

But when I pass validation, on:

[code]

all I get is:

[code]

Even when I pass in the whole structure as initialValue for formik.

Removing a sinle level from the nesting, makes it

[2020-01-15 22:31] mtusk commented on #600
Above URL still didn't work for me... must be case-sensitive. This works for me: https://jaredpalmer.com/formik/docs/api/withFormik#enablereinitialize-boolean

[2020-01-16 09:31] AbdelhalimKhouas commented on #445
Fields that aren't in the initialValues (for exp dynamic fields) object won't be present in "touched" object, when you click submit the touched field will only contain fields that are present in initialValues, for example:
in the example below you will see the errors when submitting and if you check the touched object you will find {name: true, email: true}
`<Formik
                enableReinitial

[2020-01-16 15:01] esvyridov commented on #2213
Your example works for me in sandbox. How do you import Yup?
https://codesandbox.io/s/yup-playground-qq56u

[2020-01-16 16:17] alextrastero opened #2217 "test validationSchema without message not working"
## 📖 Documentation

Sorry if the format is wrong, I just wanted to write my findings regarding the `validationSchema` prop.

I have an IBAN form input where I wanted to add a custom validation (aka `test`).

[code]

In this example the form will submit ignoring the iban test.

I'm not sure this is a bug in yup, as using `schema.isValid` works fine.

[2020-01-16 16:18] alextrastero commented on #2217
Thanks for the great library btw

[2020-01-16 17:04] Aeyos commented on #2213
@esvyridov I'm using CRA, importing yup like this:

[code]

That's just it, yup seems to be doing fine but something must've gone wrong with the integration.

I created a minimal sandbox to show the error:

https://codesandbox.io/s/elastic-matsumoto-c4bmi

[2020-01-16 19:30] unframework opened #2219 "Add shouldValidate param to useField's helper setTouched method"
## 🚀 Feature request

### Current Behavior

The helper object returned by `useField` contains a `setTouched(isTouched)` method. That method accepts only the intended `isTouched` boolean value, and does not allow skipping validation while setting it.

### Desired Behavior

There is a `shouldValidate` parameter on form-wide `setFieldTouched(name, isTouched, shouldValidate)` method that allows skippi

[2020-01-16 19:47] arianitu commented on #2059
I'm running into a similar issue. I have a select dropdown (only 1.) and when I call form.setFieldValue(), the validation runs, but it fails for some reason until I click somewhere on the screen.

I'm also running into this after upgrading to Formik 2.x

[2020-01-16 20:12] tgroshon commented on #1722
I came here to say this.  Big thumbs up :+1: :+1: :+1:

[2020-01-16 21:04] #1722 closed

[2020-01-16 21:04] jaredpalmer commented on #1722
Already done.

[2020-01-16 21:06] jaredpalmer commented on #2212
You can now pass a ref (created by React.createRef) and access all of formik’s fits and state externally (even outside of react).

[2020-01-16 21:16] cigzigwon commented on #512
@vsubbotskyy I also chose not to rely on Yup because it has pros/cons depending on the Formik implementation. The lag is a side-effect of your synchronicity. Since Formik relies on ephemeral state you are blocking IO by overriding onChange directly. What problem are you trying to solve w/onChange in this way? Both of those things happen by default on Formik's onChange handler.

[2020-01-16 21:22] cigzigwon commented on #512
@terenceodonoghue Ahh. Your challenge is dealing with race conditions from back end validation onBlur? That adds another level of difficulty, understood. I think whatever works to get you unblocked but in retrospect. Nix out ur complexity and take note that when passing a validator to the withFormik hook that you get all of the Formik props. So you can implement a filter to validate only touched f

[2020-01-16 21:25] cigzigwon commented on #512
[code]

[2020-01-16 23:10] jarenal commented on #2212
Thanks for your quick response @jaredpalmer !

I will test it tomorrow and I will let you know the result.

[2020-01-16 23:12] arianitu commented on #2083
I'm running into something similar, but it's with validation? Can someone help since this was working fine in Formik 1.x, but is now validation never seems to work correctly when using `setFieldValue`.

I tried the recommendation of using setFieldValue, then setFieldTouched and then validateField, but the field I am using is still not valid for some reason.

My code looks like so (a custom Field.)

[2020-01-16 23:34] arianitu commented on #2083
If I print out the formik values, they look like so (after selecting an option.)

[code]

then another render:

[code]

Then another render which suddenly makes it invalid?

[code]

[2020-01-17 00:25] arianitu commented on #2059
In my case, I enabled `validateOnMount` and I had an `onChange` handler that caused a re-render on <Formik> which then called validate on the initialValues instead of the actual values.

[2020-01-17 00:29] arianitu commented on #2083
I am unsure how to fix this, but my issue was if I enabled `validateOnMount`, it is running the `Yup` schema on initialValues instead of the actual values.

I think I may open another bug report since I think it is unrelated to this.

[2020-01-17 00:56] arianitu commented on #2046
I am running into this as well. My initialValues are being used instead of the actual Formik field values for validation leading to the form being invalid when it is really valid.

Anyone found a solution?

[2020-01-17 06:00] jack482653 commented on #146
I rewrite @dphrag and @george-maged code to support field array:
https://gist.github.com/jack482653/ffd44e0b5c8776c0d12710e32ce69c65

[2020-01-17 06:17] dumbape opened #2220 "Change in behaviour of isValid"
## 🐛 Bug report

### Current Behavior
isValid returns true when the form is just rendered (i.e not dirty) as errors object is empty (no errors).

### Previous behavior
isValid depended on isInitialValid when not dirty, hence by default returned false.

Since isValid is meant to be used to make buttons and stuff disabled, now this change has brought a change. And provided, there are too many instan

[2020-01-17 09:53] dorklord23 commented on #1580
I second @sebastianpatten. The fix doesn't work even in v2.1.2

[2020-01-17 11:01] orta-sanz commented on #529
@lukas1994 @MakhouT minor example:

[code]

It is less elegant than this (IMO):
[code]
I do not know if the example will serve you, even so, good luck! :rocket:

[2020-01-17 11:15] ThomasAribart commented on #213
@jaredpalmer I also have this issue and would like to have a "hasSubmitted" prop in Formik. Would you be interested if I open a PR ?

[2020-01-17 13:12] arianitu commented on #2046
Thank you for your solution @andycarrell , but I don't really want to do that everywhere, this bug is awful, we may downgrade to 1.x.

@jaredpalmer this seems like a pretty bad bug in 2.x, shouldn't initialValues just set the values of Formik and then validation should only act on the actual values?

All our forms are affected since we want Save buttons etc to be disabled before a user can interac

[2020-01-17 13:21] danimbrogno-pml commented on #1603
What's the status of this? I see this was closed, and I can see useImperativeHandle in the codebase in 2.1.2, but I can't pass a ref into the <Formik> component.

I get the TS error: `Property 'ref' does not exist on type 'IntrinsicAttributes & FormikConfig<...>`

[2020-01-17 13:27] arianitu commented on #2046
@andycarrell considering this is from November, I don't think it's going to get fixed soon, so I guess I'll use your solution. This also works:

[code]

[2020-01-17 14:20] jarenal commented on #2212
Hi @jaredpalmer

I've tried to use innerRef reading documentation on Formik and ReactJS but I could not find an example about how to use innerRef.

I thought that when I put <Formik innerRef={this.componentRef} /> I will find a ref attribute or similar in the <form> tag in the DOM. But when I rebuild <form> tag has not new attributes.

I'm doing something wrong?

[code]

then from dev tools I insp

[2020-01-17 14:22] wallymathieu commented on #533
There are some performance improvements that could be done to Formik. For instance move more of the logic into the internal reducer (i.e. for handleChange and ArrrayHelpers).

[2020-01-17 15:21] johnrom commented on #1603
You can get a ref to `formikBag` via `innerRef` prop.

[code]

[2020-01-17 15:34] johnrom commented on #533
@wallymathieu feel free to open an issue (if one doesn't exist already) or PR with either a suggested API or implementation. users need the ability to completely override array and change handling functionality, so we're always looking for ways to improve the balance between dev-friendliness and customizability.

[2020-01-17 15:40] johnrom commented on #2212
@jarenal you would need to expose the ref to the outer world. ref is not an HTML attribute. A ref is actually just a simple object, so instead of the above you could do something like this:

[code]

[2020-01-17 15:44] jarenal commented on #2212
Thanks a lot @johnrom I will test it!

[2020-01-17 16:07] johnrom commented on #213
I have no objection to providing more metadata about the form. It would be pretty simple to add to the reducer. I think a PR would help show effort to get this implemented and be a good first PR, but since it modifies the API be prepared for some back and forth on where this data should live / be exposed.

Now that I'm thinking about it, I don't have formik in front of me but I think I remember th

[2020-01-17 16:23] johnrom commented on #529
If the functionality is really important to the Input instead of the form, I'd use a custom input for this purpose. I wonder if there's any value to expose this on `<Field />`.

(FYI, I'm still on v1 but I'm vaguely familiar with v2, so I may have some of the API wrong below)

[code]

[2020-01-17 16:53] wallymathieu opened #2221 "Formik performance enhancements"
## 🚀 Feature request

### Current Behavior

The current behavior is to send relatively large chunks of information to the reducer.

For instance when dealing with an array of values the change is sent for the entire array. HandleChange computes change when it instead it could be sent to the reducer.

Dispatch and state is in the same context.

### Desired Behavior

The desired behavior is to send

[2020-01-17 17:02] wallymathieu commented on #533
I've opened an issue for it: https://github.com/jaredpalmer/formik/issues/2221

[2020-01-17 18:13] johnrom commented on #2208
Doing a little cheating makes this possible. I didn't test too thoroughly, and honestly I'm not sure FormikContextType is the right type for FormikBag, but if not we need to set it to the correct type.

https://github.com/jaredpalmer/formik/pull/2222

[2020-01-17 19:02] mrmuhammadali commented on #2180
I'm not sure about your use case but you can try giving an empty string.

[2020-01-17 20:31] mrmuhammadali commented on #2170
I don't know if it's desired behavior but I'm able to figure out what changes were committed which caused this:
https://github.com/jaredpalmer/formik/compare/v2.0.7...v2.0.8#diff-5726f9052216350a9c64a497cd89e4bb
It might be helpful to solve this issue.
@jaredpalmer

[2020-01-17 20:32] Eldoza commented on #770
@yh54321 approach worked for me. I was able to gain access to the Field Array helpers. There did not appear to be any performance issues with this approach.

[2020-01-18 01:08] benesva4 commented on #343
It is written incorrectly in the docs. `meta` is not passed to the `component`. I believe it should be crossed out and marked as depricated.

[2020-01-18 06:54] zmeyc commented on #2192
They're undefined because in the code above anonymous dictionary is being passed to Formik's parameter named `initialValues`, no variable is being created. And they're not in props as well.

If I understood the problem correctly, simply declare & init a variable named `initialValues` above JSX code named , pass it to Formik's `initialValues` param, then compare it memberwise with `values` in onSub

[2020-01-18 10:00] mrmuhammadali commented on #2207
All of the registered fields get tocuhed when a form is submitted so there is no need to check for `form.submitCount`. You can fulfill your use case by dispatching `onBlur` event of the field or explicitly calling `helpers.setTouched(true)`.

[2020-01-18 13:57] dumbape commented on #2172
Any progress on this?

[2020-01-18 21:33] TeoTN commented on #1603
To me this looks like an undocumented breaking change that should be included in "Migrating to v2" of docs

[2020-01-19 02:13] kennethacohen commented on #1805
@michaelcuneo any chance you were able to figure anything out here? Think I'm running into the same issue..

[2020-01-19 07:55] giladv commented on #2207
@mrmuhammadali this is only true if you provide initialValues prop with all the fields. otherwise it won't work. very uncomfortable

[2020-01-20 06:39] omkar-joshi commented on #2172
Yeah. Putting up a PR in a couple of days

[2020-01-20 09:37] Its-Alex opened #2229 "Difference between field.value and meta.value in useField hook"
## 📖 Documentation

Hi, this can be good to understand why `value` is duplicated in `useField` hook, we can find it in `meta` and `field`.

Explain if this is exactly the same or if there are some differences in documentation.

I ask this question because switching from one to another in my case fix a bug.

Thanks

[2020-01-20 14:16] TLadd commented on #1133
@EQuimper @dspacejs I think y'all are probably running into https://github.com/jaredpalmer/formik/issues/2046. validateOnMount currently runs on every render if the `initialValues` aren't memoized.

[2020-01-20 15:03] rafalolszewski94 commented on #633
As an addition (because this helped me):
Use as mentioned:

[code]

But also access it in your template via `props.status` or if you prefer object destructuring:

[code]

[2020-01-20 18:22] EQuimper commented on #1133
@TLadd yes thank you, this is the same issue. Work with useMemo

[2020-01-20 18:34] ryandagg commented on #1133
Thank you. This is the only thing that I've found that prevented an issue with `validateOnMount` + `yup` leading to a field always saying it was required, even when the value was a non-empty string.

[2020-01-20 20:04] johnrom commented on #2207
@giladv this is true, and unfortunately is how Formik works. Formik's API isn't currently built around `<Field />` registration, because Fields may or may not be rendered at a given time. InitialValues is described as required at the following locations:

https://github.com/jaredpalmer/formik/issues/445#issuecomment-366952762
https://jaredpalmer.com/formik/docs/guides/form-submission#pre-submit

@

[2020-01-20 20:06] johnrom commented on #1603
@teotn it is quite poorly typed 👎 . We're discussing a real implementation here: #1807

[2020-01-20 21:03] flehoux commented on #1176
I'm having the same issue, is it not possible to have the props typed ? ie:
[code]
With `strictFunctionTypes: true`, the only way prevent this error is with `any` and `Object` (which we don't allow)

[2020-01-20 21:40] johnrom commented on #1176
The correct answer is not to relax the type, but to pass the correct type to `isInitialValid`. Currently, `FormikConfig` only strongly types the `Values`, but `FormikConfig` needs to accept `Props` generic so it can pass `Props` to `FormikSharedConfig<Props>`. Then we should be able to do `isInitialValid={props => !!props.initialValues.firstName}`.

[2020-01-20 22:35] drivasperez commented on #2208
I couldn’t find anything that worked before that doesn’t now. I guess the main concern is: going forward, can you break it going forward in a way that the “as [...component...]” cast won’t complain about?

[2020-01-21 01:35] johnrom commented on #2208
Basically, a `Formik` contributor could change the types incorrectly. I wish we could ignore a specific rule so we wouldn't have to use `as` and we could protect against all the other errors, but for now `as` is the best protection we can get. `as` won't protect against most things, but it'll at least make sure it's kind of the same signature. I made a similar comment here: https://github.com/micr

[2020-01-21 13:20] dsgriffin commented on #1133
Only way it works for me:

[code]

[2020-01-21 15:23] Wombbu commented on #533
@erikras thank you for your reply and all the great work you've been putting on final-form. I think the library is great and definitely very fast.

I have one question: The author of this package said the subscription based model final-form uses under the hood is going to be more fragile when React async rendering rolls out. What's your opinion on that?

[2020-01-21 15:55] johnrom commented on #533
I think we've gotten some really cool responses here, and the information and it's quite an exciting read! However, I worry that a closed issue on Formik's repository isn't representative of a true debate, and maybe there is a better place for it in Reactiflux in one of the general discussion channels. I don't know if Reactiflux would accept something like this, but maybe even a battle of the form

[2020-01-21 16:17] ClementeSerrano commented on #1886
Hi! Any update on this issue?

[2020-01-21 17:15] mentierd commented on #1737
I’m running into the same issue with range fields.  In my case, validation props like min/max are strings that refer to other values in the formik values object. So my range inputs are just components that wrap formik inputs.

I managed to create a workaround by using <Formik> validation callback and using useFormikContext’s setFormikState to register the validation for each field on mounting.

Wh

[2020-01-21 18:36] johnrom commented on #1886
I don't really have the ability to get into this, but it does look like all of the events here are async. Do these tests work without the wizard? It looks like there are some critical misunderstandings of async code in the examples provided.

[code]

Refactoring the above (and I'm just guessing from reading the documentation, I've never actually used the react test library), I'd guess you're looki

[2020-01-21 19:09] otaviobps commented on #1375
Hi @osv, I'm trying to implement it using `useFormikContext()`. You said that:

What I did was create a function that will open a `Dialog` to validate a phone number. I need to access the updated `phone.phoneNumber` field from `Formik`, before submitting it.

I followed the `useFormikContext()` official documentation:
[code]

However the `values.phone` that comes from `useFormikContext()` it's the

[2020-01-21 22:04] KunjPrasad commented on #811
I am making a form with drop-down field that pulls in a list of data when the first time form renders. I am seeing similar behavior where the form-field does not update. In the example below, the "salutation" value can be seen as "Mrs" in "DisplayFormikState", but the salutation form-field initially shows the value "Mr". If I click in name field and then go out (triggering a refresh), then salutat

[2020-01-22 00:02] tnszfr opened #2230 "disable handleChange submit"
## ❓Question

Hi. When i change input text, handleChange becomes active. However it also does the submit operation. I want it to submit when the button is pressed. How can i prevent this?

[2020-01-22 07:48] thexpand commented on #2094
I was about to post the same issue. It's good to have GitHub's issue suggestions :smile:
However, I think you got the link wrong, it's here: https://jaredpalmer.com/formik/docs/api/useFormik#example

But.. yeah - it's the wrong example of a sign-up form instead of Stripe's 2-factor veritication.

[2020-01-22 08:44] rishabhr16 commented on #568
@ksweetie If I have a form that has a lot of nested fields, let's say 4,5 levels deep, would this still be an efficient way to go about it?

[2020-01-22 12:14] rushi812 commented on #446
@defusioner worked perfectly for me! thanks man

[2020-01-22 13:54] ClementeSerrano commented on #1886
Hi @johnrom !

Thanks for your reply, but the problem stills happening :S

Seems that `react-testing-library` don't recognize `fireEvent`s on multistep `Formik`-based forms. In my case, I have a component which renders different `input`s and `button`s based on which step of the process you are (its the same `Formik` form, but changes the inputs and buttons based on `step` state). The test suite le

[2020-01-22 14:38] tachkoB commented on #2120
I am using the typescript react boilerplate, and none of the two have solved the issue..

[2020-01-22 14:51] Nabz1996 opened #2231 "Formik V2 Types"
## 🐛 Bug report

Using typescript, resetForm still expecting v1 parameters, giving this error

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 2.1.1
| React            | 16.12.0
| TypeScript       | 3.5.3
| Browser          | Chrome
| npm/Yarn         |
| Operating System | Windows 10

[2020-01-22 15:00] cargallo commented on #2120
@tachkoB the second solution should work without any doubt. Anyway this two are workarounds and I understand that the library should update it's own definitions to be solved, something that I understand already made in the latest version. Share some code if you want and I can try to help you. Reggards!

[2020-01-22 15:21] tachkoB commented on #2120
This is the error message I am getting right now.

node_modules/formik/dist/Form.d.ts:3:150 - error TS2344: Type '"style" | "title" | "children" | "color" | "translate" | "hidden" | "className" | "id" | "lang" | "method" | "name" | "target" | "role" | "tabIndex" | "aria-activedescendant" | ... 247 more ... | "noValidate"' does not satisfy the constraint '"ref" | "style" | "title" | "children" | "c

[2020-01-22 16:10] johnrom commented on #1886
It looks like you're not returning an element from:
[code]

I'd try logging to console between each set because it's hard to tell where the execution might be stopping.

[2020-01-22 16:14] johnrom commented on #568
I would prefer Formik not modify the values that I pass to it unless I tell it to. Calling a userland function to sanitize your initialValues seems like a good idea.

What if the value of the field should instead default to 0 when null? I think it'd be better to pass a property like `onParse={value => value !== null ? value : ''}`

Related topic: #1525

[2020-01-22 16:24] ksweetie commented on #568
@rishabhr16 It should be fine. I wouldn't worry about pre-optimizing something until you notice a problem.

@johnrom Yeah, I like that idea.

[2020-01-22 16:57] davidroeca commented on #1698
Still relevant

[2020-01-22 17:03] cargallo commented on #2120
@tachkoB I need to see your code. Paste the code where you are using the Form component

[2020-01-22 17:47] tachkoB commented on #2120
I am wrapping material ui with Formik. I have two files, one is a login form, the other a reset password

Login form
__________________
`
import React from 'react';
import Button from '@material-ui/core/Button';
import CssBaseline from '@material-ui/core/CssBaseline';
import TextField from '@material-ui/core/TextField';
import FormControlLabel from '@material-ui/core/FormControlLabel';
import Chec

[2020-01-22 17:56] tachkoB commented on #2120
basically, I am wrapping material ui in formik, and I think that might be the reason why husky which checks for TS errors does not let me commit to git.

[2020-01-22 17:58] tachkoB commented on #2120
import React from 'react';
import Button from '@material-ui/core/Button';
import CssBaseline from '@material-ui/core/CssBaseline';
import TextField from '@material-ui/core/TextField';
import FormControlLabel from '@material-ui/core/FormControlLabel';
import Checkbox from '@material-ui/core/Checkbox';
import { makeStyles } from '@material-ui/core/styles';
import Container from '@material-ui/core/Co

[2020-01-22 18:38] cargallo commented on #2120
@tachkoB firt of all you have to use the following markdown syntax to paste code in JSX here in GitHub, search for more information. Please edit your previous comments to improve readability for future readers. Regarding your problem I think it should be working with translate = "yes" but the error that triggers you is that Form does not accept the property, which is rare. Probably you could creat

[2020-01-23 08:23] tachkoB commented on #2120
hey, yes, sorry for the mess.

https://codesandbox.io/s/strange-burnell-mm855?fontsize=14&hidenavigation=1&theme=dark

now it's giving compiling errors I don't normally have, but the code works.
the problem is when I try to commit, the husky gives me this error

"node_modules/formik/dist/Form.d.ts:3:150 - error TS2344: Type '"style" | "title" | "children" | "color" | "translate" | "hidden" | "clas

[2020-01-23 09:05] sebastian-ludwig commented on #2083
My solution looks like this for form-level validation
[code]

[2020-01-23 12:41] cargallo commented on #2120
@tachkoB You uploaded a sandbox with typescript code inside JS files. I'm sorry but it's getting complicated to help you, I hope someone else can do it. Reggards!

[2020-01-23 16:05] asologor opened #2234 "Migration guide: please mention that `ref` prop doesn't work in v2 and how to replace it with the `innerRef`"
## 📖 Documentation

So I tried to migrate to v2. Luckily I tested it on a form with the `ref` and some pre-submit code.

[2020-01-23 16:29] johnrom commented on #2234
FYI we're testing out a ref implementation here: #2208 . Hopefully we can get somewhere with Ref. In the meantime, it would be ideal to have some language related to the current situation.

[2020-01-23 18:45] msukmanowsky commented on #2021
@good-idea just wanted to thank you for a really well written bug report with an alternative I used to work around an almost identical issue!

[2020-01-23 18:51] SamKirkland commented on #2217
The second param to the `.test()` method is the error message. This param must be a non-falsy value (ex: `""`, `0`, `false`)
You can fix this issue by passing in a string as the second param

[code]

[2020-01-23 19:53] Minho-Lee commented on #87
[Platterz](https://platterz.ca)
![horizontal-large](https://user-images.githubusercontent.com/22223772/73018651-114e2200-3df0-11ea-91e1-6a4d1dadb475.png)

[2020-01-23 21:10] diofeher opened #2238 "Is it possible to use Formik's FieldArray for Nested Arrays?"
Hello, first, thanks for this awesome project. I was trying to use FieldArray in a nested property. Let's suppose it's:

[code]

And when rendering, I'm doing like it:

[code]
When I'm clicking on the AddIcon, it's adding like:
[code]
instead of
[code]

Any guidance on that?

[2020-01-23 21:42] pcwa-ahendricks commented on #2083
So anywhere I'm using Formik 2.x and I use setFieldValue() or setValue() I use the following component within <Formik/> to correctly validate the form. Is this the best workaround?
[code]

[2020-01-24 00:48] emjaksa opened #2240 "Unable to uncheck the checkbox after selection and value is set to an array"
## 🐛 Bug report

After updating formik from v2.1.0 to v2.1.2 the checkbox type sets value to an empty array instead of a boolean. As a result you cannot uncheck the checkbox.

### Current Behavior

Unable to uncheck the checkbox after selection and value is an array

### Expected behavior

Can check and uncheck the checkbox and the form value is a boolean.

### Reproducible example

v2.1.0
https:/

[2020-01-24 12:11] osnofa opened #2241 "Field loses focus (React rerenders) when inside a react-bootstrap-table-next table"
## 🐛 Bug report

### Current Behavior
When trying to write in a formik's Field component inside a [react-bootstrap-table-next](https://react-bootstrap-table.github.io/react-bootstrap-table2/)'s BootstrapTable, after the first change to the value, it will lose focus, presumably react is re-rendering the whole Field.

### Expected behavior
It should be possible to keep changing the value of a specif

[2020-01-24 12:28] #2230 closed

[2020-01-24 17:28] criles25 opened #2244 "onChange event handler for the form itself"
## onChange event handler for the form itself

### Current Behavior

Currently, Formik doesn't have built in support for passing in an onChange event handler to the form. Specifically, an onChange event handler that would fire any time any of the inputs' data in the formik context change values.

For example, we don't have a `handleChange` method passed into the `Form` https://github.com/jaredpalm

[2020-01-24 18:09] osnofa commented on #2244
Correct me if I'm wrong, but I believe it already does that. At least from what I could tell, I've been doing exactly what you mentioned to debug changes to the forms. Here's an [example project](https://codesandbox.io/s/blissful-cori-xmfix)

Or did I misinterpret what you wanted?

[2020-01-24 18:15] criles25 commented on #2244
Oh cool! ^^ will solve my problem.

It would be nice if we could add support for an `onChange` prop to the `<Formik>` component. But your example works for me.

Thanks.

[2020-01-24 18:30] osnofa commented on #2238
[code]

[2020-01-25 16:01] bjenkins24 opened #2245 "Importing a Custom Field Component Not Working"
## ❓Question

Having an issue creating a reusable Input field.

This works fine:
[code]

But I want to build out `MyTextField` in a separate package. As soon as I do that it breaks.

[code]

In the separate package `MyTextField` looks _exactly_ the same as it does when I define it in the same package. This is the error I'm getting:

[code]

I've also tried `useField` instead of `<Field />` the err

[2020-01-25 18:50] johnrom commented on #2245
Hmm. Theoretically this should work if you're using your build tools correctly in both projects. I believe your webpack build for your npm package needs to mark 'formik' as a [webpack external](https://webpack.js.org/configuration/externals/). Here's a webpack plugin that might help, though I've never used it: https://github.com/Updater/peer-deps-externals-webpack-plugin

Relevant Stack Overflow:

[2020-01-25 18:54] StJohn3D commented on #1849
I'm getting the same error despite importing the correct way.
`import { Formik } from 'formik';`

[2020-01-25 19:05] johnrom commented on #1849
@MaffooBristol default exports are a pretty controversial topic, but I personally avoid them because they create the ability to incorrectly name variables. For example, you could write `import React from 'formik';` and spend forever figuring out why React doesn't have a `memo` function.

From a maintenance perspective, in the future we might decide that v7 of Formik uses a new "NewFormik" containe

[2020-01-25 19:44] jaredpalmer commented on #1849
This goes against my coding guidelines. Default exports are not tolerated unless forced by framework-specifics (such as react.lazy or a next.js page).

[2020-01-25 19:44] #1849 closed

[2020-01-25 20:00] UlyssesInvictus commented on #1092
This is still an issue as of 2.1.1 and the thread for the linked PR has been stale for a year. Just commenting so that people can find it if they're wondering what's going on.

[2020-01-25 22:05] bjenkins24 commented on #2245
@johnrom Thank you! Webpack external did it! I feel so dumb! 😄

[2020-01-25 22:05] #2245 closed

[2020-01-25 22:35] cybercoder commented on #2244
Me too, I need to save form data into my store when form values changes, and re-initialize form after mounting again. e.g: When user go back in the wizard to correct choices and back to current page in react-native using ```react-navigation-stack```. It will unmount current screen when tapping on back button.

[2020-01-26 09:03] radulfr96 opened #2246 "Unable to compile formik."
## 🐛 Bug report

### Current Behavior

Upon compilation the user interface loads but quickly shows the error:
![image](https://user-images.githubusercontent.com/20983472/73132962-7e72e900-4076-11ea-81fe-34f317ff255e.png)

### Expected behavior

The module compiles with no problems.

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 2.1.2

[2020-01-26 12:01] Shaker-Hamdi opened #2247 "FieldArray with radio input"
## ❓Question

I'm using `formik 1.5.8` the version right before version 2, and I'm trying to use `<FieldArray />` to generate multiple nested choices for the user (questions and MCQ answers).

Everything works great, but the thing is I want to generate a `radio button` input with each answer to flag this answer as the correct one.

The nested `<FieldArray />` generating fine, but as you know in or

[2020-01-26 13:20] jaredpalmer commented on #2246
Upgrade @types/react.

[2020-01-26 19:41] johnrom commented on #2247
Radio inputs only have one value, which you need to represent singularly in Formik (as opposed to answers[0].correct). There is only one correct answer, so you want to represent it outside of the array.

You can make your method with answer[0].correct work, but I'd recommend against it unless you were planning to support multiple correct answers, at which point you could not use radio inputs anywa

[2020-01-27 00:42] radulfr96 commented on #2246
That did it thanks mate.

[2020-01-27 00:42] #2246 closed

[2020-01-27 07:06] Shaker-Hamdi commented on #2247
@johnrom Thank you for your solution, I managed to solve this in another way, I ditched the radio button altogether and just used a regular normal `button` element to set the answer correct flag to `true` and set others answers' flag in the same question to `false` ...

    <button
    	type="button"
    	className={ values.payload[index].answers[index2].correct
    			? "active"
    			: ""}

[2020-01-27 08:44] cybercoder opened #2248 "Store all form element values in store before submit"
## ❓Question

I did create a form wizard using ```react-navigation-stack``` in react-native.
When going back in the stack previous screen will unmount (natural pop from the stack). So i need a way to save current form element values (not validated and not submitted) when push back. I can't find how i can do it using ```formik```.

Sorry for the question.

[2020-01-27 12:53] b-ponomarenko opened #2249 "submitForm doesn't throw an error"
## 🐛 Bug report

### Current Behavior

The promise don't rejected if form is invalid.

### Expected behavior

The promise will be rejected if form is invalid.

### Reproducible example

https://codesandbox.io/s/amazing-bas-y5jq4

### Suggested solution(s)

### Additional context

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 2.1.2
|

[2020-01-27 14:37] luansantosti commented on #2046
Yep @arianitu this works fine for me.

[2020-01-27 16:07] sahlouls commented on #2003
Any best practices to handle this case ? Thanks

[2020-01-27 16:29] johnrom commented on #2247
Yeah, checkboxes would be a great way to represent multiple correct answers, and you could still use your `.correct = true` shape. I don't have an example, but it'd be similar to what you were initially doing with type="checkbox". You could have a checkbox for `question.HasMultipleAnswers` and if it is checked, switch between your current button technique and a normal checkbox field.

If you need

[2020-01-27 16:36] #2247 closed

[2020-01-27 17:54] MikeSuiter commented on #1525
@joepuzzo So does this only work with the Informed library or have you also figured out how to make it work with Formik?

I have format/normalize hacked into Formik 1 using a custom Field that renders a Formik Field but trying to get it into Formik 2 now and struggling. Formik Material UI library complicates this because they don't pass down onChange, value, etc.:

https://stackworx.github.io/form

[2020-01-27 18:07] joepuzzo commented on #1525
@MikeSuiter To my knowledge its only an informed thing. I maintain Informed and not Formik so I am unsure. All this being said, informed does everything that Formik does so using it as an alternative should be fine :)

[2020-01-27 19:50] justinwaite commented on #1624
@jaredpalmer so is there a workable solution to identifying if validation is happening without hitting the rerender issue?

[2020-01-27 21:01] johnrom commented on #1525
I create wrappers for Field myself, pass them `Field`, and do `onParse` and `onFormat` myself, and it works fine. It would definitely be a bonus if it was implemented in Formik itself, but on the TypeScript side it would depend pretty heavily on [strongly typed fields](#1334).

[2020-01-27 21:06] diofeher commented on #2238
Oh, didn't know nested `FieldArray` were possible. Thanks @osnofa !

[2020-01-27 21:07] diofeher commented on #2238
Thanks @osnofa, I tried something similar but didn't work ! The nested arrayHelpers was adding a object to the root object, not to the nested object. I'm going to try again, though.

[2020-01-27 21:09] johnrom commented on #2238
One note with @osnofa code above, you should rename the inner `arrayHelpers`  to differentiate between inner and outer. If you set the name correctly `<FieldArray name={`skills[${index}].projects`}>`, it should work. If not, please open up a codesandbox with your attempt and I'll take a look at it!

[2020-01-27 21:20] koredefashokun commented on #2172
@omkar-joshi is there any progress on this? If you're still working on the PR, I would really appreciate if you could explain any workarounds for this issue at this time. Also, is there any way to prevent Formik from setting errors after running `validateOnMount`. I would like to set the isValid value, but not have errors on the fields. Thanks for your anticipated help.

[2020-01-27 21:42] osnofa commented on #2238
@diofeher Sorry for the messy response without saying much, I was in a bit of a rush.

Let me just say first that I implemented in my project what you want in yours, its a little different from what I wrote in my answer, but its basically that.

Also, as @johnrom mentioned, you may want to rename the inner arrayHelpers for clarity, and if you create a codesandbox, I also don't mind taking a look.

[2020-01-28 06:55] LFFATE commented on #1624
Looks like you can observe values change to commit some action after validation:

[code]

Mainly depends on your`s purposes. Hope, can help anybody

[2020-01-28 12:15] elhakeem opened #2251 "Updating CDN Link in formik documentation."
## 📖 Documentation
Please update formik cdn link in this documentation page:
`https://jaredpalmer.com/formik/docs/overview#cdn`

to this
`https://unpkg.com/formik@2.1.2/dist/formik.cjs.production.min.js`

For the old one not working

[2020-01-28 15:07] #2234 closed

[2020-01-28 15:38] asologor commented on #2234
Thanks, guys!

[2020-01-28 17:21] mrmuhammadali commented on #2248
One recommended way would be to save values while validating, you can validateOnMount, validateOnChange and validateOnBlur.
If you don't want to validate then you can use `innerRef` prop in formik v2.1.2 or `ref` in v1, to extract the state of values while changing the screens.

[2020-01-28 18:51] redtogin commented on #1525
I assume there are some non-trivial complexities and api choices involved in adding the value cycle for format and parse. And I assume those choices might lock things in, so I would like to just add that I think it would be very nice if format and parse could be implemented in a way that _**_input masking could be added too later_**_ .

The common use-case I have is a date field with DD-MM-YYYY in

[2020-01-28 21:03] BrunoAwdd opened #2254 "I can't use Formik"
just include the line
`import {Formik} from 'formik';`
and the application already presents this screen. I tried everything I could, I'm out of ideas

[code]
[code]

[2020-01-28 22:23] hristof commented on #1580
Not working in v2.1.3 too.

[2020-01-28 23:07] jaredpalmer commented on #2254
Can you create a codesandbox reproducing your bug?

[2020-01-28 23:08] jaredpalmer commented on #2248
@mrmuhammadali this is a good way to do it!

[2020-01-28 23:08] #2248 closed

[2020-01-29 01:17] brycefranzen commented on #1139
I'm still having this same issue.

WORKS:
[code]

DOESN't WORK:
[code]

[2020-01-29 07:47] ShadiSimplbit commented on #1500
[code]
[https://codesandbox.io/s/formik-codesandbox-template-7hu5m](is that are you looking for?)

[2020-01-29 08:09] venniladhanasekaran opened #2256 "I can't use fastfield/field in react native"
## ❓How Can I use FastField/Field component in react native

[2020-01-29 08:16] ShadiSimplbit commented on #2249
[https://codesandbox.io/s/hopeful-meitner-g9m3c](url)

[2020-01-29 10:28] tonyhallett commented on #1500
The behaviour is different in your example.  I am using validateOnChange to clear the error when typing again.

[2020-01-30 01:28] harrison-symes opened #2257 "JsDoc for mapPropsToErrors function uses description of mapPropsToTouched"
## 📖 Documentation
![image](https://user-images.githubusercontent.com/19971385/73412197-bc208c00-436c-11ea-89b0-aab6e6756bc1.png)

As seen above, the jsdoc description for `mapPropsToErrors` is a duplicate of the description for `mapPropsToTouched`

[2020-01-30 04:51] lyquangthai1993 commented on #1285
When array is only one item in this, function remove is working, size >=2 it not working

[2020-01-30 09:04] mblarsen commented on #1026
I noticed that on every key stroke two values always change:

- `errors` an array of unchanged values
- `getFieldMeta` which is a function

I used [Jakob Rask's](https://stackoverflow.com/a/51082563/204610) trace code:

[code]

[2020-01-30 09:23] TheWorm commented on #1026
@mblarsen I am reading Formik's code, it seems that `getFieldMeta` is recomputed each time `errors` changes, so it should be enough to avoid updating `errors`.
Looking at:
https://github.com/jaredpalmer/formik/blob/master/packages/formik/src/Formik.tsx
I see that `state.errors` could be recomputed in the main reducer for the `case 'SET_FIELD_ERROR'`.

`
case 'SET_FIELD_ERROR':
      return {

[2020-01-30 09:30] krudos commented on #1840
you should use setFieldValue to update values

[2020-01-30 10:16] mblarsen commented on #1026
That would surely explain the inequality of the errors, despite being unchanged.

[2020-01-30 13:14] ykharchenko commented on #2061
Hi, @Kinbaum.

I just faced the same issue with initial validation. I tried to use `initialTouched` with the invalid keys object and it works to me.

Example:

`<Formik
        initialValues={initialValues}
        validationSchema={FormSchema}
        initialTouched={{ firstName: true }}
        initialErrors={{ firstName: 'Required' }}
        onSubmit={ handleSubmit }

[2020-01-30 13:15] tanguyantoine commented on #1173
@jaredpalmer thank you for the tips

This did the tricks
[code]

[2020-01-30 13:35] prevostc commented on #811
Or you can set the element `key` like so:
`<Formik key={someId} ...`

This tells react that this element has changed and should be re-rendered.

https://en.reactjs.org/docs/lists-and-keys.html#keys

[2020-01-30 13:37] bganicky commented on #1390
Hi, I need a granular field update as well and can't figure out how to do that. I'm using `<Formik>` component and there's no `touched` on the `onSubmit`'s `formikBag` object.

Is there a specific reason why it's not present there? Just to be clear, documentation is quite honest about it but doesn't mention any particular reason:

[2020-01-30 14:08] samueldepooter commented on #1869
It follows the HTML standard spec, reference https://github.com/facebook/react/issues/13752#issuecomment-524264893

[2020-01-30 14:51] koredefashokun commented on #2229
@Its-Alex which did you use? I'm confused, and I'm not sure which to use.

[2020-01-30 14:52] Its-Alex commented on #2229
@koredefashokun I use the one returned within `meta`, but I don't know why this one works and not the one from `field`

[2020-01-30 14:53] koredefashokun commented on #2229
Thanks @Its-Alex. I'm not sure what the difference is as well. I also think this is something that should be documented better.

[2020-01-30 15:04] Its-Alex commented on #2229
@jaredpalmer Can you answer this ?

[2020-01-30 17:59] rahi-nz commented on #1840
setFieldValue is an event callback that only updates the ref after each render so it doesn't work because every time return previous value in others field.

alexbepple's way works well:

onChange={(e) => {
    formikProps.handleChange(e);
    formikProps.values.dependentValue = calcDependent(e.target.value);
}}

[2020-01-30 18:21] emjaksa commented on #2240
Looks like this was resolved in version 2.1.3

[2020-01-30 18:21] #2240 closed

[2020-01-30 18:28] johnrom commented on #1840
You can also use an effect and a child component. Theres been some discussion of change listeners but we haven't found the ideal API for it yet.

In child component: (apologies for mobile formatting)

[code]

Pros are a more decentralized approach, cons are extra components and a render where they aren't in sync.

I'd recommend against changing properties directly on formik.values! Treat it as an

[2020-01-30 20:02] alexbepple commented on #1840
We ended up doing something slightly more kosher than what I outlined above. `onChange` we calculate the entire new data structure representing the form. Pseudo code: `onChange={e => formik.setValues(updateAllDependentFormValues(e.target.value, formik.values))}`.

It's a bit strange that `setFieldValue` behaves differently from `setValues` (at least in version 1.4.1).

However, we are generally fa

[2020-01-30 21:32] armoredelephant commented on #1139
Seeing this as well with my project. In my case adding an empty array within the object causes it to not update. The data is being added, as I can see it in my <pre /> tag, but the component is not rendering the new fields.

[2020-01-30 23:36] terenceodonoghue commented on #1525
Came here looking for this very solution. 🎉 Looking forward to seeing the PR merged.

[2020-01-31 00:08] ryan-roemer commented on #1777
https://github.com/FormidableLabs/react-fast-compare has landed support for `Map`, `Set` and `ArrayBuffer` in `master` and will publish soon.

[2020-01-31 00:12] ryan-roemer commented on #1339
https://github.com/FormidableLabs/react-fast-compare has landed support for `Map`, `Set` and `ArrayBuffer` in `master` and will publish soon.

We don't have `WeakMap` yet, but are tracking at https://github.com/FormidableLabs/react-fast-compare/issues/36

[2020-01-31 03:28] ryan-roemer commented on #1339
Ah, just checked on `WeakMap` and unlike `Map` and `Set` it's not iterable, so I don't think we can add support to `react-fast-compare` unless someone else here has some ideas?

[2020-01-31 05:20] shashankrepo opened #2260 "touched not working for file input field"

[2020-01-31 05:36] #2260 closed

[2020-01-31 09:35] X-Tender opened #2261 "Validation on blur for certain <Field>s"
Is it possible to tell a `<Field>` that it only validates on blur while all other `<Field`>s are validated by input change? As far as I can read in the documentation you can only specify it in the `<Formik>` element which would change it for all `<Field>`s

[2020-01-31 10:15] pradej commented on #2146
Just happened to me: this is annoying, since I need it to check for a field that is on the root of the object in the deeply nested field. While test() returns false on invalid input, no error is displayed :/

[2020-01-31 13:10] samueldepooter commented on #784
This was a good start but it causes a timeframe where an error does exist (and in my case that would show an error block for a split second).

For my use-case, which involves only validation on submit, I fixed it the following:
[code]

[2020-01-31 13:33] nesibeyyubov commented on #194
You can get it in handleSubmit function (inside withFormik object) as a parametr (in formikBag provides this for you)

[2020-01-31 17:19] ShaneHudson commented on #1172
This still appears to be an issue.

![image](https://user-images.githubusercontent.com/487005/73559912-e433ec00-444d-11ea-90d6-56a81fa7aaf8.png)

[2020-01-31 18:13] ShaneHudson commented on #1172
Anyone who see's this thread, the workaround I used was:

[code]

[2020-01-31 19:02] kelly-tock commented on #349
I too would like to setStatus in the validate function!!!  you can eventually just do it in submit handler, or if you really want to on a custom onChange/onBlur for a field where it has access.

[2020-01-31 20:56] chrisbolin commented on #1339
@jaredpalmer we've released a beta of `react-fast-compare` https://www.npmjs.com/package/react-fast-compare/v/3.0.0-beta.1.

I've cloned `formik` locally and upgraded to it and just the test suite. Anything you want to try out before we release?

[2020-01-31 21:21] danielnmai opened #2262 "setFieldValue automatically nests value that includes dot"
## 🐛 Bug report

### Current Behavior

When setting field value, if the value contains a "." character, it will output a nested object in `values` prop.

### Expected behavior

If the key contains a special character like "." and it is not intended to be used as an object notation, formik should not nest it.

### Reproducible example

[code]

### Environment

Formik: ^1.5.8
React: 16.8.3
npm: 6.9.

[2020-02-01 05:02] ulitiy commented on #1851
@jaredpalmer sorry for being toxic

[2020-02-01 16:53] jaredpalmer commented on #2262
This is a feature not a bug. It allows you to set nested value using lodash’s path syntax.

[2020-02-01 16:53] #2262 closed

[2020-02-01 23:15] danielnmai commented on #2262
So is there a way to disable this nesting behavior? I'm working with items name that sometimes have dot character in them. Currently my fix is not using the `setFieldValue` method at all, instead I use `setValues`

[code]

[2020-02-02 02:21] cawel commented on #2196
If you're calling `setValues()` inside your effect which depends on `values`, wouldn't you create an infinite loop?

[code]

[2020-02-02 03:24] cawel commented on #2196
Something like this makes it possible to have a centralized place where one can have some business logic with the context of all form field values:

[code]

[2020-02-02 11:15] KSVarun commented on #1418
Can you please let know how you did it. I am facing the same issue, where my submit is in my modal and pressing enter is not submitting the form

[2020-02-02 16:21] johnrom commented on #2196
@cawel modifying the values object directly is not supported. For example, if you had another useEffect or other dependency that would run only when one of those values changed, it wouldn't be triggered after you make your changes. It's recommended to always use one of the formik helpers `field.setValue` or `form.setValues`.

We're working on implementing a `parse` prop that would help with capita

[2020-02-02 17:20] jamesremuscat commented on #2213
I've been experiencing the same issue, and I've poked around in the Chrome debugger.

It looks like the `prepareDataForValidation` method is sometimes converting an array into an object whose keys are string representations of the integer indices of the original array, e.g. in some circumstances `"foo": ["bar", "baz"]` is becoming `"foo": { "0": "bar", "1": "baz" }`.

Chrome dev tools seem to be i

[2020-02-02 21:37] jglesner commented on #1007
+1

[2020-02-03 02:40] Aeyos commented on #2213
@jamesremuscat You are correct, it seems that at some point the array was converted into an object, the error message points to this

{"myField":["myField[0] must be a `array` type, but the final value was: `null` (
**cast from the value `{
 "0": {
 "a": "abc",
 "b": "123"
 }
}**`
) If \"null\" is intended as an empty value be sure to mark the schema as `.nullable()`"]}

If I could take a blind gu

[2020-02-03 10:12] jamesremuscat commented on #2213
I think I see the problem. I'll try and draw up a PR later.

[2020-02-03 10:32] cliedeman opened #2263 "FastField analogue for useField"
## ❓Question

I have started migrating formik-material-ui to useField and noticed there is no analogue to FastField for some quick performance wins in specific scenarios.

[Example](https://github.com/stackworx/formik-material-ui/blob/master/packages/formik-material-ui/src/Switch.tsx)
Unfortunately this locks users out of using FastField.

Should there be a useFastField counterpart to FastField?

[2020-02-03 11:54] dror-sh opened #2266 "Validation run on obsolete data when calling setFieldValue multiple times consecutively"
## 🐛 Bug report

### Current Behavior

When setFieldValue is called multiple times consecutively, before Formik's inner dispatch finishes updating the state in between, validation reflects only the last write.

For example, assume the initial values is ```{ x: '', y: '', z: '' }``` and all are required, calling:

[code]

The validation function will run on the following objects:

[code]

And the r

[2020-02-03 13:53] latuszek opened #2267 "Why formik is dependent on lodash and lodash-es?"
## ❓Question
Why formik is dependent on lodash and lodash-es? Shouldn't it utilize only one of the dependencies?

[2020-02-03 20:55] jcolbyfisher commented on #1117
I'll take a stab at adding this to the docs.

[2020-02-03 21:54] 3nvi opened #2268 "Possible perf issues with `useField` helpers"
## 🚀 Feature request

Since `v2.1.0` we can do this:

[code]
Unfortunately, the `helpers` object (and the `helpers.setValue`) gets a different reference on every form update, regardless of whether the field has been updated or not. This means that if a single field got updated, then every other field that utilizes `helpers.setValue` as a prop value will have to re-render as well, regardless of whe

[2020-02-04 03:19] duongynguyen opened #2270 "How to required field using react-number-format?"
Hi everyone,

I have an issue when using react-number-format with Yup to validation. When I validation for the NumberFormat field, It works well with Yup when that field is required field until I refresh the page and type something in the input field then remove all and submit. The message error does not appear although It still is a required field. This issue works well when I refresh the page. I

[2020-02-04 03:42] cawel commented on #2196
I was trying out what @jaredpalmer was suggesting, as an attempt to have a sort of global `onChange` for the form. And hitting the "submit" button would actually do what we expect from the code.

And in order to test what you described, I added another component after `<BusinessLogic />` in which I also put a `useEffect()` and it worked as expected: I could make another transformation (appending a

[2020-02-04 06:04] kanoshin commented on #1736
Yeah, `void` type makes no sense and forces to use type casting. Maybe it was meant to be `undefined`? Why would ever received props have `void` type?

@jaredpalmer do you need help fixing this?

[2020-02-04 15:25] #2142 closed

[2020-02-04 15:26] davidwilson3 commented on #2086
@andrewpeterprifer  @jaredpalmer

This is still an issue for me too.  I'm on Formik 2.1.3 and Typescript 3.7.5 and am receiving these implicit any errors.

Error example: "Binding element 'setSubmitting' implicitly has an 'any' type."  Has anyone found a consistent solution to this?

[2020-02-04 15:26] jaredpalmer commented on #2257
Thanks!

[2020-02-04 15:26] #2257 closed

[2020-02-04 15:30] jaredpalmer commented on #2268
I noticed this too. Not great.

[2020-02-04 15:30] #1117 closed

[2020-02-04 15:56] gaelbonjour opened #2271 "Field Level validation with useFormik"
## ❓Question

What is the proper way to iplement field level validation with the `useFormik`hook ?

It feels like it is intended for the `validate` prop passed to `useFormik` to have two params : the values and the currently validating field name. Isn't that so ?
based on this line : https://github.com/jaredpalmer/formik/blob/5e9440230571df1fe1706a6e52a60df2ff711bde/packages/formik/src/Formik.tsx#

[2020-02-04 18:17] johnrom commented on #2196
@cawel did you try moving the other component _before_ BusinessLogic? It will (or should theoretically) trigger during the initial change, receive the changed values, then never trigger a second time after you've changed the values in your `useEffect`. The solution won't necessarily work for a broad audience, so I wanted to point out possible issues that might occur, and point to the new #2255 for

[2020-02-04 18:26] johnrom commented on #2271
I think this is a duplicate of #512

Currently we validate all Fields and the form itself whenever we validate Formik (using `runAllValidations`).

[2020-02-04 18:57] johnrom commented on #2270
@duongynguyen the issue is that if onValueChange returns a non-number ("" isn't cast to anything), you'll still need to return a value. Using an undefined value actually removes the field from the `values` object.

[2020-02-05 03:42] duongynguyen commented on #2270
@johnrom thank you, John.
My code works well when I implement it to follow your way. So great!!!

[2020-02-05 03:42] #2270 closed

[2020-02-05 10:26] akomm commented on #1985
I think the behavior with async/promise is okay. But the behavior when returning nothing is incorrect. I guess its assumed, when you return and its not async/promise, that the action was sync. But that is a false assumption. In my case I use ractivex (not sure if you handle observables). However I can not return the observable, because I unsubscribe it on cleanup (made a useSubscription hook, whic

[2020-02-05 10:37] akomm commented on #1985
Can confirm it fixed in 2.1 in my case.

[2020-02-05 11:31] agos commented on #1047
same problem here. not so much validation, but for style application when the field is filled. On first render `field.value` is an empty string (as passed in from initialValues), onChange is not triggered until user interaction, so the field is filled but there is no chance to update the style

[2020-02-05 12:47] deanc commented on #90
If anyone is looking for a solution to validate that two fields are the same ONLY when the first one is filled in then here it is. The use-case here is a naive update profile page which only wants to validate the password is being changed if you fill in the field:

[code]

As you can see the `password` field is not required. But as soon as its filled in the `confirmpassword` field becomes required

[2020-02-05 17:14] mrceperka commented on #2266
2.1.3 example with similar issue here - https://codesandbox.io/s/formik-codesandbox-template-9k3i2
1.5.8 is working as it should be - http://codesandbox.io/s/formik-codesandbox-template-j0gmu

[2020-02-05 21:19] Jazzepi commented on #1509
@rohitmalhotra1420 I don't think that's what the user is asking for. The idea is to be able to tell Formik "field A should be its initial value" without having to tell it what it's initial value is. What you've offered looks like it disconnects the field from the form.

[2020-02-06 05:46] shashankrepo commented on #146
Hi @danielberndt, your code works well but there is one issue, when i click submit twice then it scroll up to first error. On first click, it just shows error. How can I fix this issue?

[2020-02-06 10:58] reactislove opened #2274 "handleSubmit not submitting the form?"
I've set up a formik form for a signup page but it isn't submitting the form when I click the submit button. Also as I'm using formik form so there are some props from formik and some props from my parent component. can we use two props from two different components in the one component?

the signup component

[code]

[2020-02-06 12:01] ProteanCode commented on #1308
I know that W3C disallows nested forms, but I think that we all saw such things at some point. In my case pulling this out of main form if not really possible to my knowledge so I am wondering if there is a way to bind the form submission with specific Formik component either by id or key?

[2020-02-06 12:12] #2274 closed

[2020-02-06 18:38] #2213 closed

[2020-02-07 06:28] djsilcock commented on #2268
Came here with this exact issue - the helper functions change on every render so my otherwise memoised component rerenders because the helper functions are different. Haven't hacked around to check yet, but could the helper functions be memoised in useField?

    return [
    getFieldProps(props),
    getFieldMeta(fieldName),
    useMemo(() => getFieldHelpers(fieldName), [getFieldHelpers, fieldNam

[2020-02-07 08:29] tomegz commented on #2266
I confirm the same behavior on 2.1.4

[2020-02-07 09:19] TomaszG commented on #2266
Seem to be introduced in 2.0.1-rc11.

[2020-02-07 14:21] rafaelcavalcante commented on #2220
+1 for the first option, to not deprecate "isInitialValid"

[2020-02-07 14:22] ludwi commented on #2254
I had this problem when I installed Formik in an old project. Quote from the docs:

[2020-02-07 14:55] anastely commented on #1378
Thanks, it's very helpful, but after i call `onSubmit` I reset field using `actions.resetForm();` it does not reset the Picker :\ How can i Solve it?

[2020-02-07 15:15] johnrom commented on #2254
Yep, this is probably an issue with hooks and a pre-hooks React install. @BrunoAwdd try installing Formik v1.x and see if it works. If so, you'll have to update React to use Formik v2.x.

From: https://github.com/facebook/react/issues/14484

[2020-02-07 15:29] johnrom commented on #1378
@anastely in the snippet above, you aren't providing the value to the picker from Formik.
 In the above, remove language from the state of your component altogether (even if temporarily). Instead, try something like this:

[code]

[2020-02-07 15:55] johnrom commented on #2268
If we change this, users may have depended on the helpers changing instead of depending on values changing. Fixing this would be a breaking change. We should note it somewhere.

[code]

It should be an eventCallback though.

[2020-02-07 15:58] 3nvi commented on #2268
I understand and agree. It would be rare though, since the `setValue` changes whenever the `value` changes. So I wouldn't expect to see users doing this:

[code]

instead of this

[code]

since they would be capitalizing on an undocumented side-effect of the way `setValue` was declared.

[2020-02-07 16:06] johnrom commented on #2268
Definitely not expected. Just want to make sure it's noted in the release notes on the off-chance someone gets hit by it. There are some moments where I've sadly had to disable `exhaustive-deps` :(

[2020-02-07 16:31] timrbula opened #2278 "Disable "Nested Objects" behavior"
## 🚀 Feature request
A prop to disable the "nested objects" conversion of dot notation input ids to nested value objects on change.

### Current Behavior
It works great as documented to "use lodash-like dot paths to reference nested Formik values".

### Desired Behavior
Have a prop on `Formik` to disable it. Aka how things worked ~18 months ago. Sorry.

### Suggested Solution
`enableNestedObjects`

[2020-02-07 17:19] johnrom commented on #2278
Another thing to think about: what if someone needs to use both? I think of all the options I can think of, I think I'd want the control of manually transforming the names. Alternatively, managing keys as a nested object then flatting them via `reduce` during submission. Often the dot in these scenarios represents a nested value anyway, transformed into a flat key value store.

I've often wondered

[2020-02-07 17:34] rafaelcavalcante commented on #2268
I just noticed this issue. It's weird because the methods between `meta` and `field` are inverted. I can use setValue from `meta`, like: `meta.setValue`.

Hope it helps whoever's in a hurry and lets stay tuned into future  updates

[2020-02-07 17:39] johnrom commented on #2268
@rafaelcavalcante , `useField` returns a tuple, which means the values are in the same order no matter what you name them. I think you must have done something like `const [field, helpers, meta] = useField(name);`, but it must be in the order `[field, meta, helpers]`.

[2020-02-07 19:02] josejulio opened #2279 "Strange behavior when using schema Yup.lazy"
## 🐛 Bug report

### Current Behavior

When using the following schema:
[code]

The `isValid` value is not always accurate, this depends on the `initialValue`.

For example, If is set to `initialValues={{ numbers: [ ] }}` and you add and remove a value, `isValid` is `false`, It should be `true`.

If we have  `initialValues={{ numbers: [ 1, 2, 3] }}` and we remove every element, `ìsValid` is correc

[2020-02-07 19:05] anastely commented on #1378
@johnrom very well, Thank you

[2020-02-07 19:37] TLadd commented on #2046
Haven't tested it yet, but this looks to me like it would fix the bug: https://github.com/jaredpalmer/formik/pull/2243

[2020-02-07 19:37] #2046 closed

[2020-02-07 20:31] treyhuffine commented on #2266
I'm seeing the same issue as well in 2.1.4

[2020-02-07 21:41] samuelpetroline commented on #2146
I ran into the same issue. I noticed that adding a `test` in the root object causes the error to not be thrown by Formik.

Tracking down the source, I noticed that this behaviour is caused by the error path being empty, as stated in this function:
https://github.com/jaredpalmer/formik/blob/f117c04738ed218b5eb8916d7189e0849962d50d/packages/formik/src/Formik.tsx#L1061-L1073

[According](https://gith

[2020-02-08 18:43] ypresto commented on #2249
It is catched here.
https://github.com/jaredpalmer/formik/blob/f117c04738ed218b5eb8916d7189e0849962d50d/packages/formik/src/Formik.tsx#L841

I want to handle promise rejection error to send it sentry or etc.

`Formik.errorHandler = () => ...` or something else?

[2020-02-08 22:42] cawel commented on #2196
@johnrom so what would you recommend if I would like to make changes to some arbitrary field values, when some other field values change. I'm looking for a sort of form-level `onChange()` callback.

If I call `setValues()` from within a `useEffect` which depends on `values`, it will create an infinite loop.

[2020-02-08 23:30] johnrom commented on #2196
You should check if the useEffect actually causes a change. If it doesn't, don't call setValues. Infinite loop averted. You can also make useEffect dependencies more specific, which I always recommend. Assuming you parsed uppercase using a custom onChange function instead, your initial full name function would then be:

[code]

This could technically be subject to race conditions, so it might be g

[2020-02-09 11:34] kennylbj commented on #706
Maybe the acceptable workaound is to move the error validation function from custom component to formik's validate handler, As far as I know.

[2020-02-10 14:50] sakhmedbayev opened #2281 "Gatsby Building static HTML failed: Cannot read property 'getFieldProps' of undefined"
## 🐛 Bug report

Getting this error on gatsby.js' build command

[code]

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | ^2.1.4
| React            | ^16.8.6
| TypeScript       | n/a
| Browser          | latest Chrome
| npm/Yarn         | Yarn
| Operating System | iOS

[2020-02-10 15:18] johnrom commented on #2281
Can you make sure you're using `useField` underneath a `<Formik />` or `withFormik`  in the component hierarchy?

This would happen if you did something like:

[code]

[2020-02-10 15:31] sakhmedbayev commented on #2281
@johnrom here is how I am using it:

[code]

and then in `CustomInput`

[code]
Interesting enought that whiel in gatsby's dev environment everything works.

[2020-02-10 16:04] sakhmedbayev commented on #2281
My bad... :-( found another place where `CustomInput` was used outside Formik's context

[2020-02-10 16:04] #2281 closed

[2020-02-10 16:23] johnrom commented on #2281
Awesome! Glad it was as simple as that, and glad I could help!

[2020-02-10 17:02] specialorange commented on #1374
Updated code example

https://codesandbox.io/s/formik-multiple-form-in-one-submission-5qmt2

[2020-02-10 20:38] timurcatakli commented on #1385
Can you try this?
[code]

[2020-02-10 21:30] johnrom commented on #1817
There are multiple issues going on in your sandbox. WithFormik HoC does not accept extra options, but the resulting component does accept extra _props_. However, you _cannot_ pass it a handleChange prop, because handleChange is replaced by formik's handleChange prop. Instead, you can pass a _different_ prop and use it as a change handler.

Sandbox example: https://codesandbox.io/s/withformik-codes

[2020-02-11 05:42] auginator opened #2282 "Update Local Setup Tutorial in v2.1.4 Docs"
## 📖 Documentation
### Tutorial Local Dev Instructions for v.2.1.4
I was running through the tutorial, and I noticed that the instructions refer to different source files than the CodeSandbox used in the web-based flow (a tick-tack-toe board).

I forked the repo and took a stab at updating the tutorial's instructions for local setup to create a starter environment based on the [codesandbox used fo

[2020-02-11 07:35] charleskoehl opened #2283 "typos in mapPropsToTouched documentation"
## 📖 Documentation

Typos on [this page](https://jaredpalmer.com/formik/docs/api/withFormik#mappropstotouched-props-props--formiktocuhedvalues):
- "FormikTocuhed<Values>"
- "... make these values available to the new component as props.errors"

[2020-02-11 09:50] topratedpvtltd commented on #45
How to disable submit button if I have three image upload inputs and the user has selected all the images. So I want to disable submit button whiles images are getting uploaded.

[2020-02-11 10:30] lagesag commented on #1873
And in the meantime, the docs could say that it's better not to have two calls to `useField()` for the same `name`.

I also ran into this issue, because I have two closely related fields and I need a common parent component to coordinate them. I thought `useField()` (`value`/`setValue`) would be a better option for this parent component than `useFormikContext()` (`values`/`setValues`), but it was

[2020-02-11 13:55] ProteanCode opened #2284 "The docs are misleading about async validation"
## 📖 Documentation
https://jaredpalmer.com/formik/docs/guides/validation

In your validation guide you use the `setTimeout` example to validate something nonexistent.

What if I have to store a product and display optional errors returned from server? The logical flow is to make that request in `submit` method, not in validate because validation is a boolean operation which should not modify the d

[2020-02-11 16:50] pietmichal commented on #489
This is even more relevant now because async validation now triggers `act` errors in tests when using React Hooks.

[2020-02-11 19:01] anant-singh commented on #2268
Is there a resolution in works for this or we just have to turn off `exhaustive-deps` and not put `helpers` in the dependency array?

[2020-02-11 20:14] johnrom commented on #2268
@anant-singh I don't think anyone's actively working on this if you'd like to open a PR.

[2020-02-12 00:29] charleskoehl commented on #1449
The [docs](https://jaredpalmer.com/formik/docs/api/formik#onsubmit-values-values-formikbag-formikbag--void--promiseany) say,

"IMPORTANT: If onSubmit is async, then Formik will automatically set isSubmitting to false on your behalf once it has resolved. This means you do NOT need to call formikBag.setSubmitting(false) manually. However, if your onSubmit function is synchronous, then you need to ca

[2020-02-12 06:17] javierguzman commented on #1449
@charleskoehl that would work if you are only interested in the submitting state, but if you want to change another state, then you can hit this problem as far as I remember.

[2020-02-12 06:45] nnaku commented on #2249
as #2104  says  submitForm will throw error only if error is instance of Error 😩

Im not sure but, what if we throw Error and object literal here
https://github.com/nnaku/formik/blob/3fec628d31ec27ff8f168b9562f874fc640e4a7a/packages/formik/src/Formik.tsx#L801-L805

and test reason (instance of Error) here.
https://github.com/nnaku/formik/blob/3fec628d31ec27ff8f168b9562f874fc640e4a7a/packages/formi

[2020-02-12 08:35] richmeij commented on #1500
I have a similar use case where I want to do simple validations on change (e.g. required) and a more complex/expensive validation on submit.

[2020-02-12 08:55] ankurpata commented on #2044
Is this resolved ?

[2020-02-12 09:39] dineshrsharma commented on #2238
Hi All,
I am looking for something similar.
Based on user input value, I want to add an object in sibling array.

Example:
{
  count: "2",
  skills: [
    {name: "aws", projects: [1, 2, 3]},
    {name: "aws", projects: [1, 2, 3]}
]}

Any input will be helpful.

@diofeher any luck for you?

[2020-02-12 14:30] osnofa commented on #2238
Here's a working example using [CodeSandbox](https://codesandbox.io/s/infallible-wilson-fbcoh).

[2020-02-12 17:16] johnrom commented on #2044
It will be fixed by #2255

You'll be able to format from any internal Formik value to a string, then parse the string back to number, boolean, etc, circumventing the issue.

[2020-02-12 22:17] charleskoehl commented on #1730
I've tried a few ways to get my onSubmit function to return a promise but isSubmitting is still set to false immediately. How are you doing it?

[2020-02-13 01:39] ytimocin commented on #1392
Is there an issue reported about this?

[2020-02-13 10:23] cliedeman commented on #2263
Found a PR with discussion https://github.com/jaredpalmer/formik/pull/1772

[2020-02-13 10:23] #2263 closed

[2020-02-13 16:00] jsmith-phoenix commented on #87
[Hakkiri](https://www.hakkiri.io)
![hakkiri-logo-text@100px](https://user-images.githubusercontent.com/24377680/74453181-0bc48480-4e50-11ea-8b69-2cc09ac50284.png)

[2020-02-13 16:34] jimmyn commented on #1580
Seems in 2.1.4 it is still an issue

[2020-02-13 21:00] rjray opened #2287 "Need a more complete example of innerRef usage"
## 📖 Documentation
Currently, the `innerRef` property is documented under `<Field />`. However, putting it there results in a warning to the console. Other readings indicate that it should be passed to the `<Formik />` element. But there is no indication of how to then use the ref to access actual form DOM elements (such as to set focus on a specific field).

[2020-02-13 21:24] rjray commented on #2287
For reference, this is the warning I get:

[code]

The use of `innerRef` in the `<Field />` component was:

[code]

[2020-02-14 02:46] 5t33 opened #2288 "Typescript handleSubmit does not include Promise<any> return option"
## 🐛 Bug report

Pretty simple, it says in the docs here:

https://jaredpalmer.com/formik/docs/api/withFormik#handlesubmit-values-values-formikbag-formikbag--void--promiseany

that you can return a promise from the handleSubmit function, however it isn't included in the withFormik handleSubmit typescript definition. I tried submitting a PR but it doesn't look like I have access.

### Current Behav

[2020-02-14 04:26] muhfs94 commented on #222
+1

[2020-02-14 11:29] Niondir opened #2289 "Array value handling without "FieldArray""
## 🚀 Feature request

### Current Behavior

Currently I need either the `ArrayHelper` from `<FieldArray>` or write the following to add an item to an array:

`formik.setFieldValue("roles", insert(formik.values["roles"], 0, value));`

### Desired Behavior

I would like to have some simpler API on the formik object like:

[code]

### Suggested Solution

I suggest to simply extend the formik context

[2020-02-14 12:35] ProteanCode opened #2290 "What is the current way of defining the ref for an innerRef attribute using TypeScript?"
## ❓Question

Currently the innerRef has signature of `(instance: any) => void` which does not fit any type I can remind of, like `FormikProps` or `FormikHelpers`

Before that when I was using the 1.5 version where I could call methods like `setFieldTouched` on the ref therefore an inner Ref should be of type `FormikHelper` or at least inherit it. The `(instance: any) => void` looks broken

[2020-02-14 12:53] nfantone commented on #1524
What's the state of this after some months now? Today I had a request to add some async validation to an existing `formik` form and stumbled upon this issue.

What's the recommended path forward for now? Should I stick with "legacy validation" or should I avoid it even though it's still working on current releases?

[2020-02-14 13:09] ProteanCode commented on #2208
It touches https://github.com/jaredpalmer/formik/issues/2290

[2020-02-14 15:12] ProteanCode commented on #2290
Since TypeScript is not really helpful i used `as` casting.

`<Formik innerRef={instance=>{formikRef=instance}}` {...otherProps}/>`

This however makes a non-constant `formikRef` variable

`let formikRef = useRef(null) as any;`

I do not think this is correct way with 2.x

[2020-02-14 16:23] johnrom commented on #2290
We do currently use any. You are free to open a PR to change the innerRef to the signature that I wrote for useRef here: #2222

[2020-02-14 16:29] johnrom commented on #2287
@rjray you're using a custom component which means you'll receive `innerRef` as a prop instead of `ref`. Not sure the reasoning behind that. Your component should look like:

[code]

[2020-02-14 16:59] johnrom commented on #222
onFocus extra prop should be passed from `<Field onFocus={event => console.log(event)} />` to any of the normal inputs (number, select, etc).

In terms of TypeScript, however, the typings on field are not capable of inferring the type of onFocus, so it will come through as `any`, and you'll have to make the signature something like:

[code]

Child render func does not receive extra props like onFo

[2020-02-14 19:48] nativanando commented on #811
you guys just need to follow the steps bellow:

1. Set the enableReinitialize on Formik component,
2. Set an initial state for the initialValues variable (useState for who is working with hooks)
3. Update your side effect (useEffect for who is working with hooks  or componentDidMount / componentDidUpdate)

[2020-02-14 20:17] stephanie-saretsky opened #2291 "TypeError: Cannot read property 'validate' of undefined"
## ❓Question

I am getting the error `TypeError: Cannot read property 'validate' of undefined` when running a chai-enzyme test, followed by the warning: `console.warn node_modules/tiny-warning/dist/tiny-warning.cjs.js:13
    Warning: Formik context is undefined, please verify you are calling useFormikContext() as child of a <Formik> component.`

This is the render of my formik component:
 ` render

[2020-02-15 06:50] vaibhavhrt commented on #1278
@jaredpalmer  what if on value change (or field blur) I want to immediately make an API call to check if value is valid and set error then, so that users can see errors and correct them before submitting form.
A common use case is to check if username is available in signup forms.

[2020-02-17 08:26] ProteanCode commented on #2290
`TypeError: formikRef.setFieldTouched is not a function`

[2020-02-17 15:34] johnrom commented on #2290
@ProteanCode are you using `innerRef`? My PR using `ref` itself is a draft, but you can take the same types I used to implement `useRef` to open a PR for innerRef, and it might be accepted, which should solve your issue with `any`.

[2020-02-17 15:58] enheit commented on #1837
Also you are able to [render props](https://jaredpalmer.com/formik/docs/guides/react-native) approach instead of `useFormik`.

If it fits your needs.

[2020-02-17 21:25] 5t33 commented on #2288
Think I could just submit a PR?

[2020-02-17 22:53] carolinmaisenbacher commented on #1997
I came across the issue again.
This time I realised, the validation only fails, when the developer tools are opened while editing a form in Firefox Developer Edition.

That makes the bug in my opinion irrelevant and I would suggest to close this issue.

[2020-02-18 01:30] jamesmosier opened #2292 "initialValues being reset causing dirty to be incorrect (v2.1.4 regression)"
## 🐛 Bug report

### Current Behavior

As of v2.1.4, `initialValues` cannot be counted on to not change during the duration of a page load. [These lines](https://github.com/jaredpalmer/formik/compare/jaredpalmer:2852cdb...jaredpalmer:747fd89#diff-13cb4898b838c74f25fbdd7bb44a139fR439-R443) introduced in `v2.1.4` will now update `initialValues` **anytime** the `props.initialValues` changes. Therefor

[2020-02-18 02:03] ORESoftware opened #2293 "Validation library that works with Formik, which also is written in TypeScript"
https://github.com/jquense/yup/issues/778

Right now we pairing formik with Yup. However yup is not written in TS and we want to use libraries written in TS for our front-end. Is there a recommended library to plug into Formik which is written in TS?

[2020-02-18 08:31] fonbrauzen commented on #1633
In case someone still interested (ts + Formik + MS Fabric UI for controls (but could be any other custom controls))
for sure decoration with change handler can be done also with UseEffect or HOC.
form example:
`<form onReset={formikBag.handleReset} onSubmit={formikBag.handleSubmit} {...formikBag} > //currently Formik have problems in ts with Form, so I used fallback
          <FabricDropdown

[2020-02-18 12:09] gmltA commented on #1616
The same problem is applicable to 'touched' state of array field. Field state gets removed from 'touched' object as soon as the last item is removed. That's not right.

[2020-02-18 13:24] delphin92 commented on #106
I still have this issue:

[code]

I am changing the value from 2016-01 to 2020-02. The validation was called twice, with new and old value:
[code]
So, field was marked as valid, that is incorrect.

I was forced to WA:
[code]

[2020-02-18 19:10] jamesmosier commented on #2293
Wouldn't https://www.npmjs.com/package/@types/yup suffice if you wanted the typings? Or is there some advantage I'm not aware of for a 3rd party codebase that is written in typescript?

[2020-02-18 19:22] keddisa commented on #698
If you're using Yup for validationSchema, Yup has it's own validation method that you can run in your lifecycle methods pre form render

Something like:
const isInitialFormValid = await validationSchema.isValid(initialValues)
(that returns a boolean)

and then you can assign isInitialFormValid to Formik's isInitialValid

<Formik
              initialValues={initialValues}
              validationS

[2020-02-18 21:30] kaldebert commented on #2053
👍 This is a must-have feature ! Can't wait to have this.

[2020-02-19 04:08] sgronblo commented on #271
Couldn't you just have two separate callbacks? `onValuesChanged` and `onNewValidValues` or something?

[2020-02-19 04:45] totaland opened #2296 "FieldArray slow on large data"
## ❓Question
I have a form that renders 1000 checkboxes. I use FieldArray to do it however the form getting a very slow response after clicking on the checkbox. What can I do to improve the performance and make it smoother and not feel cranky? Many thanks

![image](https://user-images.githubusercontent.com/36496259/74802735-7846f400-5326-11ea-8985-730be509a9ba.png)

[2020-02-19 04:59] danielbyun commented on #150
@ivankoleda Thank you for your examples, I was able to implement Formik with server-side validation. Just one minor thing tho, a little bit of inconsistency in the `dirty` variable.

At times with the error, the `dirty` variable will be set to `true` so that the user can reset the form, but other times it will not set it to `true` so the user has to reset the form one by one.

How do I fix this is

[2020-02-19 10:23] btiwaree commented on #2172
Hi @omkar-joshi any update on this? appreciate your contribution towards OSS.

[2020-02-19 12:02] egoreburial commented on #2092
+1 Same is for connect() - not returning validationSchema too! It was important for me to mark required fields with hint, depending on schema - now i can't find any way to get it!

[2020-02-19 20:16] washingtonsoares commented on #1476
Any updates on that?

[2020-02-19 22:13] MikeSuiter opened #2297 "FastField doesn't set initial value with type="checkbox""
## 🐛 Bug report

### Current Behavior

When using FastField and a checkbox's initial value is true the checkbox isn't checked. The code sandbox shows that Field works but FastField doesn't.

### Expected behavior

Checked on true

### Reproducible example

[![Edit Formik FastField checkbox bug](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/formik-codesandbox-tem

[2020-02-20 00:12] totaland commented on #2296
@jaredpalmer any suggestions mate?

[2020-02-20 10:26] ghsamm opened #2300 "Codesandbox links not working"
E.g here [https://github.com/jaredpalmer/formik/tree/master/examples/dependent-fields](https://github.com/jaredpalmer/formik/tree/master/examples/dependent-fields), codesandbox link is not working. It shows the error:

[code]

[2020-02-20 11:15] vleandersson commented on #601
The reason for this is that Formik will not use the transformed values from the validation, but rather the original ones. So, using any transform methods from Yup with Formik will not have any implications on the final submit body. You will need to manually handle this. One example of such an implementation can be found on https://github.com/jaredpalmer/formik/issues/473

[code]

[2020-02-20 14:27] Rich43 commented on #2120
Upgrading `@types/react` worked for me, thanks.

[2020-02-20 15:02] johnrom commented on #601
Also, check out [format and parse](#2255).

[2020-02-20 19:00] keithjgrant commented on #2109
Something like this would be really helpful. I don't even need the "fine grained" control.

We've had multiple times during development when a form is not submitting and it's a real pain to track down exactly why if our UI is mishandling a field error.

[2020-02-20 19:12] 1000hz commented on #2021
This feature would be immensely useful.

I'm curious why you think this should return an object rather than just a bare string of the error. It seems like that would be more intuitive, where `validateField("some.field[5].value")` returns the next value of `errors.some.field[5].value`

[2020-02-21 09:35] mhienle opened #2303 "How to set top-level form status in submit handler?"
## How to set top-level form status in submit handler?
I'm aware that one can use `actions.setStatus` inside the submit handler of the `Formik` component. However, AFAIK I cannot access the current status of the form, so if I want to use a complex status I can only overwrite the whole status.

I'm looking for something like this
[code]

Is there a reason to hide the form's state and only expose th

[2020-02-21 10:20] vleandersson commented on #601
Amazing update @johnrom

Until that is in, I've created a small set of helpers to solve this issue outside of Yup and Formik: https://www.npmjs.com/package/formik-yup

[2020-02-21 10:21] vleandersson commented on #473
A PR to solve and simplify this is on its way in https://github.com/jaredpalmer/formik/pull/2255

Until that is in, I've created a small set of helpers to help out with this issue. https://www.npmjs.com/package/formik-yup

[2020-02-21 11:26] igorkrup commented on #1950
I don't think is fixed. I forked @Martaver sandbox and changed to version `2.0.4`

https://codesandbox.io/s/formik-example-jwwu5

I console.log `isValid` and initial is always `true`, then after first rerender it becomes `false`

[2020-02-21 12:13] mustafawm commented on #1950
@igorkrup yeah... I ended up using hannupekka's useEffect workaround.

[2020-02-21 15:06] KevinAsher commented on #2249
Yeah, this creates an issue for the use case of a global error handler. Since unhandled promise rejections won't bubble up anymore, we will have to manually do the unhandled error logic (send to error tracking service, show unexpected error UI to the user and etc) on all of our forms.

[2020-02-22 02:05] sgnl commented on #1730
updating the documentation to mention that "Returning the promise" will give `isSubmitting` a better, not flakey value of the form's submittion state - would be awesome

Have you tried something like:

[code]

[2020-02-23 19:52] mhaagens commented on #2162
You can remove the property from props and omit it from the interface as a workaround.

Destructure props:
[code]

Interface:
[code]

Not exactly ideal, but...

[2020-02-23 21:02] ivankoleda commented on #150
@danielbyun `dirty` variable and Reset button hasn't been removed after forking default formik codesandbox they are redundant here. However it has no impact on validation. If I missed something please describe some real life case or create sandbox where described behavior creates some inconsistencies.

[2020-02-23 22:58] pierreneter opened #2304 "validationSchema does not run all as full schema prior to submitting if a field on focused"
## 🐛 Bug report

### Current Behavior

`validationSchema` does not run all as full schema prior to submitting if a field on focused, happen rate of about 80%.
If no field is on focus, it works normally.

https://youtu.be/5CrB3KQySY8

### Expected behavior

Validate all fields

### Reproducible example

1. Create a form with `formik` has many fields
2. Focus on any field
3. Click submit
4. Only fie

[2020-02-23 23:07] pierreneter commented on #2297
You must set `checked={props.values.fastField}`

[![Edit Formik FastField checkbox bug](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/formik-fastfield-checkbox-bug-sskte?fontsize=14&hidenavigation=1&theme=dark)

[2020-02-23 23:09] pierreneter commented on #2300
It's still work with me, can you try refresh codesandbox page or try with another browser?

[2020-02-24 08:39] banarualexandru commented on #2293
Hi all
You can try [fluentvalidation-ts](https://www.npmjs.com/package/fluentvalidation-tsl)
I'm using it with typescript and it's working ok.
You can use it like this:
`<Formik
            enableReinitialize
            validate={new MyValidator().validate}
...`
Good luck

[2020-02-24 13:49] ghsamm commented on #2300
It works, maybe this was a temporary issue with CSB.

[2020-02-24 13:49] #2300 closed

[2020-02-24 14:04] adamborowski opened #2306 "Cannot change validationSchema and form values synchronously"
## 🐛 Bug report

### Current Behavior

When you programatically setFieldValue and update validationSchema, formik still displays errors. It will remove errors once you update formik in any way, it validates form based on new values but old schema

### Expected behavior

When you programatically setFieldValue and update validationSchema, formik will revalidate form based on new schema and new value

[2020-02-24 15:21] MikeSuiter commented on #2297
That works but is it a workaround? I thought Field and FastField should act the same other than if the component should update? If you look at my original example Field works just fine without using the `checked=value` but FieldFast doesn't. I would think you could switch FastField and Field have the same functionality (other than if component should update).

[2020-02-24 17:04] pierreneter commented on #2297
Maybe they forgot to implement for `type="checkbox"`

[2020-02-24 21:10] aminalali8 commented on #2109
+1

[2020-02-24 22:21] vukovics commented on #1927
I have the same problem
"Property 'isValid' does not exist on type 'IntrinsicAttributes & FormikConfig..."
"Property 'spacing' does not exist on type 'IntrinsicAttributes & ContainerProps & { children?: ReactNode; }'.ts(2769)"...

"typescript": "^3.8.2"
"formik": "^2.1.4"

[2020-02-25 00:22] nthurnau commented on #1139
I attempted to work around this same issue in my project by using the `insert` function as well with no luck.

[2020-02-25 01:11] armoredelephant commented on #1139
I was able to get it working by passing a new array to my object.

[code]

[2020-02-25 12:03] ProteanCode opened #2308 "Can I modify form values at field validation phase?"
## Can I modify form values at field validation phase?

Let's say we have a validation that requires user to make a first letter an uppercase. In most of cases there is no reason to force user to do it for himself manually so I could programatically make that first letter an uppercase.

Workaround is custom on change handler but this is bit ugly solution imho

[2020-02-25 15:16] alainib commented on #1889
any working code example with v2 please ?

i tryed :

`<Field
                      component="textarea"
                      rows="2"
                      id="data.project.shortDescription"
                      name="data.project.shortDescription"
                      variant="outlined"
                      label="PROJECT SHORT_DESCRIPTION"
                    />`

i didn't display like othe