[2018-11-15 23:01] samjacoby opened #1111 "setFieldError does not prevent handleSubmit"
## 🐛 Bug report
This looks like it may be a possible regression on #317, as I can replicate it in the exact same way.
### Current Behavior
After setting an error using `setFieldError`, the `handleSubmit` function is successfully fired.

### Expected behavior
The form should not submit successfully, as there is an error.

### Reproducible example
Click "Set Error". You will then be able to successf

[2018-11-16 01:11] joshgeller commented on #429
@jaredpalmer Can you explain how the wizard example is 3 distinct forms? I was under the impression that it was one, since only one `Formik` instance is only rendering one `form` tag. I'm having the same problem as OP. As soon as I submit the first form in my wizard, the fields on all subsequent forms get touched.

[2018-11-16 01:35] flynnham commented on #1026
@joycollector, where are you placing the `debounce`?

[2018-11-16 05:10] Davidmycodeguy opened #1112 "Manually Triggering Validation Example is not working"
## 📖 Documentation
I copy the code at
https://jaredpalmer.com/formik/docs/guides/validation#manually-triggering-validation

In the example this line breaks the code.
`<button type="button" onClick={() => validateForm().then(() => console.log(blah)))}>`

It should be
[code]

[2018-11-16 07:36] Davidmycodeguy commented on #1112
I have solved my issue.

In my use case, I had to validate the form then do something different than onSubmit function that is passed to formik as a prop.

I got around this creating another function that submits the form manually and just adds different logic. Hope it helps someone.

[code]

[2018-11-16 09:19] Davidmycodeguy commented on #867
This my attempt at that.
https://codesandbox.io/s/j3kx2617k5 However.
If you submit the form then all the fields get touched.
So by the time you get to the next step wizard the error is there without the user touching.

[2018-11-16 13:22] danielberndt opened #1113 "executeBlur should not inspect `event` if `path` is set"
## 🐛 Bug report

I've created a FieldWrapper that looks somewhat like this:
[code]

I'm using this to wrap external Inputs. Those Inputs don't always pass an `event` when firing `onBlur` though. I expected this to be fine by formik, because I passed the `name` of the corresponding field explicitly.

It turns out though that the following lines still try to access the `event`, even though there's n

[2018-11-16 15:06] #471 closed

[2018-11-16 17:49] Jvalal opened #1114 "Formik not getting installed"
I'm trying to try and use/install formik. I'm able to run the install, but with some NPM warnings. I thought it still was installed but using, which or trying to find version doesn't give me any result.

![image](https://user-images.githubusercontent.com/3803053/48638231-dbf4ab80-e984-11e8-9053-598463b42253.png)

[2018-11-16 18:09] jaredpalmer commented on #1114
Def don’t install -g

--
Jared

________________________________
From: Jvalal <notifications@github.com>
Sent: Friday, November 16, 2018 12:49 PM
To: jaredpalmer/formik
Cc: Subscribed
Subject: [jaredpalmer/formik] Formik not getting installed (#1114)

I'm trying to try and use/install formik. I'm able to run the install, but with some NPM warnings. I thought it still was installed but using, which

[2018-11-16 18:16] Jvalal commented on #1114
ok, still not working.

![image](https://user-images.githubusercontent.com/3803053/48639479-9a65ff80-e988-11e8-94b9-19eda9e834b0.png)

[2018-11-16 19:08] Jvalal commented on #1114
It's clearly installing somewhere.

![image](https://user-images.githubusercontent.com/3803053/48641830-e10b2800-e98f-11e8-95c0-f27eeee0553f.png)

[2018-11-16 20:21] jaredpalmer commented on #1114
Formik is not a CLI. There is no bin command

[2018-11-16 20:21] jaredpalmer commented on #1114
Closing as this isn’t an issue with Formik.

[2018-11-16 20:21] #1114 closed

[2018-11-16 20:24] Jvalal commented on #1114
thanks for the help. I love devs that help new folks through issues, even
when they're unrelated to their products.

On Fri, Nov 16, 2018 at 12:22 PM Jared Palmer <notifications@github.com>
wrote:

[2018-11-16 20:30] jaredpalmer commented on #1114
It is installed in node_modules/formik

[2018-11-16 20:33] samjacoby commented on #1111
It looks like this might also be related to https://github.com/jaredpalmer/formik/issues/706, whereby there is not a clear way to prevent automatic validation from overwriting custom errors.

[2018-11-17 10:38] kraizybone commented on #930
Same problem, can't set field value on componentDidMount. I need to sync some form fields with redux store, but I can't use mapStateToProps because it will reinitialize whole form... @jaredpalmer it's possible to do something with this issue? Thanks

[2018-11-17 17:31] joshperrin commented on #1026
I am having this issue as well. I tried <FastField /> with no success either.

I was thinking I may have to use vanilla CSS with Formik to fix this bug.

[2018-11-17 20:17] #891 closed

[2018-11-18 16:36] burtek opened #1116 "isValid is false although all fields are valid"
## 🐛 Bug report

### Current Behavior

According to [validation reference FAQ](https://jaredpalmer.com/formik/docs/guides/validation) returning `undefined` as error message is considered as marking field valid. Yet returning `{ fieldName: undefined }` from validation function sets `isValid` to`false` thus preventing form from submitting. This is caused by following line in code:

https://github.co

[2018-11-18 17:18] devjones commented on #1026
I've had similar major performance issues with relatively short forms: a custom drop down and 4-5 custom input fields.  I'm using tailwind.js (similar to styled components) and Yup for validation.

[2018-11-18 19:14] evdama opened #1117 "material-ui bindings"
## 📖 Documentation
Both, formik and material-ui are two very prominent libraries.
https://github.com/stackworx/formik-material-ui is a binding to ease the use of formik with material-ui and I think it's worth mentioning this in the docs.

[2018-11-18 19:17] #892 closed

[2018-11-18 23:48] #902 closed

[2018-11-19 10:42] Blueblau commented on #321
@jaredpalmer How would you handle this, when initial values are undefined or null?

The approach of `amount?: number | string;` doesn't work well, if you have to do conditional rendering of form elements depending on this value.

`props.values.fieldName > 1` would return an error initially as this is a `string`.

[2018-11-19 11:42] plxel commented on #561
Also Field component passes props to underlying field Component
[code]
So I thought this will be ok for using the same logic for FieldArray, but it is not... it is really confusing

[2018-11-19 13:40] farahabdi commented on #639
@Andreyco, I've been starting at those code for good 20 minutes. could you please give a quick example on how to use it? not sure where props is coming from.

thanks

[2018-11-19 15:55] niblux commented on #929
I am also getting this error, with `.addMethod`

[2018-11-19 16:58] aaronmcadam opened #1118 "Field custom component - Passing down `form` prop breaks Submit on Enter"
## 🐛 Bug report

### Current Behavior

Not removing `form` off `props` breaks Submit on Enter behaviour

### Expected behavior

I'd like to not have to remove `form` off props if possible

### Reproducible example

https://codesandbox.io/s/ly158nyw8m

### Suggested solution(s)

Maybe raise a warning when passing incompatible props?

### Additional context

I'm using my own custom component where I

[2018-11-19 17:42] jaredpalmer commented on #1118
Yeah this is a wart that was initially designed for compatibility with redux-form, but has festered. It will be mitigated in v2 with the new `useField` Hook:

[code]

[2018-11-19 17:43] jaredpalmer commented on #1118
As for your specific problem, you have to destructure `{ form }`  at the moment. If this really bothers you, you can write your own `<Fieldset>` (it's only around 60 lines of code) with `connect()`.

[2018-11-19 17:45] jaredpalmer commented on #1118
I am going to close this because it is a duplicate of #167

[2018-11-19 17:45] #1118 closed

[2018-11-19 17:48] jaredpalmer commented on #1112
Can you submit a PR?

[2018-11-19 17:56] jaredpalmer commented on #706
You cannot use `handleChange` or `handleBlur` to get this specific behavior. YOu need to manually handle both blur and change with setFieldValue and and setFieldTouched. You'll need to also pass the third argument (i.e. `shouldValidate`) to each as `false`.

[code]

[2018-11-19 17:56] #706 closed

[2018-11-19 17:57] aaronmcadam commented on #1118
Ah that new API will be lovely, thanks 😀

[2018-11-19 18:03] jaredpalmer commented on #1111
This behavior is correct. Logic that sets errors imperatively will be overridden by `validation`. If you have an alternative API that could support this behavior lmk. The problem is you can't simply merge the old errors object with the new one, nor would you want to. As explained in my comment, you'll want to move this logic to `<Field validate>` if you cannot express validation it with `<Formik v

[2018-11-19 18:10] jaredpalmer commented on #1111
Thanks for the example. I guess I never really thought about this case. In Formik, validation functions are the way to express validation requirements and the assumption, which may be not exactly correct as you've shown,  is that 100% of your logic goes there. The problem is that preventing submit like this gets wonky. Right now we set all field's to touched within the parent, but maybe, in a perf

[2018-11-19 18:21] jaredpalmer commented on #1111
Naive solution could be to fallback to current `state.errors` if no validation behavior exists. I think that would solve this?

[2018-11-19 21:04] rodgobbi commented on #989
@Grsmto Yep, due to it being used internally and not part of the official exposed API so to speak, it can have breaking changes without passing through a changelog. But if it's ok to use it'd be helpful to document it, it's useful and already implemented.

[2018-11-19 22:05] Davidmycodeguy commented on #1112
Yes, I will send soon.

[2018-11-19 22:20] mouhsnimohamed commented on #683
I'm facing the same issue! was this problem resolved?

[2018-11-19 23:54] workkevintran commented on #1106
I need the logic in the render function but I also need it in the handleSubmit() of the formik object so I wrapped the formik object in another component.  My code looks like this

[code]

[2018-11-20 02:12] andrewbruno commented on #623
Thanks Fin!  I also had the same issue with onBlur

[2018-11-20 03:59] TLadd opened #1119 "Formik automatically converts input type number value to float"
## 🐛 Bug report

### Current Behavior

When a form field is an `<input type="number" />`, Formik automatically parses the value to a float. It does so [here](https://github.com/jaredpalmer/formik/blob/master/src/Formik.tsx#L322):
[code]
This behavior was unexpected for me. It ended up causing an issue in validation where I was doing a truthiness check on the value and was expecting "0" to be the v

[2018-11-20 04:34] idoo commented on #683
@mouhsnimohamed still exist. Fee; free to add PR ;)

[2018-11-20 09:54] zalmes opened #1120 "The values of the form do not change when the state changes."
I have simple form, I update state of component, but the form shows not actual data.
What the reason of such behavior?
Thank you

render(){

    let initValues = { ...this.state.account }
 console.log('initValues',initValues)--->STATE CONTAINS GOOD DATA
return(
   <Formik
                                            enableReinitialize
                                            validationSchema={ac

[2018-11-20 10:28] vvav3 opened #1121 "resetForm nextValues won't update initialValues"
## 🐛 Bug report

### Current Behavior

After successful submit I call resetForm(nextValues), but mapPropsToValues called afterwards has previous values received first time form mounted. enableReinitialize is true

### Expected behavior

mapPropsToValues receives correct nextValues

### Reproducible example

https://codesandbox.io/s/xr7vl9045o

### Your environment

| Software         | Version(s)

[2018-11-20 16:01] samjacoby commented on #1111
Yes, I puzzled over this myself. There isn't a clear way to combine the imperative error handlers with the top-level validation.

This seems like it would work reasonably well, and at least clear up some confusion.

What about a solution, though, where if there doesn't exist a validator function or validationSchema for a given function, it just doesn't overwrite what's already in there? That'd be

[2018-11-20 16:04] jaredpalmer commented on #1111
Cc @slightlytyler @crosscompile @eonwhite

what do you think?

[2018-11-20 18:32] joshsalverda commented on #1038
Just found out this also occurs when name is an empty string. If you are thinking to submit a PR, you will need something more like `if(path.length === 0) { return def; }` since lodash's `toPath` will return an empty array, which would not be "falsey".

[2018-11-20 20:54] PeerHartmann opened #1122 "Program errors within validate are lost"
## 🐛 Bug report

### Current Behavior

When an exception is being thrown in the validate function, the exception-object is being treated as a validation result. Since the exception does not contain any fields of the form, the form is considered valid.

### Expected behavior

The error should be rethrown and if not otherwise caught, the program should crash.

### Reproducible example

https://codes

[2018-11-21 03:24] reinjunon opened #1124 "using formik for search purposes"
Hi all,

We've managed to implement a form that has 400 fields, displayed across different pages but contained under a single <formik/> element. Typing in text inputs is extremely slow even after using the <FastField> element. We had to create an input text wrapper component that does nothing onchange like this. This improves the typing speed since onblur() is the only time when the formik state g

[2018-11-21 11:59] mattia85 commented on #729
I'm having the same problem mentioned by @matdurand , please take a look to this issue.

[2018-11-21 14:20] mzachariadis opened #1125 "validationSchema nested object using type:number unexpected behavior"
## 🐛 Bug report

Hello all,

I am using validationSchema and I want to validate a nested object that has a property with type number. When I try to submit the form leaving this field empty, I get an error saying that this field must be a number.

I forked the codesandbox example from #1091 and I changed the social.facebook to number, so you can see the unexpected behavior. This is the updated vers

[2018-11-21 14:50] dgopsq commented on #1026
Same issue here, I can confirm that production is not affected. It lags only in dev mode.

[2018-11-21 15:49] jaredpalmer commented on #1026
That’s interesting. Can you / someone reproduce this behavior in a sandbox?

[2018-11-21 15:59] dgopsq commented on #1026
*I haven't check*, but trying around a bit I think that production is affected too, but way to less than dev.
BTW I solved my problem setting the form value from `onBlur` instead of `onChange`.

[2018-11-21 17:06] idanhen commented on #1026
Same issue here, production is effected - but way less

[2018-11-21 20:20] #897 closed

[2018-11-22 04:53] lonalee opened #1126 "Using withFormik() with a class based component"
Hi.
 I've been working on a simple react based input form with formik.
Especially I'd like to use **withFormik()** with **a class based component** as metioned above.
Simply, withFormik doesn't work.

My codes go like this...
[code]
Is it impossible to make withFormik work that way?

[2018-11-22 06:33] josephmannis commented on #324
I am also attempting to implement something similar, and would love to see something in the official release!

[2018-11-22 10:58] weishiji opened #1127 "server side render not work"
when i use ```withFormik``` higher-order function, server side render not work, it can not generate html string.

[2018-11-22 12:43] Huanzhang89 commented on #767
Should be fixed by https://github.com/jaredpalmer/formik/pull/928

I suggest closing this issue

[2018-11-22 13:00] danielgent commented on #767
@Huanzhang89 - your fix `formikBag.setTouched({});`  worked amazingly for me.  My previous code was actually creating an invalid touched object

[2018-11-22 13:32] Huanzhang89 commented on #767
Glad to hear it! Yeah that code didn't make sense to me since the touched object applies to the whole form and we don't really care about if the previous page was touched since everytime we submit Formik touches all the fields anyway, so the easiest solution is just to reset it to `{}`!

[2018-11-23 07:05] smakosh opened #1129 "async mapPropsToValues doesn't seem to work"
## 🐛 Bug report

### Current Behavior
[code]
returns `example` as undefined.

### Additional context

I'm using it on React native, here's the full snippet

[code]

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 1.3.0
| React            | 16.5.0
| TypeScript       |
| Browser          |
| npm/Yarn         | Yarn 1.12.1
| Operating Sys

[2018-11-23 07:40] brodybits commented on #450
looks relevamt

[2018-11-23 11:43] yuritoledo commented on #1126
I recommend use `withFormik`, it's more flexible to use inside the methods.

Can you create a codesandbox.io with your code ?

[2018-11-23 11:44] yuritoledo commented on #1124
Can you create a codesandbox ?

Thanks.

[2018-11-23 11:45] yuritoledo commented on #1120
Hello @zalmes

Can you create a codesandbox ?

[2018-11-23 12:51] jaredpalmer commented on #1129
Correct. It does not support async behavior.

[2018-11-23 12:58] smakosh commented on #1129
Oh, I see, thanks!

[2018-11-23 12:58] #1129 closed

[2018-11-23 13:48] dzienisz opened #1131 "I can't make snapshot of Formik"
## 🐛 Bug report

### Current Behavior

![zrzut ekranu 2018-11-23 o 14 46 12](https://user-images.githubusercontent.com/3521624/48946601-8db84d00-ef2e-11e8-9320-a853097334c6.png)

### Expected behavior

I can test Formik snapshots

### Reproducible example

I can't share code :(

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           |  1.3.2
|

[2018-11-23 14:46] jaredpalmer commented on #1126
You don’t need both withFormik and the Formik component. If you use withFormik with a class it will inject the props as this.props.

[2018-11-23 14:46] #1126 closed

[2018-11-23 14:47] jaredpalmer commented on #1127
Can you please fill out a bug report template and provide some example code. Server rendering is supported. Formik does nothing with window so it’s likely another thing causing your issue

[2018-11-23 14:49] jaredpalmer commented on #1124
Search is a poor use case for Formik because there isn’t any validation. I’m not sure I understand the exact question you are asking. Can you be more specific?

[2018-11-23 14:50] jaredpalmer commented on #1120
Please fill out the issue template so that this can be addressed. Closing for now.

[2018-11-23 14:50] #1120 closed

[2018-11-23 14:52] jaredpalmer commented on #1125
All HTML inputs are strings. Formik does not convert or transform these for you, you have to do that on your own prior to storing them in Formik state. This is a design decision.

[2018-11-23 15:40] weishiji commented on #1127
.
├── AskForm.jsx
├── BidForm.jsx
└── index.jsx

[code]

[2018-11-23 15:42] weishiji commented on #1127
when i remove the ```withFormik```higher-order function, the server side render can work

[2018-11-23 18:08] jaredpalmer commented on #1127
Nothing there looks wrong. There is nothing in Formik that would would break SSR. If I had to guess maybe your styles are not properly setup on your server or there is another bug. Closing for now.

[2018-11-23 18:08] #1127 closed

[2018-11-23 18:09] jaredpalmer commented on #1127
I would remove all your styles and see if it renders

[2018-11-23 23:53] gastonmorixe opened #1132 "FastField: React does not recognize the `shouldUpdate` prop on a DOM element"
Formik 1.3.2

[2018-11-24 09:11] weishiji commented on #1127
I remove ```react-i18next``` ```withNamespaces``` higher-order function and it work, may be something wrong with my ```react-118next``` config. thanks!!!

[2018-11-24 22:44] dacopan commented on #342
same here...

[2018-11-25 06:18] Neilpoulin commented on #608
I was looking for a hook like this, too, and ended up just doing a simple `String.toLowerCase` before manually setting the fieldValue. For example, within a <Field> component, implement your own onChange:

[code]

[2018-11-25 06:50] #914 closed

[2018-11-25 07:45] motiazu commented on #1116
The documentation is pretty weird around that line. [This](https://github.com/jaredpalmer/formik/blob/f58f85a6c229c1e4eb6e26b71af33726c0bfa036/src/Formik.tsx#L564) is the code that decides whether you have errors.
`Object.keys(this.state.errors).length` - this snippet pretty much means that any set field (even with undefined) will result in `isValid` being false.

I recommend clearing your own obj

[2018-11-25 08:42] motiazu opened #1133 "isValid behavior"
## 🐛 Bug report

### Current Behavior
When initializing a form with initialValues, `isValid` state is determined by `isInitialValid`.
If a user did not set isInitialValid, it will still be applied with `false`.
Even if the values have changed but still return (after multiple edits) back to the same `initialValues`, the form is deemed not dirty and the error object is ignored in deciding the validi

[2018-11-25 23:48] #838 closed

[2018-11-26 02:10] lulupy opened #1134 "validationSchema nested object for FieldArray Validation unexpected behavior"
## 🐛 Bug report

### Current Behavior

according to [fieldarray-validation-gotchas](https://jaredpalmer.com/formik/docs/api/fieldarray#fieldarray-validation-gotchas). Formik/Yup will show validation errors inside out.

but i use The following, Formik show validation errors out inside.

[code]

### Expected behavior

Formik/Yup will show validation errors inside out.

### Reproducible example

[htt

[2018-11-26 08:12] mzachariadis commented on #1125
The same thisn

Is it possible to combine

[2018-11-26 09:43] jordantrainor opened #1136 "How to update values from a FieldArray onChange"
## ❓Question

I'm wondering how to update values when using a FieldArray. I have the values coming through, but how to I make onChange work?

Thank you.

[2018-11-26 09:47] gracu-koduje commented on #429
I have fix for that. After clicked submit btn "next" on step 1 in step 2 you have to run in "componentDidMount" this.props.setTouched({}). Then you will get an empty "touched" object in step 2.

[2018-11-26 14:00] #850 closed

[2018-11-26 15:30] timrombergjakobsson commented on #844
Hey I saw this issue. Im having a somewhat similar problem. Im trying to access the values from a radiobutton and use that as an conditional rendering of a ```wizard.page```. For example Im wrapping pages like this:
[code]
And I have 3 radiobuttons on the first page and I would like to use the value of the radiobuttons to conditionally render pages like:
[code]
But it is not working. Im getting a

[2018-11-26 19:56] ferc commented on #288
@jpserrett if you have the same values in the state as the `initialValues` prop, the `isValid` prop will be the `isInitialValid` prop, because `dirty` is `false` in that case: https://github.com/jaredpalmer/formik/blob/master/src/Formik.tsx#L563

So, it's not enough calling the `validateForm` prop to know if the form initial valid or not, you should call the `validateForm` and check the `errors` o

[2018-11-26 22:49] CaffGeek commented on #324
Same here.

[2018-11-27 06:03] evorgevol opened #1137 "Field of type 'time' is set to null by Chrome so get a React error for being uncontrolled"
If I have a Field with an input of type 'time' and I don't input a value for it then Chrome (not tested on other browsers) sets the value to null. This results in a React error of "Warning: A component is changing a controlled input of type time to be uncontrolled. Input elements should not switch from controlled to uncontrolled (or vice versa)".

It only seems to be when I call setSubmitting(fals

[2018-11-27 06:51] evorgevol commented on #1137
This was my fault. In doing the POST I was inadvertently updating the value to be null of the 'values' object. Closing

[2018-11-27 06:51] #1137 closed

[2018-11-27 08:00] gang89 commented on #148
@mvanlonden how do you handle radio with the above wrapper? it cant seem to pass the value into the form state

[2018-11-27 10:00] #766 closed

[2018-11-27 11:48] dzienisz commented on #1131
Ok I found an answer.

I forgot to wrap my component into

<Formik>
  <MyComponent />
</Formik>

[2018-11-27 11:48] #1131 closed

[2018-11-27 12:39] faeghe-hajiabadi commented on #597
I have a redux form and this happened when I wanted to set a key to my Field with files format,
when I set my key to new Date() this warning happened.
I set the key to random number but it did not work.
what should I do?

[2018-11-27 14:49] Huanzhang89 commented on #844
@timrombergjakobsson

Hey Tim, can you log out what children is inside `static Page` ? Could be you cloned the activepage wrong and it Wizard.Page does not have access to this.props.children?

Can you also page your `React.cloneElement` part of the form as that would shed some light on the issue!

[2018-11-27 15:00] #355 closed

[2018-11-27 15:30] timrombergjakobsson commented on #844
@Huanzhang89 heres the ```React.cloneElement``` part:
[code]

[2018-11-27 17:34] pak11273 opened #1138 "Include a label prop"
## 🚀 Feature request
Be able to customize labels instead of using the name prop.
### Current Behavior
Field Components use the name prop for labels.

### Desired Behavior
Sometimes labels are not just single words, ie. "password confirm".  If you have an api that uses camelcasing then the labels look awkward, ie. "passwordConfirmation".  I've searched the docs and issues and haven't seen a solutio

[2018-11-27 19:52] terryttsai commented on #87
[Scoot Networks](https://scoot.co/)

[2018-11-28 00:31] rmsj opened #1139 "FieldArray arrayHelpers.push doesn't add more complex objects."
## 🐛 Bug report
Calling arrayHelpers.push(new SomeObject()) doesn't work.

### Current Behavior

It adds an empty only with a field with the name of the form field. So you cannot really have more complex objects.

In my case there are three levels:

[code]

### Expected behavior

The definition of arrayHelpers.push accepts anything as a parameter to push into the array.
I should be able to add obj

[2018-11-28 01:45] #924 closed

[2018-11-28 02:40] Huanzhang89 commented on #844
Okay so one thing I notice is that you are spreading children and assigning it to the props of Formik. But the culprit for your error would be the fact that you spread props inside parentState. This means that your Page no longer has access to `this.props.children`.

`{React.cloneElement(activePage, { props.children, parentState: { ...props } })}` would work or
`{React.cloneElement(activePage, {

[2018-11-28 07:48] Evanion commented on #1136
same here...
example project: https://codesandbox.io/s/ox047lvn4y

[2018-11-28 11:13] timrombergjakobsson commented on #844
@Huanzhang89 ah ok, so remove children from here: ```const { handleSubmit, children, prevButton, nextButton, classes } = this.props;``` ? What about this part ```{ ...children }```?

[2018-11-28 11:22] VojtechVidra opened #1140 "Formik used with slatejs in array throws error"
## 🐛 Bug report
Formik used with slatejs in array throws error

### Current Behavior
I am using Formik and slatejs editor in array and every time the value of editor changes, it throws error. In this example i have two editors in array and when you click in any it crashes, because slatejs changes value on focus. I think it has something to do with immutable, but I may be mistaken. I used draft-js

[2018-11-28 12:14] Huanzhang89 commented on #844
Yes you should remove `{ ...children }` since that prop is not being used by formik.

For the second point I'll try to explain. The entire object of the second argument for React.cloneElement gets assigned to the props of the resulting React element. Remember the props of a React Element is simply an object, so in your case the props of your Element would be `{ props.children: Function, parentStat

[2018-11-28 12:22] timrombergjakobsson commented on #844
@Huanzhang89 I think Im with you, the only thing is that ```{React.cloneElement(activePage, { props.children, parentState: { ...props } })}```does not work, cos its syntax error. So I had to change to ```{React.cloneElement(activePage, { props: props.children, parentState: { ...props } })} ``` instead.

[2018-11-28 12:32] Huanzhang89 commented on #844
Ah sorry I made a mistake with that, it should be `{React.cloneElement(activePage, { children: ...props.children, parentState: { ...props } })`

But I would actually recommend not spreading `...props` into `parentState`. Rather construct the parentState object before passing it to cloneElement here.

[2018-11-28 12:37] timrombergjakobsson commented on #844
Ah alright, ok great thanks.  Well yes I had to do a quite verbose and ugly solution to my problem:
[code]

How do you mean?

[2018-11-28 13:29] malydok commented on #1136
@Evanion You should probably set the value using `setFieldValue` when using custom fields so `form.setFieldValue(field.name, value)` in your case.

I have the same issue as OP though, because you can't set FieldArray values with `setFieldValue`, it doesn't parse the `field` parameter (which it could using `_.get` and `_.set`). Looking into the source to find a solution if possible.

[2018-11-28 13:58] ksmolniy commented on #936
@yuritoledo It don't work in all cases https://codesandbox.io/s/qz67j14vvq
Somebody from maintainers read issues?

[2018-11-28 14:50] yuritoledo commented on #936
@ksmolniy this example can help you?

https://codesandbox.io/s/x713mjnkk4

[2018-11-28 16:01] mschipperheyn opened #1141 "Throwing an empty errors object passes async validation"
## 🐛 Bug report

### Current Behavior
If you throw an empty errors object, validation passes validation successfully

### Expected behavior
While in sync mode returning an empty errors object is supposed to pass validation, in async mode, the fact that the Promise throws is already an indication that an error occurred, otherwise it would simply return the empty object instead of throwing it.

This

[2018-11-28 21:38] joshgeller commented on #214
Has anyone found a way to pass the flag that @pavanmehta91 requested?

[2018-11-28 21:40] jaredpalmer commented on #1138
You can build a component that wraps your field that does this.

[2018-11-28 21:40] #1138 closed

[2018-11-28 21:41] jaredpalmer commented on #1121
Can you submit a PR?

[2018-11-28 21:41] jaredpalmer commented on #1132
Can you submit a PR?

[2018-11-28 23:30] wachunga commented on #711
This could work well in conjunction with automatic setSubmitting #160.

[2018-11-29 07:53] codercodingthecode commented on #28
by taking props.xxxx fixes the issue for me since fields gets back its own value.

```address: props.address || ' '```

[2018-11-29 09:54] dimaninc commented on #70
don't forget to use `withFormik` instead of `Formik` in `compose()`

[2018-11-29 12:47] pavanmehta91 commented on #214
I've found a way I set a flag and use `setValue` and then execute the handleClick function. So on submit I get which button was clicked. It's plain JS 👍

[2018-11-29 12:47] pavanmehta91 commented on #214
If anybody wants the code I can share it here.

[2018-11-29 14:48] smakosh commented on #991
Same here

[2018-11-29 15:34] joshgeller commented on #214
@pavanmehta91 yes, please 😀

[2018-11-29 17:35] grachet commented on #1026
same

[2018-11-29 18:07] jaredpalmer commented on #1140
I don't know enough about slatejs internals. cc @ianstormtaylor any thoughts?

[2018-11-29 18:08] jaredpalmer commented on #1141
What if you throw undefined?

[2018-11-29 18:09] jaredpalmer commented on #1136
You should use setFieldValue.

[2018-11-29 18:09] #1136 closed

[2018-11-29 18:21] jaredpalmer commented on #1133
Thanks for taking the time to write this up. I agree this is a bit awkward.

I think this is a symptom of not having `initialErrors` prop. If we had that, we could just compute as follows:

[code]

Related discussions #1116 #742 #614

[2018-11-29 23:56] jaredpalmer commented on #346
Update: plan is to likely deprecated FieldArray and move these manipulations into core

[2018-11-30 01:39] amadeogallardo commented on #336
@sarics I'm actually able to reproduce the same behavior on the current 1.3.2 version.

The `initialValues` prop contains an array with a nested property. When updating that property from within the form, not only the `values` property is changed, but also the `initialValues`.

@jaredpalmer Could this be a regression?

[2018-11-30 06:49] pavanmehta91 commented on #214
`               initialValues={{
                      isSecondButton: false,
}}`

That's the initial value you provide..

`
onSubmit={values => {
if(values.isSecondButton){
do some action
} else {
do some other action
}
}
`

In Your renderProp
`
                                  <Button
                                    id="second-button"
                                      onClick={(e)=>{

[2018-11-30 09:39] Satyam opened #1144 "useFormik hook"
## 🚀 Feature request

Add and/or document a simple `useFormik` hook.

### Current Behavior

To inject Formik properties into components, you have to rely on `withFormik` or `connect`.

### Desired Behavior

[code]

### Suggested Solution

I am using this simple piece of code:

[code]

I am not sure whether this should be included in the code or simply be suggested in the documentation.
I favor jus

[2018-11-30 11:47] #920 closed

[2018-11-30 12:36] jaredpalmer commented on #1144
Yep. This has already been built in v2.

[2018-11-30 13:08] VojtechVidra commented on #1140
I solved this by converting RichEditor to class component and storing the Value in state. My onChange function of RichEditor:

[code]

 It's not the best solution, but for small amout of text works just fine. With large amout of text it takes a bit longer, but that is related to SlateJS update performance. If someone has a better idea how to approach this I would be grateful.

[2018-11-30 13:08] #1140 closed

[2018-11-30 13:49] jaredpalmer commented on #1144
Until v2, AFAICT this can be implemented in user land?

[2018-11-30 15:14] Satyam commented on #1144
Absolutely, I am doing it with 1.3.2 and React 16.7.0 (alpha 2), it only needs documenting, to spare fellow developers the trouble.

It could be better supported by changing these lines: https://github.com/jaredpalmer/formik/blob/2.0/src/connect.tsx#L6-L9 , and exposing the Context object with its own export, but if it is coming in v2.0, then it isn't worth the trouble.

[2018-11-30 17:46] doug2k1 opened #1145 "Set a more descriptive displayName in the connect() HOC"
## 🚀 Feature request

### Current Behavior

A component wrapped with the `connect()` function shows as `<C ...>` in the components tree, making it difficult to debug and test.

### Desired Behavior

Connected components should have a more descriptive name, similar to what Redux and other libs do. Ex: `<FormikConnect(OriginalName) ...>`.

### Suggested Solution

Set the `displayName`of the resultin

[2018-11-30 18:34] giulioambrogi opened #1146 "Formik + Yup can't test form errors with Enzyme"
## 🐛 Not able to test the error state of the form using Formik,  Yup and Enzyme

TLDR: code sandbox provided, see below.

_I've seen some issues vaguely similar but they seem to be outdated and a few potentially useful links are broken._

### Current Behavior

Given my simple form built with Formik and Yup, I'm trying to test with Jest/Enzyme the scenario where I:
1. type a wrong email
1. press ta

[2018-11-30 19:21] zackbabtkisproduce commented on #1134
I'm having this issue as well. Using `yup` with `validationSchema` gives me an array empty hashes as in `formik.errors` for FieldArray rows that I blur out of. Verified the above fix works.

[2018-12-01 07:04] vabhishek-me commented on #720
I'm getting the same error.
[code]

Using `typescript@3.2.1`, `formik@1.3.2`.

[2018-12-01 16:09] cagmz commented on #1146
The field value can be checked with `prop`:  https://codesandbox.io/s/ly35w82q1l

[2018-12-01 23:06] #1146 closed

[2018-12-02 22:06] giulioambrogi commented on #1146
Hi @cagmz thanks for that.
Anyway @jaredpalmer I don't think this issue should be closed as the key part of the question was actually "Why the validation doesn't occour AKA the error is not displayed?".

Please have a look at *When I insert a wrong email The error is displayed*

[2018-12-02 22:10] giulioambrogi commented on #1146
Hi @cagmz  thanks, how about the 2nd tests? That was the key problem actually.

[2018-12-03 12:51] timrombergjakobsson commented on #429
@gracu-koduje could you provide an example on how you solved it? I also have the same problem with "next" vs "submit". If make the next button of type ```"button"``` I cant proceed to the next step. Only if it is marked as ```type="submit"```.

[2018-12-03 13:16] motiazu commented on #1133
That would indeed help but this is assuming the `initialErrors`/`isInitialValid` are the desired solution for every case, which I think they are not. I would rather the library to not consider `isInitialValid` at all while calculating `isValid` in the case where I didn't set a value for `isInitialValid` explicitly (default to undefined instead of false).

That's what my workaround did and it fits

[2018-12-03 14:03] jaredpalmer commented on #1145
Great Idea. Can you submit a PR?

[2018-12-03 14:04] doug2k1 commented on #1145
Sure. I'll take a look.

[2018-12-03 14:05] jaredpalmer commented on #1144
I am hesitant to introduce docs that tell people to write functions that may have conflicting names with v2 release. See #1005

[2018-12-03 15:38] jaredpalmer commented on #720
@mSpolsky what are you using to build? create react app?

[2018-12-03 15:50] Satyam commented on #1144
It depends.  If the signature of the suggested hook is the same as the one that will be available in v2, it would serve as a preview of v2. Switching from one to the other would be a simple search and replace from
[code]
Basically, add `//` in front of every `import useFormik` and add `,useFormik´ after any `Formik` not preceded by `<` or `</`.

If the signature would not be the same and/or v2 is

[2018-12-03 15:52] jonathonwpowell opened #1148 "Form is not dirtying when objects in the form change"
## 🐛 Bug report

When a fields value is an object instead of an array / string, a change to the value will not dirty the form.  This causes the form to require another item to be changed for the form to dirty, and in the case where isInitialValid is false, for the form to even be valid.

### Current Behavior (in the demo)

Click the "Add my address" button
A new property should be added to testObj

[2018-12-03 20:16] seeden commented on #1026
same issue.

[2018-12-03 21:14] mSpolsky commented on #720
@jaredpalmer No, I am using tsc. Actually, it took me quite some time to find the source of the problem. In the end, it turned out that version 1.3.2 is not working for some other reason related to incorrect typedefs. I had to downgrade to make it work.

[2018-12-03 22:32] jaredpalmer commented on #720
what version of TS are you using @mSpolsky ? There is one that broken formik

[2018-12-03 23:03] scottc-netflix opened #1151 "Where is <Debug /> ?"
## 🐛 Bug report

You mention `<Debug />` in your video but it doesn't appear to exist in Formik and isn't documented. Share the love?

Looking at Formik 1.3.2 (latest)

[2018-12-03 23:04] jaredpalmer commented on #1151
I just built that for the demo.

https://github.com/jaredpalmer/formik-alicante/blob/master/src/components/Debug.js

[code]

[2018-12-03 23:04] #1151 closed

[2018-12-03 23:06] #1144 closed

[2018-12-04 08:14] akshaybosamiya commented on #869
I'm facing the same issue. Can anyone please explain how errors and touched props get accessed within wizard active page?

[2018-12-04 08:49] akshaybosamiya commented on #869
Thanks. I just found an example.
Codesandbox link: https://codesandbox.io/s/62nk7x0p73
@lmichailian You can try it.

[2018-12-04 10:41] Mykybo commented on #795
I just run into this. This really needs to be fixed.

[2018-12-04 11:22] vojtechportes commented on #1119
Another issue with calling parseFloat is that if you try to type eg 0.01, once you get to 0.0, it will round the value to 0 (because parseFloat(0.0) is 0)

[2018-12-04 13:07] jaredpalmer commented on #1119
Can you submit a PR?

[2018-12-04 19:20] Bundas commented on #214
@pavanmehta91
`setFieldValue` is async function because it updates a state where are all the values stored therefore it's not guaranteed that there will be the most actual values in `onSubmit` handler..

[2018-12-04 19:36] pavanmehta91 commented on #214
@Bundas You're right and it should return a promise. But from my experience I've never faced an issue. We could also use setTimeout(()=> onSumbit(e),0). That'd run on the next tick.

[2018-12-04 21:37] brightpixels opened #1153 "Looking for an example of forming form with submit button located in a different part of the screen"
Delete please. Typo in title.

[2018-12-04 21:39] #1153 closed

[2018-12-04 21:40] brightpixels opened #1154 "Looking for an example of formik form with the the submit button located in different part of the same page"
Am looking for an example of formik form with the the submit button located in different part of the same page due to the page has been designed.

[2018-12-05 00:12] chdsbd opened #1155 "Typescript 3.2 breaks with strictFunctionTypes enabled in tsconfig"
## 🐛 Bug report

### Current Behavior
Typescript v3.2 with strict mode enabled raises errors for onSubmit and render methods of `<Formik/>`

### Expected behavior

Typescript v3.1.6 configured with the same settings doesn't raise an error.

### Reproducible example

I've update [this template](https://codesandbox.io/s/rwxkxl279n), but you need to download it and use typescript@3.2.1 (you can use v

[2018-12-05 09:30] mjbertenburg opened #1156 "Custom onChange with callback to Formik parent"
Hey folks,

I have got a Formik component with several subcomponents wich render input fields. On changing a specific value in one of the subcomponents, I would like to make a callback in the parent to render another subcomponent.

**FormikMainComponent**
[code]
**SubComponent**
[code]

Actually, I am not sure whether I can call setFieldValue here at all. Is is possible what I am trying to archive

[2018-12-05 12:07] navaswd opened #1157 "update the state when onchange is possible on formik?"
How to update the state on redux store when onChange in formik and show the message based on value of onChange. Can you please guide me to do that?

[code]

[2018-12-05 16:50] charlax commented on #795
See #445 for a longer conversation about this.

[2018-12-05 17:18] charlax commented on #445
See #691 as well.

[2018-12-05 17:51] charlax commented on #945
I think this is still important, especially since the doc mentions it:

https://jaredpalmer.com/formik/docs/api/fieldarray

[2018-12-05 18:11] charlax opened #1158 "TypeError: `array.splice is not a function` with non-array errors"
## 🐛 Bug report

### Current Behavior

* Create a form with a `FieldArray`.
* `setErrors` to be of the form `{"0": ['invalid']}` (note that we're not using an array here).
* When you remove the first item in the field array (using `arrayHelpers.remove`, it crashes with `TypeError: a.splice is not a function`

### Expected behavior

No crash, should just work. Note that while I was testing, it seem

[2018-12-05 18:33] charlax commented on #623
Another reason why this may happen: #1158 (non-array errors).

[2018-12-05 18:44] charlax commented on #1158
The problem is in:

[code]

which assumes that the object is an array.

[2018-12-05 19:33] TLadd commented on #1119
Sure, I'll get a PR together.

[2018-12-05 21:05] abglassford commented on #1021
I'd also note that in `formik/Formik.tsx`, there's this comment:

![screen shot 2018-12-05 at 2 05 11 pm](https://user-images.githubusercontent.com/18131395/49543966-d3620780-f896-11e8-91a2-f94b4945411d.png)

[2018-12-05 21:36] jaredpalmer commented on #1021
Yeah we probably need to update the docs.

[2018-12-06 11:49] mhzed commented on #486
I needed the the same feature and added it here: https://github.com/mhzed/formik/commit/0938eec00caf265b6e0848a228615b8d41e0b347

[2018-12-06 14:04] baleeds commented on #342
We also tried make a 'fast input' which only updated on blur, but the side-effects were too much, though the debounce solution seems better.  Now we use that 'fast' component when necessary, but mostly just use regular onChange inputs.

My vote would be to work on @noinkling 's point about setting `isValidating`.  We aren't using that prop, so I imagine that could save us 1 render, and doing a dee

[2018-12-06 16:34] sarneeh commented on #711
This! I just came to drop a comment and say I'd love to see this feature in `formik`. I would definitely like to be able to handle unexpected API errors not really related to any of the fields.

[2018-12-06 17:37] yashaRO commented on #839
Has this bug (if it is considered a bug) ever been fixed, or is there an alternative method that's supposed to be used?

[2018-12-06 22:54] #1112 closed

[2018-12-07 00:43] brucedesa commented on #450
Updates?

[2018-12-07 07:07] #794 closed

[2018-12-07 13:31] jaredpalmer commented on #1156
You'll want to use a child component. If you hop on Discord, someone can walk you through how to do this.

[2018-12-07 13:32] jaredpalmer commented on #1139
Can you reproduce in a codesandbox?

[2018-12-07 13:35] jaredpalmer commented on #1107
This is fixed in v2.

[2018-12-07 13:37] jaredpalmer commented on #1113
Agree, I fixed this in v2. They should use the override.

[2018-12-07 14:05] jaredpalmer opened #1164 "Canary release channel"
## 🚀 Feature request

### Current Behavior

I (@jaredpalmer) cut all releases by hand from my terminal using [np](https://github.com/sindresorhus/np). Smoke testing releases is a manual process.

### Desired Behavior

Improve and streamline release process. _I want to be able to cut releases from my phone._

### Suggested Solution

Opened up to discussions as to how best to do this.

### Who does

[2018-12-07 14:09] LeoLozes commented on #766
I believe this hasn't been fixed, it just happened to me with the last versions of Formik (1.3.2) & FormikEffect (1.2.0).

[2018-12-07 17:51] egorzekov opened #1165 "[docs] <Field render={ ... } /> API Reference - Code example is invalid and already present on this page"
## 📖 Documentation

Hello guys,

I've just found small issue with documentation, just want to let you know.

[<Field render={ ... }/> ](https://jaredpalmer.com/formik/docs/api/field#render) API reference has invalid  code snippet as an example. It's invalid, because:

1. It doesn't have usage of `<Field render={ ... }/>`.
2. It's duplicated above in [<Field component={ ... }/> ](https://jaredpalme

[2018-12-07 17:56] #905 closed

[2018-12-07 20:51] lubarskyy commented on #1145
This issue can be closed due to merged PR #1152

[2018-12-07 23:42] #1165 closed

[2018-12-07 23:43] #1110 closed

[2018-12-08 06:48] danieltodonnell commented on #811
May I suggest to the author that the default value of this defaults to true?  It is counter-intuitive for it to behave this way without explicitly stating it

[2018-12-08 15:29] #950 closed

[2018-12-08 17:54] baleeds commented on #342
If y'all haven't already, try the React devtools profiler.  We found out that using styled components for our list items was causing large render times, which was multiplied by the formik re-renders.  Probably cut our render time in half.

[2018-12-08 18:09] jaredpalmer commented on #342
The problem is isValidating and uncancelled promises. This should be fixed in 1.4 which I hope to cut tomorrow

[2018-12-08 23:05] jaredpalmer commented on #1026
This should be fixed with 1.4.0. https://github.com/jaredpalmer/formik/releases/tag/v1.4.0

[2018-12-08 23:06] jaredpalmer commented on #1062
You may find 1.4.0 much more performant https://github.com/jaredpalmer/formik/releases/tag/v1.4.0

[2018-12-09 00:11] devjones commented on #1026
Thanks!

On Sat, Dec 8, 2018, 6:05 PM Jared Palmer <notifications@github.com wrote:

[2018-12-09 01:05] aaronnunez95 opened #1170 "defaultProps of a Wrapped Component aren't show in handleSubmit"
I am using withFormik HOC and set the option *handleSubmit*,then in the callback I access to the formikBag and get props of the WrappedComponent, why it doesn't show WrappedComponent's defaultProps?

[2018-12-09 16:31] CarlosGines commented on #963
I find this proposal quite convenient! Please don't clóset this issue Mr. Bot xD

[2018-12-09 20:04] dymafr opened #1172 "FormArrays validation with Yup problem with ErrorMessage"
## 🐛 Bug report

### Current Behavior

When validating an array with Yup, should be able to display errors in one ErrorMessage component for the array errors and with one ErrorMessage for each field of the array.
When using Yup, I have an unexpected behavior:
- if the internal requirements of the array are met, the ErrorMessage of the array display the right message.
- however, each ErrorMessage c

[2018-12-10 02:07] #694 closed

[2018-12-10 03:48] daggmano commented on #227
@jaredpalmer Any update on a possible timeframe for the 2.0 release?

[2018-12-10 03:50] hunter2009 opened #1173 "Delete field value when unregister field"
## 🚀 Feature request
Should we delete field value when we delete field at the same time;

### Current Behavior

when I removed a field if it set value before, the value will be stored in values forever;

### Desired Behavior

I hope field value can synchronize with field name

### Suggested Solution

`unregisterField = (name: string) => {
    delete this.fields[name];
    // here
    this.values[n

[2018-12-10 10:17] danielpox commented on #1129
So, what is the recommended way of solving this?

[2018-12-10 10:24] smakosh commented on #1129
Since I'm using `recompose` I solved my issue using the `lifecycle` HOC like so:

[code]

[2018-12-10 10:49] danielpox commented on #1129
I simply added `enableReinitialize: true`, even though that might case some unexpected results later on.

[2018-12-10 10:53] smakosh commented on #1129
This issue was about using `async/await` within `formik` and not enabling props reinitialization.

[2018-12-10 11:31] alexssandr1992 opened #1175 "Compilation error with TypeScript"
Hi,

I use next configuration

tsconfig.json
{
  "compilerOptions": {
    "baseUrl": "ClientApp",
    "target": "es5",
    "jsx": "react",
    "module": "es2015",
    "lib": [ "es6", "dom" ],
    "moduleResolution": "node",
    "experimentalDecorators": true,
    "skipDefaultLibCheck": true,
    "strict": true,
    "removeComments": true
  },
  "exclude": [
    "bin",
    "node_modules"
  ]
}

pac

[2018-12-10 12:43] devjones commented on #122
@LiranBri  Can you post a public sample of that code using the in page validation?

[2018-12-10 13:50] jaredpalmer commented on #1175
Can you fill out the bug report template and create a sandbox?

[2018-12-10 14:47] adamduncan commented on #1035
Hi @jaredpalmer, is there any update on these docs please?

There are a few related PRs (#1064, #1115), as well as some different approaches (#363, #602) being proposed by users of Formik from time to time.

Would be super helpful to have definitive examples of: single checkbox (true/false value), checkbox group (array of values) and radio group (single value).

Thanks

[2018-12-10 14:58] AndyCrisan commented on #445
It's a little painful cause in react-native there is no support for <Field/> to have the fields touched onSubmit. Is there a workaround for react-native tho?

[2018-12-10 21:45] scottc-netflix commented on #1133
This is a big problem for me as well. I have lots of forms you can open and close, and the UI needs to maintain the form values that were entered when switching between forms. Currently valid forms have their submit cleared.

I don't understand why there is the option to hardcode a prop for if the form is valid or not on init. A callback I could understand, but this actually seems really hacky and

[2018-12-11 11:11] QuantumInformation opened #1176 "Can we relax the type for the withFormik method from props: object to (props: any"
When using this code with this prop isInitialValid

isInitialValid?: boolean | ((props: object) => boolean | undefined);

We cannot do something like `isInitialValid: (props: Foo) => (props.user ? !isEmpty(props.user) : false),`

We have to change it to isInitialValid: (props: any) => (props.user ? !isEmpty(props.user) : false),

or we will get the error:

[code]

[2018-12-11 13:03] #1145 closed

[2018-12-11 14:01] kino90 commented on #529
Any update on this?

[2018-12-11 15:25] QuantumInformation commented on #1176
Does Formik do any casting like so:

Casting a type with the<newtype>x syntax.

Its not supported in Babel

[2018-12-11 15:33] #819 closed

[2018-12-11 17:21] bellerus commented on #1170
Getting the same.

[2018-12-12 02:47] weishiji opened #1177 "production mode TypeError: Cannot read property 'touched' of undefined"
## 🐛 production mode TypeError: Cannot read property 'touched' of undefined

### I use nextjs, server side render, the terminal show an error Cannot read property 'touched' of undefined

![image](https://user-images.githubusercontent.com/3954134/49843767-3bff3600-fdfb-11e8-932a-b7690ab85fc0.png)

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik

[2018-12-12 04:58] jaredpalmer commented on #1173
i don't think this is desired. this would mean whenever a component unmounts you delete it's value.

[2018-12-12 04:58] jaredpalmer commented on #1173
what's the use case?

[2018-12-12 05:34] weishiji commented on #1177
I'm sorry, my mistake, I make an wrong command

[2018-12-12 08:46] charlax commented on #691
Any help needed here? Would be happy to have a look at this since I need it. With 1.4.0, it's still not auto-touching registered fields.

[2018-12-12 08:51] charlax commented on #691
For the moment, I'm just using `submitCount`:

[code]

[2018-12-12 09:17] charlax commented on #1158
I'd be happy to take a stab at fixing this. I doubt I'm the only one having this issue, because this (object, not array) format is what is returned by [marshmallow](https://marshmallow.readthedocs.io/en/latest/), a pretty common Python validation library, and because `setIn` and `getIn` supports it as well.

Checking the test file, there's no test for a list of objects (as opposed to just a simple

[2018-12-12 11:33] charlax commented on #1158
I did a proof-of-concept fix I'm not entirely happy with, @jaredpalmer would you mind having a look?

[2018-12-12 12:20] hunter2009 commented on #1173
our form is generated by a file (like a JSON file), the form changed when we changed file by some cascade relations, so when we submit form, we need filter values (which changed before).
like:
[code]
will generate:

[code]
we change some values makes `values={a:1. b: 2, c:3}` and update JSON file
[code]
will generate:

[code]
when submit, the values is still  `values={a:1. b: 2, c:3}` and i think

[2018-12-12 13:14] hunter2009 commented on #860
@jaredpalmer Reopen, please!

[2018-12-12 13:33] hunter2009 opened #1179 "only runFieldLevelValidations when a filed is touched"
## 🐛 Bug report

### Current Behavior

runFieldLevelValidations will run all field validations whether a field is touched or not

### Expected behavior

only runFieldLevelValidations when a filed is touched.

### Reproducible example

### Suggested solution(s)

`    const fieldKeysWithValidation: string[] = Object.keys(this.fields).filter(
      f =>
        fieldIsTouched &&
        this.fields &

[2018-12-12 15:40] jonmcgill opened #1180 "Using validationSchema returns empty errors object"
## 🐛 Bug report

### Current Behavior

I threw together a quick codesandbox to prototype a concept, and my Yup-based `validationSchema` always resulted in an empty `errors` object on submit.

I jumped into the official Formik codesandbox playground and realized the same thing was happening:

![formik-validation-schema](https://user-images.githubusercontent.com/13082333/49880121-736ce300-fdf9-11e8-

[2018-12-12 17:21] robbporto commented on #937
Is this possible that we can have an example of how to do unit testing with Formik using Enzyme, please? I think that this would clear all of our doubts.

[2018-12-12 20:34] jhaenchen commented on #87
[Lifesize](https://www.lifesize.com/)

[2018-12-12 20:49] jgcmarins commented on #87
We are using at [Feedback House](https://feedback.house/) 🎉

[2018-12-13 09:45] smeijer commented on #828
I have great understanding for busy life's and lack of time to maintain open source projects. (see my own projects).

I do however also have developed some hate against stale[bot]. Issues without activity are not resolved, and should thereby not be automatically closed.

I see inactivity as a form of respect to the author. An understanding that `+1` doesn't help. An understanding that the author h

[2018-12-13 16:17] barrett-vegas-com commented on #1172
@dymafr I thought I had the same issue as you, but after correcting some errors in your codesandbox example I don't see the issues you describe, nor the issue I thought I was having. Here is the corrected example: https://codesandbox.io/s/740xm1jq10

[2018-12-13 16:51] barrett-vegas-com commented on #1172
Ah, then that is the same issue I'm having ;) Thanks!

[2018-12-13 20:11] barrett-vegas-com commented on #1172
The issue seems to stem from using something like `getIn(errors, 'myArray[0]')` when the errors could look like:
[code]
or
[code]
In the first case `getIn` will return the first letter `T` of the String, while in the second case it'll return the full error message for the field.

[2018-12-13 20:30] maciej-gurban commented on #342
I was experiencing quite serious slowness using `<Formik />` with `1.4.0` despite having a rather simple form (an input and a radio group) which contained schemaValidation using `yup`.

In my case, the validation function was doing heavy computation which was causing the lag on input change. Once I've moved moved that part outside the validation function, things began working pretty fast.

[2018-12-13 21:36] BradRyan commented on #449
Just ran into this problem.  I'm using the HOC, `withFormik`, because I need my lifecycle hooks to have access to the `dirty` prop.  Figured I'd post my specific use case and solution in case it helps someone out.

My desired validation requirements are:
- validate on change/blur, only if field is touched
- validate on submit

I was attempting to handle this in the `validate` option within `withFo

[2018-12-13 22:40] crosscompile commented on #828
Maybe we can add labels to stale bot's

[2018-12-13 22:42] jaredpalmer commented on #150
There are 2 parts to this:

1. catching submit errors (which also requires async onSubmit)
2. storing backend errors and displaying them to the user

For 2, as described, you can use `status` to store the data and then in your render function figure out what to show. FWIW `status` used to be called `error` (singular) and was intended for this use case.

It's awkward in v1, but will be less so in v

[2018-12-13 22:47] jaredpalmer commented on #828
This is obviously a mistake as v2 is being actively developed #1063

[2018-12-14 00:42] jaredpalmer commented on #486
This is now available in formik@canary

[2018-12-14 00:42] #553 closed

[2018-12-14 00:43] jaredpalmer commented on #1046
See #1063

[2018-12-14 00:43] #1164 closed

[2018-12-14 00:45] jaredpalmer commented on #956
FYI This has been removed from Formik in 1.4.0 because it is extremely render intensive and widely used.

[2018-12-14 00:45] #956 closed

[2018-12-14 00:46] jaredpalmer commented on #1117
Feel free to submit a PR!

[2018-12-14 00:49] #1108 closed

[2018-12-14 00:50] jaredpalmer commented on #227
2.0.0 canary is out. `npm i formik@canary`

[2018-12-14 01:04] johnmcdowall commented on #1026
Hmm, not seeing any improvement on 1.4.0 for me. A single key press is causing 2 renders:

![screen shot 2018-12-13 at 5 02 29 pm](https://user-images.githubusercontent.com/237175/49976927-f3c63d80-fef8-11e8-80f8-fc88d1039aee.jpg)

This is the code for the form:

[code]

I appreciate this is not very helpful without a repro, will try and get one up and running this weekend.

[2018-12-14 03:07] RobertoC27 commented on #1180
I'm having a similar issue as well. These are my sandbox's dependecies
[code]
and here is the sandbox https://codesandbox.io/s/q62y6zk5w

[2018-12-14 03:59] RobertoC27 opened #1184 "Unable to reset form"
## 🐛 Bug report

### Current Behavior

Unable to reset form using resetForm(), i get this error whether using Form and Field or just input and form
![image](https://user-images.githubusercontent.com/8262009/49982249-43206400-ff21-11e8-895f-d94c504f1389.png)

### Expected behavior

Being able to reset my form

### Reproducible example

https://codesandbox.io/s/jvm8nz0my9

### Your environment

| So

[2018-12-14 04:49] jaredpalmer commented on #1180
This is a bug.

[2018-12-14 04:50] jaredpalmer commented on #1180
Will fix in the morning

[2018-12-14 05:18] Jyodsh opened #1185 "How to build the form from a JSON structured data in componentDidMount ?"
Hi ,

I have a non-formik implementation and I would like to convert it into Formik.
But my form fields are dynamic and  I will get those information from a REST API.

**Current implementation.**
All forms are in a modal and when ever user clicks on the CTA , I will make an API call and get the corresponding form data in a JSON response.
Right now I am doing that API call from `componentDidmount`

[2018-12-14 07:39] #916 closed

[2018-12-14 10:22] mjbertenburg commented on #1156
Hi Jared,

thank you. I got it working by myself. It had tried the working solution before, but somehow it did not work. But now I do understand that I can simply check the values if I use a <Field/> instead of <FastField /> in the Subcomponent
[code]

But I have got another question regarding <Field /> in Subcomponent.
If I want to call setFieldValue in a Subcomponent, I always will have to pass

[2018-12-14 13:50] charlax commented on #691
Another issue: when submitting then resetting the form, it seems that the `initialValues` are not reset as well.

[2018-12-14 15:57] maciej-gurban opened #1187 "When using <Formik /> every keystroke on input field causes double render"
## 🐛 Bug report

### Current Behavior
Every keystroke causes 2 renders of input field components - behavior can be seen in provided codesandbox. In some more complex components the render happens 4 times instead of only 2.

### Expected behavior
Component is rendered only once

### Reproducible example
https://codesandbox.io/s/rr1m31xxxq

### Your environment

| Software         | Version(s) |
| -

[2018-12-14 16:17] jaredpalmer commented on #1180
Yeah `initialValues` is required.

[2018-12-14 16:21] jaredpalmer commented on #1180
It's not a bug per se, but rather the way that Formik transforms the errors object. However, we should add a warning when `initialValues`

[2018-12-14 17:44] ericbiewener opened #1188 "Rerender FastField when non-formik context props change"
## 🚀 Feature request

### Current Behavior

Non-formik context props only trigger a `FastField` rerender if they are [added or removed](https://github.com/jaredpalmer/formik/blob/master/src/FastField.tsx#L120).

### Desired Behavior

Allow `FastField` to rerender when non-formik context props change value. This doesn't strike me as something that is likely to produce a performance hit.

### Sugges

[2018-12-14 18:07] jaredpalmer commented on #1188
Seems like a good idea

[2018-12-14 23:40] #1187 closed

[2018-12-15 00:19] jaredpalmer commented on #1179
This probably makes sense.

Btw upgrade to v1.4.1

[2018-12-15 02:05] johnmcdowall commented on #1026
@jaredpalmer Awesome! So I just upgraded to 1.4.1 and the good news is that the double re-render for a single key press is fixed, and the form input speed is now acceptable on small forms (3 or less inputs).

The bad news is that on forms with 5 or more inputs, the performance issue remains (typing is slow, pressing and holding a key freezes the UI). Will investigate more.

[2018-12-15 05:00] noinkling commented on #342
Looks like the two points I mentioned in my comment further up are both addressed as of 1.4.1 (not in a customizable way, but at least in a way that makes sense for the vast majority use case) :+1:

[2018-12-15 06:33] #752 closed

[2018-12-15 07:33] #943 closed

[2018-12-15 19:05] seeden commented on #1026
thanks @johnmcdowall I have same issue :(

[2018-12-15 19:07] #812 closed

[2018-12-16 09:10] litkod commented on #920
I am facing this issue as well. When on a Yup validationSchema, I am unable to trigger handleSubmit on the HOC yet the component version works fine.

(Example with Formik component)
https://codesandbox.io/s/zKrK5YLDZ

(Issue example with withFormik HOC)
https://codesandbox.io/s/o48nlv2knz

[2018-12-16 10:05] navaswd opened #1190 "How to set initial values from redux store state in formik?"
## ❓Question

Seriously, for immediate help, just ask your question on the #formik channel on [Reactiflux](https://discordapp.com/invite/MbKwYuq).

[2018-12-16 10:44] navaswd commented on #1190
@jaredpalmer Hi Everyone, I can't set the initial values to the field from redux store as an object and set it into props from the parent container. I am struggling with this can anyone please?
Below is my code:

`import React from 'react';
import PropTypes from 'prop-types';
import { withRouter } from 'react-router-dom';
import { connect } from 'react-redux';
import { bindActionCreators } from 'r

[2018-12-16 11:07] navaswd commented on #1190
@jaredpalmer Hi Everyone, I can't set the initial values to the field from redux store as an object and set it into props from the parent container. I am struggling with this can anyone please?

Below is my code:

[code]

[2018-12-16 11:19] reflog commented on #1158
I'm also hitting this error. @jaredpalmer - is there any chance to merge @charlax changes?

[2018-12-17 00:36] nathanhannig commented on #929
updated yup from 0.24.1 to latest and now getting this error

[2018-12-17 01:01] #751 closed

[2018-12-17 03:01] #984 closed

[2018-12-17 08:37] intelligentspark commented on #663
Confirmed not working in 1.3.2

[2018-12-17 10:46] DatNT96 commented on #33
I found a solution that can help that using `ref` of `react`. So if you can pass the `errors` props and setErrors with this ref. Hope it help.

[code]

[code]

[2018-12-17 10:49] idoo commented on #33
I guess that `ref` is not proper place to store errors

from documentation:

[2018-12-17 10:52] DatNT96 commented on #33
@idoo I don't store errors in `ref`. I using `ref` for getting formik reference and using `setErrors` function of formik

[2018-12-17 11:14] DatNT96 commented on #1190
HI @navaswd. Try change some code. Hope it help.

[code]

[2018-12-17 11:59] koyta commented on #87
[KickCity](https://kickcity.io)

[2018-12-17 13:46] bidah commented on #38
@jaredpalmer what about a boilerplate for the render props version? 🙏

[2018-12-17 14:30] yotavm commented on #930
The same problem, I have nested Formik (multi-page in the same Formik).
my form is sync with redux on init,
but when I try to run setFieldValue in didMount of child component noting happen until I'm using setTimeout with 0

[2018-12-17 14:41] navaswd commented on #1157
@jaredpalmer, Thanks Bro.

[2018-12-17 14:44] navaswd commented on #1190
Thanks bro, But its not setting the initial values from the redux store.

[2018-12-18 01:41] egorzaremba opened #1191 "Formik automatically converts number value type to string"
## 🐛 Bug report
<img width="1428" alt="screen shot 2018-12-18 at 4 10 24 am" src="https://user-images.githubusercontent.com/31797554/50126622-b8bc6500-027e-11e9-8a93-447ea1fac94b.png">

I guess I do something silly
so I try to send data to my server, which contains numbers and string types, but if user changes number type fields, Formik will automatically convert number type value to string type

[2018-12-18 02:07] DatNT96 commented on #1190
@navaswd Oh sorry, I think I know what is wrong. In `React` lifecycle, `componentDidMount` will take after render. Maybe the first time rendering, the formik receive initialValue of `user` is {}. So they can not set value. Please try `console.log` the `user` the first time when formik render for testing

[2018-12-18 04:36] cagmz commented on #937
@robbporto , found a small writeup here: https://github.com/jaredpalmer/formik/blob/f5d76609b222ce583663add279ac76e807e2d0ba/README.md#testing-formik

[2018-12-18 06:20] shubh54 commented on #956
@jaredpalmer if this has been removed how does one know that validation is in progress. Is there some other way to achieve this ?

[2018-12-18 06:22] shubh54 opened #1193 "Async validation tracking ?"
## ❓Question
#956 says that async isValidating has been removed from version 1.4.0. Is there some other way to achieve this ? Basically I want to show loader when async validation is in progress.

[2018-12-18 07:18] #985 closed

[2018-12-18 09:29] Saifadin commented on #1191
You are not giving your input the type=number prop, it is a type=text so it will treat it like a string.

[2018-12-18 11:15] muntyanv commented on #1188
+1 to this use case, should be nice if you implement this feature. Btw thanks for Formik!

[2018-12-18 11:56] navaswd commented on #1190
@DatNT96 Thanks, will I try it with receive props lifecycles? or any other method do you know?

[2018-12-18 12:12] agoodsell5 commented on #1019
I still think this would be a useful piece of functionality.

[2018-12-18 12:39] jaredpalmer commented on #956
It is not fully removed. It just removed outside of the submission process.

[2018-12-18 12:40] jaredpalmer commented on #1193
You can do this by calling validateField or validateForm imperatively. These will trigger isValidating to toggle

[2018-12-18 14:03] #1191 closed

[2018-12-18 15:52] jaredpalmer opened #1194 "Add benchmark suite"
# Feature Request

## Current Behavior

In v2, we are looking at flame graphs in a not so scientific way to compare performance. Sometimes it is super obvious that one change in "better" than another, other times...not so much.

## Desired Behavior

Add a more robust profiling and/or benchmarking setup to the test suite so that we can more easily compare perf implications of changes. Additionally,

[2018-12-18 18:08] weyert commented on #1185
Why wouldn't you be able to? You can just render the Formik component after the JSON has been fully loaded?

[2018-12-18 18:31] robbporto commented on #937
This helps, @cagmz. Thanks for pointing this out.

[2018-12-18 21:23] brokarth opened #1195 "Post render callback"
## ❓Question
Hello, I got a question, I need to know if there is a post-render callback on formik, I got a button that is outside of the form, so to enable or disable the button, I send a event from the form saying if the form is valid.

I tried using validate function, but it is executed before the forms knows if is valid or not
so i put it on the render function, but react warning me that i exec

[2018-12-18 21:47] jaredpalmer commented on #1195
Can you create a codesandbox demonstrating what you are trying to do? Or share some code?

[2018-12-18 22:49] maciej-gurban opened #1196 "Handle onSubmit throwing/rejecting and set isSubmitting back to false"
## 🐛 Bug report / Feature request

### Current Behavior

I'm new to the lib so it could be possible, but the docs didn't provide any answer.

Whenever one submits a form, `isSubmitting` is set to true. To my understanding, there's no way to trigger the `isSubmitting` to be set back to `false`. I'd expect this to happen whenever `onSubmit` throws or returns a rejected promise. Without this behavior

[2018-12-18 22:52] maciej-gurban commented on #1196
Ah, nevermind, I can't read! :D The info is [here](https://jaredpalmer.com/formik/docs/api/formik#setsubmitting-issubmitting-boolean-void)

[2018-12-18 22:52] #1196 closed

[2018-12-19 07:45] intelligentspark commented on #725
+1 this issue!

[2018-12-19 08:05] 0FilipK opened #1197 "Dispatch redux action after validation is failed"
## ❓Question

I'm using Formik with Yup validation schema. It works perfectly but on error I would like to show error "notification" to user (dispatch redux's action). Is there something like `onSubmit` but for errors? I read docs and inside onSubmit there is no "errors"/"dirty" etc. - it's inside render props. Any idea how to "run" notification after user clicks submit button and validation fails

[2018-12-19 11:49] rfoel commented on #486
@jaredpalmer is there an example using it? I have a simple form using the v1.x.x and it works until I submit a form with errors, then the form won't let me submit again.

[2018-12-19 14:44] brokarth commented on #1195
Sure, ill create the repo and tell you when is done

[2018-12-19 15:02] emmenko opened #1198 "Form is submitted if there are uncaught errors in validate function"
## 🐛 Bug report

### Current Behavior

At the moment, if within the `validate` function an error is thrown, Formik does not handle it, causing the form to be submitted as it thinks there are no validation errors.

![2018-12-19 16 04 46](https://user-images.githubusercontent.com/1110551/50228298-dcc79580-03a7-11e9-9444-670516373ba2.gif)

### Expected behavior

If an error is thrown, Formik should h

[2018-12-19 15:02] emmenko commented on #1198
I can open a PR with the fix if you'd like.

[2018-12-19 15:12] maxparelius commented on #930
Same. Would be great if we could get a didMount callbback of sorts which passes a FormikBag back so we can do any handling with formik values without having to write messy code in the render method.

[2018-12-19 15:36] FredyC opened #1199 "Form becomes "isValid" briefly which breaks the tests"
## 🐛 Bug report

### Current Behavior

When a form is validated for the first time, the `isValid` prop becomes `true` once while it's not correct and then it gets flipped back to `false` and it works correctly after that. This is problematic when running tests against `jsdom` environment as the next update is not seen there.

### Expected behavior

I am not sure what's behind this, but such extra

[2018-12-19 15:53] emmenko commented on #1198
I'm working on the fix. I also noticed that some tests are false positives as they assert "too early". I'll show you in the PR.

[2018-12-19 15:57] jaredpalmer commented on #1198
Yeah. This is a bug. Thanks for the write up!

[2018-12-19 16:47] rvanlaarhoven commented on #1026
I'm also still experiencing the same issues after upgrading to 1.4.1.

In my case it's really limited to the components using styled-components. But, it only effects styled-components that are within the scope of the formik's `<Formik />` component.

[2018-12-19 16:56] emmenko commented on #1198
Btw: I think part of the problem is in the `submitForm` function

https://github.com/jaredpalmer/formik/blob/13954fdd10070f727a0259dbbf98824cb980fa92/src/Formik.tsx#L446

If `combinedErrors` is an instance of an `Error`, the check passes

<img width="245" alt="image" src="https://user-images.githubusercontent.com/1110551/50235074-54e98780-03b7-11e9-93a1-b3f74633c845.png">

I'll describe it more in

[2018-12-19 17:37] stramel opened #1200 "FieldArray updating when only modifying a FastField"
## 🐛 Bug report

### Current Behavior

Have a `FieldArray` in a `Form` and a fast field in the same form `FastField`.

When updating only the `FastField`, the entire `FieldArray` updates.

### Expected behavior

Have a `FieldArray` in a `Form` and a fast field in the same form `FastField`.

When updating only the `FastField`, only the `FastField` should update.

### Reproducible example

https://c

[2018-12-19 19:43] fullmetalsheep commented on #929
@raq929 , @nathanhannig

Make sure the variable you're checking is defined inside the validationSchema regardless whether its 'required'.

See this answer for an example: https://stackoverflow.com/questions/49394391/conditional-validation-in-yup?rq=1

[2018-12-19 20:44] jaredpalmer commented on #1200
FastField broadcasts its updates to all other Fields and FieldArrays. You would need to implement shouldComponentUpdate in component that wraps FieldArray.

[2018-12-19 20:44] jaredpalmer commented on #1200
In other words, this isn’t a bug, but rather intended behavior.

[2018-12-19 20:50] stramel commented on #1200
Alright, I will look into writing a `FastFieldArray` or something similar. Thank you for the quick reply.

[2018-12-19 20:50] #1200 closed

[2018-12-20 09:21] NeoLegends commented on #966
I just ran into this and spent half an hour wondering why validation wasn't working as soon as I made it asynchronous. Would be great to land this soon!

[2018-12-20 12:37] abdulqadir88 opened #1202 "Formik hidden field sending null value to server"
Hello There,

I am new to React i am using FormIK which is posting Form data fine unless i add a hidden field into it.

When i post form it sends the Null value of hidden field
 `<Field type="hidden" className="form-control" name="hiddenField" ></Field>`

Also i have provided initial values to Formik

[code]
Any thing which i am missing ?

[2018-12-20 12:48] adhrinae commented on #87
[Protopie](https://www.protopie.io/)

[2018-12-20 14:22] mjbertenburg commented on #770
I am facing this issue as well at the moment. I have got a table with input fields in the rows and I would like to push new items from an api request, but allowing to dismiss them via
Is there any news on the problem?

[2018-12-20 16:21] baleeds commented on #1026
Hi @jaredpalmer for me there is a marked improvement in 1.4.1, so thank you for that.  I went from 3 renders to 2, which I suppose made it 33% faster.  Overall, I think the onus is on styled components more than on you.

[2018-12-20 16:43] mackbrowne commented on #991
Also getting this as of today after updating react.

[2018-12-20 16:55] jaredpalmer commented on #991
Can you create a snack or something? Are you using the named export?

[2018-12-20 17:30] bschwartz10 commented on #1158
Also running into this error when trying to set errors as an object. (i.e. {"0": {name: "Error"} }

[2018-12-21 00:49] #996 closed

[2018-12-21 03:19] johnmcdowall commented on #1026
@baleeds Are you using styled-components in your Formik forms? Because this performance issue didn't happen for me when using other React form libraries, or just standard forms, so there would seem to be a Formik specific issue here...

[2018-12-21 03:48] garyng2000 opened #1203 "pass current field name when calling field level validator"
## 🚀 Feature request

currently a field level validator has to define like this
validator = v=>test value 'v' and return some message or promise that return such thing

it would be better if it is done as this(name as the second param)

validator = (v,name)=>{}

I can simulate this at rendering time(or some where in the didMount if it is once off) as
validator = name => v => {}

but this is very i

[2018-12-21 03:53] linuxgg commented on #811
[code]
working here

[2018-12-21 05:33] garyng2000 commented on #1195
throw away the rulebook of 'pure' , something like below(may need setTimeout but you get the idea)
the key is do use this.setState(), use instance variable. if you must use setState, probably have to it via setTimeout to get around React's protection. Treat setTimeout as external event not trigger by click but timer(no different than manually click a button to disable something).

stealErrorInfo=(

[2018-12-21 06:17] GeeWee commented on #812
@nyanpasu  Aren't you simply looking for https://github.com/jaredpalmer/formik-effect for that?

[2018-12-21 11:05] rvanlaarhoven commented on #1026
Apparently styled-components are always rerendering if the parent component triggers a rerender (See https://github.com/styled-components/styled-components/issues/1723). In my case, I have quite a lot of styled components inside the form, which are all being rerendered as soon as a value changes, since they're stored in the form's state.

So the solution probably lies in the use of wrapper compone

[2018-12-21 11:45] baleeds commented on #1026
@johnmcdowall we are using styled components throughout the whole app, which includes inside of formik forms.  My observation is that styled components are slow because they cause things that don't need to be components to be components, which means more render functions run (in our case, WAY more, since almost all html elements are SC).
This is compounded by the multiple renders on each keystroke

[2018-12-21 17:37] #1006 closed

[2018-12-21 18:01] jaredpalmer commented on #1026
@baleeds is correct. styled-components also hooks every single component into context for theming...slowing down thing even more.

[2018-12-21 20:05] sebasrodriguez commented on #1154
@brightpixels I think that another approach would be to save the Formik ref and pass it to a parent component. And with that reference you can later call the submitForm function. Something like this:

[code]

In this case setForm is a function prop implemented in the parent component and stores the reference to formik.

You need to be careful with this approach cause I think it might lead to memor

[2018-12-21 20:19] brokarth commented on #1195
Thanks for the answer but i dont think is good solution.

Here is a repo with the warning for you to see:
https://gitlab.com/brokarth/formik-post-validation-callback

I n the README is the instructions for replicate the problem, if you got any question, tell me :)

[2018-12-22 00:12] garyng2000 commented on #1195
that is exactly what I meant 'throw away the 'pure' rulebook' :-)
you can only get the errors list of Formik during rendering so unless your button is under its context, you cannot see it. what I suggest is to 'steal' it(which is effectively your post render callback)
whether it is a good solution or not is up to you to decide. just make sure that if you must setState rather than using simple inst

[2018-12-22 12:11] klis87 commented on #797
Anticloser message

[2018-12-22 13:54] klis87 commented on #797
@jaredpalmer what do u mean?

[2018-12-23 20:19] dmtrKovalenko commented on #682
@jaredpalmer @jared-ross  A lot of people pinged me out that found this proposal really useful. Can you give some feedback here for me to be clear should I submit a PR or not. Thanks so much for your awesome project! 💪

[2018-12-23 21:51] lichtamberg opened #1204 "ErrorMessage not shown when setting in onSubmit"
## 🐛 Bug report

### Current Behavior

### Expected behavior

It should show the error messages

### Reproducible example

Here is a sandbox example: https://codesandbox.io/s/640mw0n1kz

[code]

### Your environment

| Software         | Version(s) |
| ---------------- | ---------- |
| Formik           | 1.4.1 |
| React            | 16.1.1 |
| TypeScript       | ? |
| Browser          | Firefox |

[2018-12-23 22:03] lichtamberg commented on #991
Getting the same in the sandbox: https://codesandbox.io/s/640mw0n1kz

[2018-12-23 22:03] lichtamberg commented on #991
When I remove the ErrorMessage field the error disappears.

[2018-12-23 23:12] jaredpalmer commented on #991
Any updates?

[2018-12-24 05:50] smakosh commented on #1188
I've been trying to change the type of `FastField` by clicking on a button but doesn't seem to work, works fine with `Field`, maybe it's related to this

[2018-12-24 06:49] realtebo opened #1205 "Request for an example of dependant and dynamic selects"
## 📖 Documentation
I've a request for documentation: an example of 2 selects, where the first one throw a refetch and a repopulate of the second.

Imagine a simple case where select 1 has provinces and select 2 the postal code.

I was looking for a 'global' change handler in the form or in the formik, but probably I'm doing wrong something because I'cannot console.log() anything when first combo c

[2018-12-24 11:19] #1017 closed

[2018-12-24 16:56] lichtamberg commented on #1204
@jaredpalmer Could you tell me if this would be at least the desired behaviour? Or do I something wrong?

Happy Christmas by the way and thank you really much for this great library! 🎅 🎄 🎁 ❤️

[2018-12-24 20:11] lichtamberg commented on #1204
I just found the issue, you have to set isTouched to true?
Bit intuitive :/

worked with following code:

[code]

[2018-12-24 20:11] #1204 closed

[2018-12-24 21:55] AhmedEldessouki commented on #265
this is how i did it using mapDispatchToProps
`mapPropsToValues: props => ({
      ...props
  }),` then in the  handleSubmit
`handleSubmit: (values, bag) => {
    setTimeout(() => {
      if (values.firstName === 'admin') {
        bag.setErrors({ firstName: 'Nice try!' });
      } else if (values.lastName === 'admin') {
        bag.setErrors({ lastName: 'Nice try!' });
      } else {
        cons

[2018-12-25 08:01] abhiram5 opened #1206 "How to pass state values to initial values in formik in react js"
I'm using formik library in my react application. Initially, I declared state values in the constructor, In componentDidMount I'm calling an API with that app response am updating state values, Can anyone help me in passing state values to fomik initial values

In my situation formik taking initial state values which are declared in the constructor.thanks in advance

[code]

[2018-12-25 08:21] shubh54 opened #1207 "Add display name to formik components"
## 🚀 Feature request

### Current Behavior

Currently displayName for formik components is not set. So say in my shallow wrapper it's difficult to find Field or FieldArray components.

### Desired Behavior

Shallow wrapper in enzyme is currently showing Field -> C, ideally it should be Field only.

### Suggested Solution
Add display name to all existing formik components. (Field.displayName = 'Fie

[2018-12-25 14:16] jaredpalmer commented on #1204
you need to set initialValues

[2018-12-25 14:18] jaredpalmer commented on #1206
Only render the form if your data in state is defined. Otherwise render a loading indicator

[2018-12-25 14:18] #1206 closed

[2018-12-25 14:19] jaredpalmer commented on #1202
Each Field needs a name prop

[2018-12-25 14:19] #1202 closed

[2018-12-25 14:19] jaredpalmer commented on #1202
and a value in initialValues in this situation

[2018-12-25 14:37] jaredpalmer commented on #1197
If you absolutely have to store this behavior in Redux, you can use formik-effect https://github.com/jaredpalmer/formik-effect. However, it’s likely easier to store this state in Formik `status` (and use `setStatus` in your `onSubmit` function).

[2018-12-25 14:37] #1197 closed

[2018-12-25 14:37] #1193 closed

[2018-12-25 14:38] #1185 closed

[2018-12-25 14:38] jaredpalmer commented on #1180
I think I’m going to add a warning when initialValues are not present

[2018-12-25 14:41] jaredpalmer commented on #1176
It doesn’t. IIRC object is better than any here because of the error message that occurs. Using any would also break inferencing IIRC. Have to try it though.

[2018-12-25 14:55] jaredpalmer commented on #1170
The default props are just booleans . What’s the use case?

[2018-12-25 14:56] #1156 closed

[2018-12-25 14:56] #1154 closed

[2018-12-25 14:59] jaredpalmer commented on #1173
If you wrap your Field in a component or write your own version of Field with connect, you can modify form state when it unmounts.

[2018-12-25 14:59] #1173 closed

[2018-12-25 16:01] jaredpalmer commented on #1039
Pin

[2018-12-25 16:01] jaredpalmer commented on #1036
Pin

[2018-12-26 13:20] roman-pauk commented on #1190
Hi @navaswd . You can write a wrapper component and connect it to the store. Then paste the initial props to the form component, for example, it will be `initialValues`. Then create form component using `withFormik()` function and paste `mapPropsToValues: ({initialValues}) => initialValues` as option to the `withFormik()` function. It works for me.

[2018-12-26 15:50] Steffi3rd commented on #116
All this works if we set `'blue'` and `'red'` as string.

But how does it work when <RadioInput/> is generated by a loop, with dynamic `value` ?
I tried by replacing `'blue'` by `value`, it doesn't work.

`value` is always changing with `onChange`.

[code]

[2018-12-26 17:39] brokarth commented on #1195
I understand what you say, but since we have already a workaround, I don't think that an `setTimeOut` is a good solution. I would like a definitive solution.

So, it appear that formik doesn't have a post render callback to know the form state at that point... so we can may build it.

So i think in two options:

1. As a developer I would love to call to `componentDidUpdate` since is more redeable

[2018-12-26 17:48] MikeSuiter opened #1209 "[1.4.X] submitForm() isn't hitting handler because combinedErrors = {isCanceled: true}"
## 🐛 Bug report

### Current Behavior

I'm using [Component Component](https://ui.reach.tech/component-component) to automatically submit my form when a select field changes. The sandbox below works if you use Formik 1.3.2 but doesn't hit the handleSubmit with 1.4.1. Debugging into Formik from my real app shows that in submitForm() it does this:

[code]

In the code above `combinedErrors = {isCanc

[2018-12-26 17:59] garyng2000 commented on #1195
What you want is 'PreRender' from the formik perspective not PostRender because you want to pass the formik bag info to context outside Formik and your 'button' can be before or after the Formik block and React as a renderer which still process the whole component in the layout order, it needs to pass this on before the rendering.
Currently, you can only steal it during formik rendering which can

[2018-12-26 18:10] abglassford opened #1210 "runFieldLevelValidations only runs on registered fields"
## 🐛 Bug report

### Current Behavior

I have a form with multiple tabs (Material-UI `<Tabs/>`). Each time I change the tab, the previous tab is unmounted and Formik unregisters the fields on the previous tab. Since runFieldLevelValidations checks the registered fields for their `validate` prop to fire the function, it will only validate the mounted/registered fields and not the fields that may or

[2018-12-26 18:33] jaredpalmer commented on #1210
This is not possible unfortunately for exactly the reason you have described.

[2018-12-26 18:49] jaredpalmer commented on #1209
Hrmmm....you are using submitForm() in a way that's not really intended. What's happening is that you are triggering another validation after you call submitForm() by another handleChange or a handleBlur  because you are submitting your forms on each key stroke.

[2018-12-26 19:01] brokarth commented on #1195
If move the [`checkFormValidity`](https://gitlab.com/brokarth/formik-post-validation-callback/blob/master/pages/my-super-form.jsx#L31) call inside a `componentDidUpdate` function on  [`<MySuperForm />`](https://gitlab.com/brokarth/formik-post-validation-callback/blob/master/pages/my-super-form.jsx), it is never called.

And as i say, it makes sense since the component that is updating is `<Formik

[2018-12-26 19:03] MikeSuiter commented on #1209
@jaredpalmer In my real app it's a select field and not a text field but has the same problem. It's a select field to filter a grid and I make a REST call each time the filter changes. Any suggestions on how to do this? I really don't want to add a button as I don't want to make an extra step for the users.

[2018-12-26 19:08] jaredpalmer commented on #1209
Since this is not a side-effect, something like Formik Effect  (or the didUpdate approach) is not going to work consistently. What you should do is write a custom component for your select that accepts an `onSelect` function like:

[code]

[2018-12-26 19:19] garyng2000 commented on #1210
as Jared said, if it is not rendered it doesn't exist so nothing to validate.
What can be done is to handle the hide/show as CSS thus render all tabs from HTML perspective but only one being visible(display:none of some form). This would be heavy in terms of rendering(depending on how complex your forms are) but would achieve what you want. And it can also have the side effect of validator run eve

[2018-12-26 19:20] MikeSuiter commented on #1209
I'll the suggestion posted above. I did try this and it works but seem hacky.

`setTimeout(props.submitForm, 10);`

[2018-12-26 19:30] jaredpalmer opened #1213 "Error messages workflow like React core"
## 🚀 Feature request

### Current Behavior

Error messages are hardcoded (some even with URLs). Should we move the website or change it's structure these links will 404.

### Desired Behavior

Implement a workflow like React core's error messages, where errors are replaced with numeric values in prod builds.

[2018-12-26 20:41] jaredpalmer commented on #1209
Did you try with the 3rd argument of setFieldValue?

[2018-12-26 21:12] MikeSuiter commented on #1209
Yes I have this handler which seems to be working fine. Thanks for your help.

[code]

PS - we just converted our redux-form app to Formik and like it a lot better but it's missing some functionality we were using. First redux-form Field has format and normalize which we use for dates, times, etc. and Formik doesn't have that. Second redux-form has FormSection which we use a lot because of our dee

[2018-12-27 00:15] ericbiewener commented on #1188
Yes, this would cause that issue.

[2018-12-27 04:58] egemon commented on #243
@jaredpalmer could u help us please?

[2018-12-27 07:45] Steffi3rd commented on #116
Ok, found a solution

I have to set a `initialValue` to this input, which has the same as `value` at the beginning.
Then do all tests using `initialValue`

[code]

[2018-12-27 09:05] Michto8 commented on #811
Doesn't work for me ...

[2018-12-27 10:58] Sudesh18sharma opened #1214 "Validation on Form Field Problem"
## ❓Question Hello Guys,I m trying to put validation on my code but i dont know what happened validation not showing on page.... please help

Seriously, for immediate help, just ask your question on the #formik channel on [Reactiflux](https://discordapp.com/invite/MbKwYuq).

[SignIn.zip](https://github.com/jaredpalmer/formik/files/2712278/SignIn.zip)

[2018-12-27 14:04] #1210 closed

[2018-12-27 16:55] MikeSuiter commented on #1209
@jaredpalmer I can close this unless you prefer to do it?

[2018-12-27 17:21] jaredpalmer commented on #1209
Thanks for the feedback. Much appreciated. Glad you found a solution that works.

[2018-12-27 17:21] #1209 closed

[2018-12-27 20:30] 0FilipK commented on #1197
I'm not sure that is answer to my question. Let's say it more clearly:
I have just normal Formik form with Yup. If user clicks on submit button errors appears but onSubmit function is NOT running. I need to run something (it's not important what - it can be alert, setState or dispatch redux action) on this error but I don't have "place" to hook my function. I can't use "onSubmit" because it's not

[2018-12-27 20:30] 0FilipK commented on #1197
@jaredpalmer ^

[2018-12-28 03:59] #1034 closed

[2018-12-28 16:42] Nickman87 commented on #608
@Neilpoulin thanks for the sample code, was looking for a clean way to do exactly the same thing, unfortunately formik does not provide any hooks for this. Seems to me this could be implemented in the `<Field>` component without too much hassle as it already provides the onChange method to the underlying DOM field...

[2018-12-28 17:59] cloud-walker commented on #1209
@MikeSuiter I still think you are doing it wrong, if you are avoiding the Formik logic, why forcing yourself to use the `formik.submitForm`? Just to trigger the `onSubmit` callback?

You can use the onSubmit callback directly, or the part you need about it

[2018-12-28 21:39] MikeSuiter commented on #1209
@cloud-walker I think what you're saying is to directly call my handleSubmit() instead of calling submitForm() which will do touched, validation, etc. then call my handleSubmit(). In this case this would work because I'm not doing any form validation just sending the value to the REST call. Heck I probably don't need Formik here at all.

[2018-12-28 23:11] jaredpalmer commented on #1209
All of this ^^^

[2018-12-29 00:20] #1023 closed

[2018-12-29 15:51] #1037 closed

[2018-12-29 18:40] Nogaeman commented on #472
error message not work in array of string and array of object
this is my code whats wrong of it ?

import React, { Component } from 'react';
import {Formik , Field , ErrorMessage , FieldArray} from 'formik';
import * as Yup from 'yup';
import './App.css';

class App extends Component {
  onSubmit = (values) =>{
    console.log(values);
  }

  renderfonrm= (probs) => {
   return <form onSubmit={pro

[2018-12-30 01:21] webberwang commented on #1116
I'm seeing this as well even after submitting a valid form, the `isValid` property stays false. It's causing some issue with validation states

[2018-12-30 06:40] MrLoh opened #1215 "e.target is null in React Native web leading to error"
## 🐛 Bug report

### Current Behavior

I am getting an error in React Native Web when using the `handleBlur('email')` from the react native example:
`formik.esm.js?8b7e:431 Uncaught TypeError: Cannot read property 'name' of null`

This seems to be because `e.target` is always accessed in the blur handler, in React Native Web it is null however. This is completely unnecessary, since `path` is alway

[2018-12-31 00:58] MrLoh commented on #1215
I ran into similar issues when calling `handleChange(key)` with a value other than a string (that is not an event either). I had this when for example using a React Native Switch element, which has a `onValueChange: (value: boolean) => void` signature, but also with custom input components for dates, and similar. I updated the PR to improve the handling in such cases.

[2018-12-31 05:07] billdybas commented on #1205
Here's an [example](https://codesandbox.io/s/8zy3o1p9p9) where one select's value changes another select's options. Note, the options are static, but you can imagine dynamically fetching them.

[2018-12-31 11:56] charlax commented on #1158
@jaredpalmer gentle ping here :)

[2018-12-31 21:26] samuelcastro opened #1217 "Can't perform a React state update on an unmounted component."
## 🐛 Bug report

### Current Behavior

When component is unmounted for any reason and a pending formik workflow is still pending an error message shows up:

[code]

### Expected behavior

No error

### Reproducible steps

1 - Create a simple formik form.
2 - Make a submit event and change view right after. In my case I'm just redirecting the user to another route due to a non-authorized request.

[2019-01-01 03:57] std4453 opened #1218 "How to trigger form submit on change"
## 🐛 Bug report

### Current Behavior

In our project we've created an MUI `Select` component and want it to do something every time its value has changed.

We've chosen to wrap it inside a `<Formik>` tag in order to avoid dealing with events, and to keep code familiar to other members of the group. (since we use Formik in a great many places of the project)

Currently we write things like this: (

[2019-01-01 10:32] dymafr commented on #1172
@jaredpalmer Do you need some more input on this issue? Thanks a lot

[2019-01-01 17:13] #1045 closed

[2019-01-01 19:38] pixeltopic commented on #148
@mvanlonden For some reason if I backspace to the point where there is nothing on an input component, when using that wrapper I get a react [error.](https://media.discordapp.net/attachments/380509513863921674/529626640800546818/f0dc69cc1c0df3d89e65bc27dd8a3886.png)

`A component is changing a controlled input of type password to be uncontrolled.`

Otherwise, it works great. Do you know what might

[2019-01-02 08:37] mikeyamato opened #1219 "Use Formik To Help Manage State For Non-Traditional Text Inputs (i.e. wheel picker)?"
## ❓Question

Hey team. I've started to use Formik (via `<Formik render>`) with Yup for a React Native project to help manage state for name and email text inputs. In addition I'm using a [wheel picker](https://github.com/lesliesam/react-native-wheel-picker) for selecting a predefined value. Is it possible to use Formik to store state from the wheel picker?

The selected value is returned as a str

[2019-01-02 08:38] klis87 commented on #1007
`smoke signal`

[2019-01-02 17:59] klis87 commented on #1218
I confirm this issue, I was bitten by it too, I have a form component for filtering purposes and I dont need button there, hence I submit form on any change. The easiest way to achieve it was to call `submitForm` like @std4453 in `onChange`

In my opinion this is a bug in `1.4.1` release, as in `1.4.0` everything worked fine. Probably as the consequence of `Remove double rendering on each key stro

[2019-01-02 19:47] psachs21 commented on #1217
Also just ran into this. Except: react 16.6.3 and yarn 1.12.3.

[2019-01-02 20:22] jaredpalmer commented on #1219
You can use `setFieldValue` or `handleChange` props.

[2019-01-02 20:22] #1219 closed

[2019-01-02 20:43] jaredpalmer commented on #1218
Duplicate of #1209

[2019-01-02 20:50] jaredpalmer commented on #1218
Here my suggested solution: https://codesandbox.io/s/m4mzpn166j. I guess my question is why you need to validate through formik submission on every keystroke. Just call you submit function directly from your handler and avoid validation altogether. FYI when you do this, your onSubmit function will still not run if there are errors returned by validation.

[2019-01-02 21:09] jaredpalmer commented on #1218
@klis87 @std4453 submit on change is a very very strange concept to formik. This is because submission will only actually execute if validation passes.

@klis87 I think you are correct, the overrendering was probably hiding this race condition. You were also likely submitting outdated data.

@klis87 the last part will be trivial when hooks arrive with `useEffect()` or right now component-component

[2019-01-02 21:09] #1214 closed

[2019-01-02 21:11] jaredpalmer commented on #1217
Can you create a sandbox with your example?

[2019-01-02 21:49] mikeyamato commented on #1219
Very cool. Much thanks!

[2019-01-03 00:29] converge opened #1221 "how to show a success message ?"
I have been researching about my issue, but couldn't find an answer. I'm new to Formik, and this is my first form validation using Formik.

I'm able to send the email and validate the fields, the only issue is that I'm not able to update/get the status to show an 'email sent' message. Can anyone assist ? Is this the right way to do it ?

When I try to use <div>Success message here: {status.success

[2019-01-03 08:09] Charchit26 commented on #148
@pixeltopic That happens when we do not give an initial value while specifying the `<Formik/>` tag.
Just specify the initial values as blank and it should work.
`<Formik  initialValues={{
            first_name: '',
            email_address: '',
            gender: ''
        }}  />`

[2019-01-03 08:36] klis87 commented on #1218
@jaredpalmer thx for examples, we have options to choose from :+1:

[2019-01-03 09:22] Charchit26 commented on #148
Replacing `value` in SemanticField wrapper with `value: value? value : ''` worked for me.

[2019-01-03 11:33] yuritoledo commented on #1218
Adding a async await on handleChange, fix it.

Check: https://codesandbox.io/s/ql8v2l8ll9

[2019-01-03 11:36] yuritoledo commented on #1221
Maybe the problem is here:
[code]
Try to switch the lines.

Or, if possible, create a codesandbox, to we better understand test it.

[2019-01-03 11:45] davidballester commented on #446
What a headache I got from this. So, yeah, @joserocha3 solution works. In my case, though, I passed the initial values to the `resetForm`:

[code]

Thanks!

[2019-01-03 12:08] converge commented on #1221
@yuritoledo switching lines didn't fix the issue.

Thank you for your suggestion, I created a codesandbox:

[![Edit 0o45qnl9m0](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/0o45qnl9m0)

[2019-01-03 12:20] sebst opened #1222 "Nested <Formik /> Components should have something like form.stopPropagation"
## 🚀 Feature request

### Current Behavior

I am referring to this comment: https://github.com/jaredpalmer/formik/issues/826#issuecomment-425961649

In this comment, nesting Formik Components is mentioned like so:

[code]

When I am in the username field, and hit `<Enter>`, the browser triggers a submit event on both forms, so that `formik.handleSubmit` and `subformik.handleSubmit` is triggered.

[2019-01-03 12:31] yuritoledo commented on #1221
Thanks, I've fix it

The error appear, because on first render, the `status` is `undefined`, so, the `success` prop doesnt exists.

I fix it just doing a ternary:  `Success message here: {x.status ? x.status.success : ''}`

[2019-01-03 12:41] converge commented on #1221
@yuritoledo thank you so much!! It's working smoothly 🎉 🎉

[2019-01-03 12:41] yuritoledo commented on #1221
é nois!

[2019-01-03 13:02] std4453 commented on #1218
@jaredpalmer I use Formik submitForm() instead of calling onSubmit() directly because I need the isSubmitting feature of Formik. I still think the problem is that runValidations() should be triggered in the same order as the functions that trigger it.
Strange as calling submitForm() in onChange() might be, there's no where to state it as unrecommended, and confusion arise therefrom. From the user'

[2019-01-03 13:03] #1221 closed

[2019-01-03 13:11] std4453 commented on #1218
wow.

Well `handleChange()` doc doesn't say that it returns a `Promise`. Is this intentional?

[2019-01-03 15:48] Chrisis52 commented on #324
same here, as for DRY I was looking for a  way to have reusable fields snippets with their own logic like the example above

[2019-01-03 16:03] jaredpalmer commented on #1218
I have a PR that prevents validation cancellation if triggered by submit. I think a stronger approach though may be to also bail on any further attempts to validate during submit if isSubmitting is true

[2019-01-03 16:09] klis87 commented on #1218
@jaredpalmer would you consider adding `onChange` to top level formik component, instead of or next to onSubmit? this callback would be called anytime a value is changed, provided the form is valid, then we wouldnt need to add hacks like this to submit the form on each key stroke

[2019-01-03 16:10] klis87 commented on #1218
by instead of onSubmit I mean you could omit onSubmit if u provide just onChange

[2019-01-03 16:55] Natansab commented on #694
Thanks for the advice, for anyone who is still struggling, it will most probably work using:
`onChange={(e, { value }) => setFieldValue(field.name, value)}`

[2019-01-04 00:58] graysonhicks commented on #1066
@man1cato I am working with the same issue.  I feel the expected behavior is to validate in the same way as when submitting, not just a 'silent' validation that doesn't display the error messages.  Did you come up with a solution you were happy with?

Right now, I am leaning towards somehow using the `errors` object from `validateForm` to manually display the error messages based on what my active

[2019-01-04 12:23] Jbarget commented on #471
@jaredpalmer would you consider adding an `initialFormStatus`? My use case is as @agwells mentions above where we set the status of the form on `componentDidMount` but:

1. that misses the initial render
2. if we had `initialFormStatus` we wouldnt need the `setStatus` call in `componentDidMount`

Its not make or break for us but thought since we have `initialValues` and `isInitialValid` it could b

[2019-01-04 15:50] std4453 commented on #1218
@klis87 I don't think an additional top-level onChange() is a good idea. The difference between onChange() and validate() is hard to explain.

[2019-01-04 17:39] AndreKelling commented on #930
same problem with `setFieldValue` on a sub-sub component with a dynamic created value. solved sufficient by grading down to `1.0.2`

[2019-01-04 18:14] #1024 closed

[2019-01-04 19:38] 56839 opened #1223 "If an array within initialValues contains separate inputs referencing the same object, the values of those inputs are linked"
## 🐛 Bug report

### Current Behavior

If values within `initialValues` refer to the same object, the values of those fields are linked. i.e. If I change the value of the first input, the second input changes, and vice versa.

[code]

If I change `initialValues` from `{people: [person, person]}` to
[code]
the fields operate independently, as expected.

### Expected behavior

I expect the fields to

[2019-01-04 20:10] ericbiewener commented on #930
We are ultimately taking the approach I suggested in my previous comment. We already had a `Form` class component that wrapped the main `Formik` component. We have now added the following methods/properties:

[code]

We then pass down `onMount: this.registerOnMountCallback` as an additional property on the usual `FormikBag` in the form's render method.

[2019-01-04 20:46] qianwang1013 opened #1224 "Empty Form object being returned in the Field callback"
Hi there,

Been using Formik for couple months now. Just recently realize my form has not been rendering. The implementation was definitely working before.

[code]

This does not happen on all the formik form components, only some of them returns empty object.
I do not see any major difference between the working and not working examples.

Any idea what might cause this?

[2019-01-04 20:57] danieltodonnell commented on #568
Holler.  I would like to see Formik handle null values

[2019-01-04 21:05] tannerlinsley commented on #1046
I think one of the problems with using a hook like `useField` instead of the `Field` get's problematic with arrays and nested values.  The reason `Field` and `FieldArray` work great is because they can be dynamically and conditionally rendered (something you cannot do with hooks without breaking the "rules of hooks").

Don't get me wrong, I would love a hook-only API, but I ran into this problem m

[2019-01-04 21:13] TrySound commented on #1046
@tannerlinsley Render a input conditionally. `useField` not necessary to be used in all branches.

[2019-01-04 21:30] tannerlinsley commented on #1046
Right, that makes sense for top level fields, but what about for a nested field like `friends[3].hobbies[2]`?

[2019-01-04 21:33] TrySound commented on #1046
How they this currently works? I never used fields api.

[2019-01-04 21:36] tannerlinsley commented on #1046
I believe right now you would need to use the `FieldArray` component: https://jaredpalmer.com/formik/docs/api/fieldarray

[2019-01-05 06:59] johnmcdowall commented on #1026
@jaredpalmer Just an update: after updating a bunch of libs and tweaking my base style class things seem to be pretty rocking now, no noticeable lags for me anymore 👍

[2019-01-05 10:42] rwinzhang commented on #1222
I have this problem too, even though I already use `React.portal` to prevent nested `<form>` on HTML.

[2019-01-05 13:11] klis87 commented on #1046
Personally I think that hooks are perfect alternative for HOCs or render props, but they are not replacement for components. For example you can avoid nesting with hooks in contrast to composed hocs or chained render props.  I am not sure why would we give up components like Field and FieldArray and substitute them with hooks. Nice candidates for hooks are `Formik` and `connect` for instance, but

[2019-01-05 13:17] klis87 commented on #1046
It should be really taken with care, as order of hooks matters, if for some cases you won't use a hook and for another you will, it won't work as expected https://reactjs.org/docs/hooks-rules.html#only-call-hooks-at-the-top-level

[2019-01-05 13:45] TrySound commented on #1046
@klis87 Performance will not suffer unless you use hundreds of fields in your form. But this still will require splitting with components to keep code maintainable and the problem becomes fixed.

[2019-01-05 13:47] diegohaz commented on #1046
I'm trying to design a hook-only API for [Reakit](https://github.com/reakit/reakit). After weeks of experimenting, it doesn't seem to be feasible.

If you want to render fields conditionally, the way to go is to create a new component:
[code]
Also, as far as I know, things like `FastField` can't be properly implemented with only hooks unless you return elements from them.

The approach I'm taking

[2019-01-05 13:59] klis87 commented on #1046
@TrySound so you mean that instead of writing a custom input component which then is passed to `component` prop of `Field` component, which then has all necessary state passed by Formik automatically (`field` and `form`), we could just create some custom inputs which would get necessary state by `useField` for instance, and then we could use this component directly in our forms without necessity o

[2019-01-05 14:13] jaredpalmer commented on #1046
FastField cannot be implement with hooks because React.memo does not compose. Put differently, there really isn’t an equivalent to sCU for hooks. Also, without anyway to have a second argument to setState or emitEffect in a reducer. Top level validation has to be much simpler....just put it in useEffect and that’s it. This has less than desirable impacts on how people current rely on setFieldValue

[2019-01-05 17:05] #1054 closed

[2019-01-06 04:03] #1050 closed

[2019-01-07 00:02] devjones commented on #486
@jaredpalmer My reading of @rhyek's issue is that he'd like to be able to call submitForm asynchronously and have it return the resolved value from the onSubmit handler (if the function optionally returns a promise).

Here's a codesandbox mockup I used w/ your latest 2.0 canary tag:
https://codesandbox.io/s/jzm92qr6ow

For above, would ideally have the submitForm call first trigger the alert of th

[2019-01-07 08:40] gracu-koduje commented on #429
@timrombergjakobsson  it's easy. Every click on submit button causes that Formik > touched object it's filled - it's mean that in next step u will get touched: true on every fields. If u want to change it u have to use "setTouched({})" in every step where u need it.

[2019-01-07 08:59] martisj commented on #903
@jgoux This might be irrelevant, but we are having issues with https://github.com/jaredpalmer/formik/blob/master/src/Formik.tsx#L675
`yupError.inner.length` throwing `undefined`. As jquense posted here https://github.com/jquense/react-formal/blob/no-context/src/utils/errToJSON.js
He used just `if (error.inner.length)`.
Does it make sense to not check for `=== 0` or maybe do `yupError.inner.length

[2019-01-07 13:15] oleksii-korenev commented on #1026
@johnmcdowall @jaredpalmer Hello guys, I keep facing the same problem with performance, using Styled Components and Formik. May you share the solution please if there are any? Like what libs to update etc.? I tried `<FastField />`, but it didn't help, and with single React and manually configured `shouldComponentUpdate` everything works fast enough. Maybe there are some way to do the same but with

[2019-01-07 14:31] j055 opened #1226 "No exported member 'FormikActions'"
## 🐛 Bug report

### Current Behavior

TS2305: Module '"../node_modules/formik/dist/formik.esm"' has no exported member 'FormikActions'.

### Expected behavior

clean build

### Reproducible example

Create a .tsx file , enter

[code]

Build with webpack using 'ts-loader'

### Suggested solution(s)

Please fix

### Additional context

building with webpack v4.28.3

### Your environment

| Software

[2019-01-07 16:11] ovidius72 opened #1227 "Errors field is wrong with nested array"
### Current Behavior

I'm building a form with nested fields, up to 3 level down.
[code]
The errors field reports a wrong error path with no value inside the object.

The touched field instead has the correct path of the touched field.

![paperplanes](https://user-images.githubusercontent.com/3592928/50777705-98d7fa00-129c-11e9-83e9-e943034a4814.png)

Here is a screenshot with the form values. The

[2019-01-07 16:58] hugonasciutti opened #1228 "validationSchema change depending on form values"
## ❓Question

How can I change validationSchema depending on the state of my form?

The docType validation change depending on the value of my select.

I wanted to do this if validationSchema gave me the form props as arguments but it don't.

Example:

[code]

I could solve this with a ref or adding a personal onChange to setState and be able to have the value but it does not seem natural.

[2019-01-07 17:00] bpallares commented on #1026
@johnmcdowall Hey! could you be a little more descriptive as on which libs you updated and which tweaks you made? I am also experiencing this problem...

[2019-01-07 17:18] barrett-vegas-com commented on #1116
@webberwang I ran into the same issue, but then found https://jaredpalmer.com/formik/docs/api/formik#isinitialvalid-boolean

[2019-01-07 17:25] gzzo commented on #1051
@jaredpalmer I think this issue should still be open

[2019-01-07 17:44] lautaro-osacar commented on #1215
@MrLoh
I Think that you should use `setFieldTouched` for `handleBlur` and `setFieldValue` for `onValueChange` on RN.
(Check the docs: https://jaredpalmer.com/formik/docs/api/formik)

[2019-01-07 18:03] MrLoh commented on #1215
@lautaro-osacar not sure what you mean. But `handleBlur(fieldName)` and `handleChange(fieldName)` is definitely the [documented way](https://jaredpalmer.com/formik/docs/guides/react-native).

The issues are real and solved in my PR.

[2019-01-07 18:47] zzuber commented on #1024
@jaredpalmer I agree. Not having the ability to get the value from a checkbox or radio limits formik awesomeness!!!

[2019-01-07 19:20] smithcoin commented on #1024
I was trying to look through the docs and I can't figure out how to get the value from a radio input. Is this issue closed?

I would love to see this feature implemented.

[2019-01-07 19:44] qianwang1013 commented on #1224
Issue has nothing to do with formik after all, was because field and form component were in two different packages. It was silly to expect formik dependency in one package to be aware of what is going on in the other package. A issue cause by code refactoring.

[2019-01-07 19:44] #1224 closed

[2019-01-07 20:01] ZHamburglar commented on #1217
Also just ran into this after previously not having issue.

[2019-01-07 21:14] iKonrad commented on #711
Just my two cents that this indeed should be added. There are some cases where the error isn't tied to a specific field and we're displaying an alert box above the form.

[2019-01-07 22:20] baleeds commented on #1026
@oleksii-korenev @bpallares have you guys tried the React profiler to see where the render time is being spent?  For me it wasn't about changing formik, it was about reducing overall render time by removing styled components from heavily repeated elements, which can be identified in the profile.  This will increase ALL render times, including Formik's.

[2019-01-07 22:31] johnmcdowall commented on #1026
@baleeds Yeah exactly, I used the profile as well to narrow down that my base style entity was causing too many re-renders (along with the previous Formik [now fixed] multiple re-renders).

[2019-01-08 03:46] devjones commented on #486
@jaredpalmer Submitted a PR for this in 1.4.2 here:
https://github.com/jaredpalmer/formik/pull/1229

This also affects the WIP 2.0 canary implementation

[2019-01-08 06:56] huangbin30 commented on #1125
I get the problem.

In validateYupSchema, nested empty strings aren't converted to undefined.

`
  for (let k in values) {
    if (values.hasOwnProperty(k)) {
      const key = String(k);
      validateData[key] = values[key] !== '' ? values[key] : undefined;
    }
  }
`

[2019-01-08 12:03] rakeshkatti commented on #811
Worked for me.

[2019-01-08 14:55] vsamotskiy commented on #271
Founded some interesting solution of this issue.
`
<Formik>
    {({ values }) => (
		<Form>
			{this.handleWholeFormChange(values)}
			<Field />
		</Form>
	)}
 </Formik>
`

[2019-01-09 09:47] ufuji1984 commented on #1119
Same here.
Hope https://github.com/jaredpalmer/formik/pull/1171 will be merged soon!

[2019-01-09 09:52] Unrealman1 commented on #42
is it possible to pass "disabled" prop  to remote button, according to Form state (dirty , isSubmitting ) this way?

[2019-01-09 16:01] d-asensio commented on #712
Hi all, I had a similar issue and I made a function to check if a field is required:

[code]

It can be used this way:

[code]

It is not an elegant soution... but it works! 😄

DISCLAIMER: I did not test properly the code, and I'm not sure if it's a good practice to rely in yup's test name (which is "required") to check this.

I would like to hear what you think about this solution!

[2019-01-09 17:50] dclark27 commented on #991
I resolved this by updating react-dom from 16.0.0 to 16.7.0.

Additional Context:
I was running Formik 0.11.1 and updated to 1.4.3 when I saw this appear.

[2019-01-10 05:37] marpstar commented on #903
I'm seeing the exact same issue as @martisj after upgrading to 0.26 from 0.24

[2019-01-10 11:54] olivergrimes commented on #754
Hello, was anything done to make the following example possible?  Or is it safe to simply expand the scope of `FieldArray` to expose `arrayHelpers` to the desired components - even if it eats up existing non-array fields?

Desired functionality taken from @casperOne 's example:
[code]

[2019-01-10 12:56] phanhoangloc commented on #682
I have used `redux-form` but then switched to `formik` for almost 1 year because of performance reasons.

However, I still like how to configure validation rules for form fields in `redux-form`. Therefore, I created [formik-validators](https://github.com/phanhoangloc/formik-validators) and used it in some projects.

It may not be exactly what you want because it only works with `withFormik` HOC. B

[2019-01-10 14:21] phanhoangloc commented on #87
We are using `formik` at [PYCOGROUP](https://www.pycogroup.com)

![pycogroup-logo](https://www.pycogroup.com/resources/templating-kit/themes/theme-pyco/asset/img/Pyco_logo_mobile.png)

[2019-01-10 18:48] tsiq-jeremy opened #1233 "Have easy way to add disabled prop to all Fields or inputs."
## 🚀 Feature request

I want to be able to make all Fields/inputs in a form be `disabled`  through the top level Form component. Our goal is that while submitting, we disable the form so the user can not change the fields during this time.

### Current Behavior

Currently you would need to pass `disabled` prop to every input like this:

[code]

### Desired Behavior

Instead it would be nice to pas

[2019-01-10 20:53] Dman757 commented on #608
@jaredpalmer this should probably be an open issue unless #728 is a `won't merge`

[2019-01-11 06:12] YikSanChan commented on #631
https://github.com/jaredpalmer/formik/issues/322
This is exactly the example you are looking for.

[2019-01-11 09:35] LimonSmorodina commented on #1223
Hello, you can try
`{people: [person, Object.assign({}, person)]}`
or (for deep copy):
`{people: [person, JSON.parse(JSON.stringify(person))]}`

[2019-01-11 09:41] rovansteen commented on #1223
That’s not a formik bug, that’s how JavaScript works. If you assign an object to a variable you assign it by reference, not by its value. So in your example there’s only one object stored in memory and when it’s mutated all variables reference that mutated object. You can use a method like mentioned above 👆🏻to copy without a reference to the original object. You can also use the new spread operato

[2019-01-11 10:40] RodolfoSilva commented on #42
@Unrealman1 I think it's not possible

[2019-01-11 11:45] giorgioongithub commented on #1024
+1

[2019-01-11 13:08] KamauIan commented on #867
I have a similar implementation in react-native, and I've noticed that also in your code, that when one goes back to a previous page, you need to click twice on next button to go to the next page. How can this be fixed?

[2019-01-11 14:54] rovansteen commented on #1223
I agree with you that it's confusing and I have struggled with this in the past when I was learning JS. However, I don't think libraries should work around this behavior as that would be even more confusing for users as they only sometimes encounter this, based on the libraries they use. I'd consider your example as a bad practice and something that should be avoided. I get it's frustrating if you

[2019-01-11 15:15] 56839 commented on #1223
I'm pretty familiar with JS, and I'm still surprised that the API works this way. I imagine most people would be surprised by it. Just because JS works that way doesn't mean Formik's API should work that way. It'd be easy to circumvent -- just add the step you described to wherever Formik is building its initial state.

Why not take care of that logic inside the library? Let's say Formik used the

[2019-01-11 16:57] tu4mo commented on #1217
Getting the same error with `react-testing-library`:

Form.js
[code]

Form.test.js
[code]

[2019-01-11 17:10] samuelcastro commented on #1217
@jaredpalmer I'll create sandbox example asap, just not having the time now. :(

[2019-01-11 19:03] jaredpalmer commented on #1223
Closing this as it is not a bug for the reasons above. Formik works just like React does here.

[2019-01-11 19:03] #1223 closed

[2019-01-11 21:13] wachunga commented on #1158
I'm also hitting this error. In my case, it's only an issue after doing `setFieldTouched(name, true)` with a FieldArray.

[2019-01-12 23:55] aikidoshi opened #1237 "Textarea does not render as a textarea"
## 🐛 Bug report

### Current Behavior

If I try to use a Field of type textarea it renders as a plain single line input object, ignoring rows and no drag handle.

### Expected behavior

Textarea fields should be rendered as multiline textarea field with drag handle

### Reproducible example

Use the formik sandbox (https://codesandbox.io/s/zKrK5YLDZ) and change the email field to type textarea.

#

[2019-01-13 11:35] jamiedavenport commented on #905
I'm also having this problem with Formik 1.4.2 and Draft 0.10.5. My use case includes having a `FieldArray` of Draft editors.

The performance of my form makes it unusable so it'd be nice to get this issue reopened.

Does anyone know if this issue also exists for Slate?

[2019-01-13 13:07] mshauny commented on #711
Just started using formik and it's a complete beauty but I also quickly recognized this a missing feature that I think would add great value. typical instance where user tried to login and received a  403 from the back end. I'd like to mark the form in error state without being specific at field level.

[2019-01-13 13:10] rovansteen commented on #711
You can do that already. This issue was about providing a more intentional API about showing global form errors. But it’s already possible with state like OP showed.

[2019-01-13 16:20] ivoreis commented on #786
@enagy-earnup any luck with this?

[2019-01-14 09:16] OlivierBourgain commented on #1222
I have the same problem. My workaround is to intercept `onSubmit` to cancel the event propagation.

[code]

Not sure it is the best solution, but it works for me.

[2019-01-14 10:42] shubh54 commented on #1207
Resolved in v 1.4.2

[2019-01-14 10:42] #1207 closed

[2019-01-14 11:09] olivergrimes commented on #754
Just coming back to this and expanding the scope isn't suitable for my use case - would be great if we could access `arrayHelpers` from `FormikProps`.

[2019-01-14 14:37] shubh54 commented on #1226
I am unable to find FormikActions anywhere within api reference of Formik.

Can you refer to latest api reference and how did you come across FormikActions. You can refer to below file for components that are being exported.

https://github.com/jaredpalmer/formik/blob/master/src/index.tsx

[2019-01-14 18:30] Verbon opened #1238 "FastField: fallback to default shouldComponentUpdate implementation even if custom shouldUpdate implementation returns false"
## 🚀 Feature request

### Current Behavior

Default `FastField`'s `shouldComponentUpdate` implementation is not triggered, if custom `shouldUpdate` implementation returns `false`.

### Desired Behavior

If `FastField`'s custom `shouldUpdate` implementation returns `false`, then `FastField`'s `shouldComponentUpdate` default implementation should be triggered.

### Suggested Solution

**formik/src/F

[2019-01-14 20:53] ericbiewener opened #1239 "Augmenting formik bag with custom props"
We are augmenting the standard formik bag props with some additional ones. For example, we have a `mergeStatus` function that ensures our use of the [`status`](https://jaredpalmer.com/formik/docs/api/formik#status-any) property conforms to the data structure our team has agreed upon.

We accomplish this prop augmentation with our own context provider that we then render inside the `<Formik>` rende

[2019-01-14 21:39] kerwynrg commented on #739
Still an issue
Formik Version: 1.4.2

[2019-01-14 22:44] enagy-earnup commented on #786
@ivoreis yes! I was going about this all wrong, and it showed 😄 I was trying to put the submit on the button as opposed to putting it on the form, and that was causing a number of issues. I don't think my example really shows the code at fault. In short: use standard html best practices 😅

[2019-01-15 13:11] EfstathiadisDimitris opened #1240 "How to have a toggle to show/hide password in Formik"
## ❓Question

I have a simple formik form like below. I am trying to have a toggle icon 'eye` in order to show/hide the the 2 password fields. I was wondering in formik has this functionality built in or if you can help me incorporate it.

[code]

I also create this simple state toggle functionality, but I can't make it work how I want to. It doesn't work. Thanks you..

[2019-01-15 13:13] Undistraction opened #1241 "Allow Fields To Access Their Requiredness"
## 🚀 Feature request

If I define a Yup schema, I would expect to be able to use the information I define there to render my fields. For example if I mark a field as 'Required' in the schema I would expect to be able to find that field's requiredness within the field / input components

### Current Behavior

Currently this information is only available by pulling the information from the schema ma

[2019-01-15 13:15] Undistraction commented on #712
I've added this as a feature request: #1241

[2019-01-15 15:48] Magellol opened #1242 "Formik@>=1.3.1 `insert` array helper seems to have broken `touched`."
## 🐛 Bug report

**EDIT:
After more investigation, I've noticed it happens when we use the array helper `insert`. It has a different behaviour from `1.3.0` and above.**

Hey 👋
I'm submitting this bug because I've noticed something has changed in the `touched` shape between Formik `1.3.0` and `1.3.1`.

### Current Behavior

I'm running `1.3.0` and the touched shape of one of our form looks like the

[2019-01-15 18:17] Magellol commented on #1242
Looks like this is a duplicate of https://github.com/jaredpalmer/formik/issues/1092

[2019-01-15 19:30] sebastiandeutsch opened #1243 "Best way to implement a custom onChange that behaves like a <input />"
## ❓Question

I'm building a custom Input component - I'd like to create a onChange handler which should behave similar to `<input onChange={...} />`.  I've seen that it's recommended to use `setFieldValue` but then the component names are leaking into the setFieldValue callbacks. What would be the best way to satisfy the onChange interface? I've managed to successful mimic the interface like this

[2019-01-15 19:56] mackbrowne commented on #991
Updating formik fixed it for me too! @jaredpalmer

[2019-01-15 20:30] joyellealina commented on #87
[Sprout Social](https://sproutsocial.com/)
![sprout-social-squarelogo-1438724388947](https://user-images.githubusercontent.com/12076028/51208003-07870a00-18d2-11e9-9bb6-2843216cc0a6.png)

[2019-01-16 07:32] DaddyWarbucks commented on #503
Rather than passing the whole set of component props, it seems simple enough to add another prop `validationContext` that would ultimately be passed to the yup context options. I know this was closed automatically. But, would you be open to a PR that adds another prop `validationContext`?

[2019-01-16 08:15] stelioschar commented on #612
@hygorzorak Did you finally managed to make this work. If yes, could you share your thoughts?

[2019-01-16 08:32] simplypixi commented on #600
I have same issue ;) Any ideas?

[2019-01-16 10:43] penx commented on #963
This is a duplicate of the following:

https://github.com/jaredpalmer/formik/issues/343
https://github.com/jaredpalmer/formik/issues/828
https://github.com/jaredpalmer/formik/pull/579

[2019-01-16 13:14] rearmitage commented on #1217
@tu4mo or anyone else have you had any luck? I'm running into the same issue right now.

[2019-01-16 14:54] dgpro commented on #1206
@abhiram5 why not to use [enableReinitialize](https://jaredpalmer.com/formik/docs/api/formik#enablereinitialize-boolean)?

[2019-01-16 15:15] rearmitage commented on #1217
I found the solution [here](https://github.com/kentcdodds/react-testing-library/issues/224)

[2019-01-16 15:39] the-clx opened #1244 "Field error as an object"
## ❓Question

Hi.
Do you know any issues with having errors as objects? Docs say that it should be string but I did quick test and it seems like everything works.

[2019-01-16 17:18] tu4mo commented on #1217
`wait`:ing for `expect` solved my problem also. Thanks @rearmitage!

[2019-01-17 02:47] cps333 opened #1245 "New lodash module (@^4.17.9) causes Formik load failure via CommonJS"
This lodash [commit](https://github.com/lodash/lodash/commit/f73db1f02c30ea0386e198ef4ec47d368d6f2cec) added `freeModule.require('util')` into the `nodeUtil` function, which inadvertently triggers CommonJS dependency detection and causes CommonJS to throw `ModuleError`.

Same issue has been found by [stealjs](https://github.com/stealjs/steal/issues/1412).

[2019-01-17 05:11] vijayadurga259 opened #1246 "Unable to set initial errors with formik"
Hello

How to set initial errors in formik?

Tried below workaround to set it in componentDidMount but didn't work. Even after setting errors in componentDidMount getting errors as empty object in formik props.

componentDidMount() {
        if (this.props.savedOperationInputs && !_.isEmpty(this.props.savedOperationInputs.errors) && this.form) {
            this.form.setErrors(this.props.savedOper

[2019-01-17 05:40] vijayadurga259 opened #1247 "Unable to set initial errors in formik form"
Hello

How to set initial errors in formik?

Tried below workaround to set it in componentDidMount but didn't work. Even after setting errors in componentDidMount getting errors as empty object in formik props.

[code]
Can someone help me to solve this issue?

[2019-01-17 07:45] boonlai opened #1248 "Validation before setting value to formik state"
## ❓Question

Hi, I am new to formik. I notice that the handleChange function set the value to formik state first. Then, it validation the value, and put error message to the error state if invalid.

I want to ask is it possible to validate the value first. If the validation return false, then don't set the value to value state? Thanks!

[2019-01-17 08:02] semenerror commented on #377
Can not use state.isSubmitting to detect form submission in validate function because of react setState optimization. The value in state.isSubmitting is still false and will change only on render cycle.

[2019-01-17 10:37] idandagan1 commented on #87
[Lusha.co](https://www.lusha.co/) 😎

![lusha](https://user-images.githubusercontent.com/12564217/51312689-8441f180-1a54-11e9-81bd-816e430c9c3b.png)

[2019-01-17 13:23] easeq commented on #87
Flipbyte Solutions BV (https://www.flipbyte.com)

![flipbyte-logo](https://user-images.githubusercontent.com/2026453/51321549-0f3cdf00-1a89-11e9-94fd-01dc97eef410.png)

[2019-01-17 15:15] andrewphillipoef commented on #797
I too expect that things like Required and Label being pulled out by formik would be excellent, is there a reason not to allow us to do this?

[2019-01-17 16:04] devdpontes commented on #614
This is still a problem on v1.4.2.

[2019-01-17 18:35] natavts commented on #98
+1
I don't see status in handleSubmit, when I use withFormik.

[2019-01-17 19:15] releaf commented on #738
I was able to wok around this by adding an onKeyUp event to the input I want to be validated as having been touched like this:
` onKeyUp={() => setFieldTouched(`${name}`, true)}`
https://codesandbox.io/s/5y2vlw594l

[2019-01-18 06:49] ufolux commented on #1133
Same problem, `validateOnInit` is needed.

[2019-01-18 21:11] MatthiasMargot commented on #1084
So I've taken a peek at the codebase and it seems that the reason this is not working is because calling the formikAction `validateField` triggers an attempt at validating the field based on the `validate` prop passed to the `<Field />` in question.

This results in an illegal invocation type error given that the `validate` prop was not provided.

A possible fix to this would be to first look for

[2019-01-18 22:41] jaredpalmer commented on #1245
Can you make a PR?

[2019-01-18 22:41] #1237 closed

[2019-01-19 09:39] Verbon opened #1250 "FieldProps contain only field and form props, but misses any other props passed to field"
## 🐛 Bug report

The [docs states](https://jaredpalmer.com/formik/docs/api/field#field-render-props):

`Field`'s render props are an object containing:

- field: An object containing onChange, onBlur, name, and value of the field
- form: The Formik bag.
- **Any other props passed to field**

### Current Behavior

`Field`'s render props contain only field and form props, it **misses any other props

[2019-01-20 23:36] capsula4 opened #1251 "validateOnChange after submit"
## 🚀 Feature request

### Current Behavior

`validateOnChange` is either true or false

### Desired Behavior

`validateOnChange` value can be changed, is not just an initialization config.

### Suggested Solution

`validateOnChange` is a function that has access to the form. Once it's been submitted it validates on change, but not before. (This is what angular does and is quite nice)
### Who does

[2019-01-21 02:14] rayhk6 opened #1252 "onSubmit on React Native"
I tried to pass values to another function by setting onsubmit to something like below. However, it keeps passing the initial values instead of values after setFieldValue.

[code]

` validation(values, action) {
console.log(values
}
`

[2019-01-21 05:32] joshuawootonn commented on #106
Why was this closed :/

[2019-01-21 13:03] pierroberto opened #1253 "Add callbacks to ArrayHelpers"
## 🚀 Feature request

### Current Behavior

`arrayHelpers` does not support callbacks. Indeed its methods behave asyncronously (e.g. `remove` and `push` ).

### Desired Behavior

It would be useful to have the possibility to fully manage local state together with Formik state syncronously.

### Suggested Solution

Add a callback as parameter in the methods of `arrayHelpers` in order to manage asyn

[2019-01-21 13:36] gastonmorixe commented on #826
I see the issue here being Formik use of Context API, we might improve and maybe even namespace it.

Imagine you have one big form and then a popup appears which has another form, that is completely unrelated and submits to different API.

Since the popup could be implemented by using React.Portals which shares the context, or the popup could be just a position fixed div with high z-index, the for

[2019-01-21 13:42] borisyordanov commented on #937
@cagmz Do you know anything about the `submitForm` method they're using in [the submission example](https://github.com/jaredpalmer/formik/blob/f5d76609b222ce583663add279ac76e807e2d0ba/README.md#simulating-form-submission). I don't understand where they got that prop from.

Also is `MyInnerForm` supposed to be the `MyFormInner` component from the Dummy Form?

[2019-01-21 14:06] fabb opened #1254 "Unit Testablility vs. Asynchronous handleSubmit"
## 🚀 Feature request

I use a stateful container that wraps Formic and handles things like holding api errors. It receives the form as a prop, just like Formic itself. I have unit tests for this state container.

### Current Behavior

`handleSubmit` returns nothing, but does asynchronous validation. There currently is no way to wait for that Promise to finish, and the `isSubmitting` state to be re

[2019-01-21 15:57] cagmz commented on #937
@borisyordanov I think you're right; `MyInnerForm` is supposed to be `MyFormInner`.

The `submitForm` is part of the injected props to `MyInnerForm`:

https://github.com/jaredpalmer/formik/blob/master/docs/api/formik.md#submitform---void

In order to use `submitForm` in `MyInnerForm`, it would need to accept a `submitForm` prop.

[2019-01-21 16:31] gastonmorixe commented on #826
Yes sorry, just realized this today. There might still a problem with the an html button submit type, it submits both forms.

Using a normal button with the onClick only to the right Formik works fine.

Best,

Gaston

Sent from my iPhone

[2019-01-21 18:55] ericbiewener commented on #1222
Nesting `<form>` elements is invalid HTML, which is why I was proposing a simulated form component that would look something like [this](https://github.com/jaredpalmer/formik/issues/826#issuecomment-425997033). Calling `e.preventDefault()` on enter in `onKeyDownCapture` prevents the outer Form from submitting.

[2019-01-21 23:02] maraisr opened #1256 "render vs component vs children inconsistency"
## ❓Question

If you look at https://github.com/jaredpalmer/formik/blob/master/src/Field.tsx#L166-L189 the `Field` component.

The `render` prop executes the component, which when used as you bind the `onChange` handler, every keystroke, re-renders the component, sure, but uses the same element each time, just applying a new prop. Simply try a `Math.random()` in the render, it'll be the same for e

[2019-01-22 00:50] ckreiling commented on #739
+1 here, seeing the same issue

Formik version: 1.4.0

[2019-01-22 09:02] charlax commented on #1238
Agree with this - I see no reason you would not want to update on changes in values, errors, touched... etc. for this field.

[2019-01-22 09:06] charlax opened #1257 "Rerender FastField on changes in name"
## 🚀 Feature request

### Current Behavior

When a `FastField`'s `name` changes, it is not re-renderered.

### Desired Behavior

It would seem logical to re-render a `FastField` when its `name` changes.

### Suggested Solution

Just add a check for `name` change in `FastField`'s `shouldComponentUpdate`.

### Who does this impact? Who is this for?

Would impact all users.

### Describe alternatives

[2019-01-22 09:59] charlax commented on #1132
@jaredpalmer PR attached, can you review? Thanks.

[2019-01-22 12:38] jp3492 opened #1259 "Form conflict when rendering form multiple times"
I am mapping over a list where each list item includes a form to edit the list items information. Since i am rendering the form multiple times and there is no way of giving the Formik object an id (based on map index) to differntiate between multiple instances of that form.

Any idea on how to solve this?

[2019-01-22 16:35] henriqueweiand opened #1262 "tests with connected components and redux"
## ❓Question

I'm trying to run tests with component connected to redux and formik. I've been testing several ways to get the result of getting submitted and checking in the state if there was indeed the addition, but all attempts were invalid ... Could anyone give me a try on redux test?

projetct: https://github.com/henriqueweiand/reactjs-crud-state-test/blob/master/src/pages/__tests__/formDocum

[2019-01-22 18:48] charlax commented on #471
Can we reopen? Would love to have an `initialStatus` property on `Formik`.

[2019-01-22 18:54] charlax commented on #471
My use case is the following: based on some field in `status`, I would like to disable all fields. All my fields are using a light abstraction on top of `Field`. If I could set the `initialStatus`, I could retrieve `status` from inside each `Field` and set `disabled` based on its value.

Without `initialStatus`, the first render will show all the fields not being disabled...

[2019-01-22 22:02] AhmedSayed77 commented on #1240
you have two options:
1- set a field in formik - showPassowrd for example - that will be controlled by your toggle, then change you form item to this
[code]
2- add a key to your component's state, and control it by your toggle's onchange, and change your field to this
[code]

[2019-01-23 00:05] agwells commented on #471
Yeah, my use case is a lot like what you describe. I've got a form where sections of it start out as disabled form elements, and they can be "unlocked" for editing by clicking on a button for that section. Since this "locked/unlocked" state isn't really a form value as such, it seemed appropriate to put it into `status`.

But since writing my last comment, I've wound up putting them into `values`

[2019-01-23 01:51] brianjd commented on #376
I see #379 was backed out (Re: #421).  What is the current solution?

[2019-01-23 08:34] pierroberto commented on #1259
Could you give an example of your code?

Did you try to use refs?

[2019-01-23 15:24] JSoet commented on #850
Reopen - I just ran into this too...

But I'm not sure that the solution mentioned above is correct, if you have an object in your values like
[code]

then `errors.arrayVal` will be of type `number[]`? Which doesn't seem correct to me?

For me with a schema like the following:
[code]

Then it gives me a single string in `errors.arrayVal`. In which case the type should be
[code]

But I'm not sure i

[2019-01-23 16:15] adaam2 commented on #1241
@Undistraction you can read straight from the Yup.js schema to determine if a field has been marked as `.required()`. Something like this would work, although admittedly it requires that you can access your `validationSchema`:

[code]

[2019-01-23 16:47] charlax commented on #471
Indeed, that's another solution, but it does feel hacky :) You have to remember out those values inside `onSubmit`, whereas `status` was supposedly designed for the notion of "form context".

It does feel like that `status` should be passed to validate as well.

[2019-01-23 17:09] Undistraction commented on #1241
@adaam2 Yep. That's what I don't like about this approach. You need to pass the schema around which feels clumsy. I've ended up parsing all the fields in the schema and passing down a `meta` object that looks like:
[code]

[2019-01-24 07:29] fabb opened #1265 "TypeScript: Array of Files in Values"
## ❓Question

Hi everyone! I'm trying to build a form in with Formik in TypeScript. Until I added an array of files to my Values, everything worked fine. Now Formik throws a type error (but the application would work correctly). How should I keep my file array in the values? I did it like this:
[code]
I get type errors for the  `touched` and `errors` props:
* `touched`: `Type 'any[]' is not assign

[2019-01-24 08:34] timrombergjakobsson commented on #429
@gracu-koduje Im still not following. So I have to check for the page(1, 2 etc) in componentDidMount method? And then run ```this.props.setTouched({})```?

[2019-01-24 10:33] eugenechu commented on #834
Hey guys, any updates on this?
Seems like it is still reproducible

[2019-01-24 11:08] lourenci commented on #1217
I have this problem too. The `wait` is not a good solution, I could have tests that assert for a mock to not be called.

For example, I have a specific test that when I click on submit button and there are some error in the form, I want to be sure that the backend is not called. I just expect for the `fetchMock` for it doesn't be called.

[2019-01-24 11:53] lucasriondel opened #1266 "Make FieldProps available for import"
## 🚀 Feature request

### Current Behavior

We cannot import the FieldProps interface https://github.com/jaredpalmer/formik/blob/master/src/Field.tsx#L31

### Desired Behavior

Be able to import it

### Suggested Solution

Set it in the d.ts file

### Who does this impact? Who is this for?

TypeScript users

[2019-01-24 12:35] rborosak commented on #288
How would you fire initial validation when using <Formik> component which uses render props pattern?

[2019-01-24 14:35] arielger opened #1268 "Error with dynamic fields when validating form"
## 🐛 Bug report

First of all, thanks for your hard work in this library! 🙌🕺

### Current Behavior

When creating a form with Fields that are rendered depending on the value of other field the values of the form won't update according to those dynamic fields.

If I remove a dynamic field from the form, the value will still be in the values object.

If I render a dynamic field with no associated in

[2019-01-24 14:41] rearmitage commented on #1217
You just run that assertion after the wait

[code]
or if you don't have async/await

[code]

[2019-01-24 16:17] mellis481 opened #1269 "Field's Formik bag empty when nested in third party component"
I'm using Formik's `Field` component to render an input like this:
[code]
In the code above, Formik seems to be "automagically" determining the Formik bag `form` object in the `Field`'s `render` function.

This has worked without issue until I integrated my `Field` into a third party library, in my case, rendering it in a cell of an agGrid table.  When I do this, I get _TypeError: this.props.formi

[2019-01-25 04:23] corysimmons opened #1270 "Race condition with handleReset"
I'm trying to toggle forms between a login and register form. The inputs are the same (email/password) so I just want to duplicate the same form.

When someone switches to the opposite form, I want the current form to clear itself, and then switch to the new form.

Since `handleReset` offers no promise or callback, I'm not sure how to wait on it to finish resetting the form and as a result I'm get

[2019-01-25 04:31] corysimmons commented on #1270
I'm 🐶 💩

I was using `<button>` to change which form was being used.

I would've seen this nicely placed Formik warning message...

...had I taken the time to open console before opening an issue 🤦‍♂️

[2019-01-25 04:31] #1270 closed

[2019-01-25 10:41] armohammadi56 opened #1272 "i want from onChange React-Select in Formik change state component"
onChange={value => {
                            setFieldValue("personTypeId", value.id);
                            if (value.id === 1) {
                              this.setState.isDisableFullTimeType = false;
                            } else {
                              this.setState.isDisableFullTimeType = true;
                            }

                          }}

[2019-01-25 13:01] ematipico commented on #1209
I came across with the same issue. This time not with the `setFieldValue` but with the `arrayHelpers`.
I think also these operations `remove`, `add`, etc provided by `arrayHelpers` should provide an option to run them in sync. Or, even better, make them asynchronous by default with a beautiful promise.

A workaround was adding a `setTimeout` to the `submitForm` function

[2019-01-25 13:39] lourenci commented on #1217
`wait` is not a good solution. This seems a problem with the component itself. I can't workaround my test because of it.

[2019-01-25 14:58] mellis481 commented on #1269
I created a working [CodeSandbox](https://codesandbox.io/s/0w97oqjjl) example.

[2019-01-25 15:22] virginiarcruz opened #1273 "How to get value in TouchableOpacity"
## ❓Question

I have two byttons (yes or no) with TouchableOpacity on the react-native.
I want to get the value when click in some of two.

How I do to get this value?

[code]

[2019-01-25 15:58] rizwanahmed19 commented on #271
@vsamotskiy What if I wanna update my component state in `this.handleWholeFormChange(values)`?

[2019-01-25 17:17] lourenci commented on #828
Is `dirty` going to be by field like `touched`?

[2019-01-25 17:34] MeenalYengul opened #1275 "write unit test cases for data validation done with ajv"
Hello,
I have a simple schema written in ajv. how to proceed to write a unit test cases for this data validation.
I tried to write a function where it is taking schema and data as a input and returning validation result. but in place of parameters of function i can see error as Parameter 'schema' implicitly has an 'any' type. I dont understand how to write a function and what to write in that func

[2019-01-25 18:04] #963 closed

[2019-01-25 21:52] kutenai commented on #502
I thought I would share a solution to the Formik and Saga's question.
Formik passes down set functions, i.e. setStatus to children, but there is no clear way to call this, short of overriding Formik "componentDidUpdate". Since that isn't possible or a good idea, I created another component with just this purpose.
[code]
FormikReduxInterface handles compoentWillUpdate, and if the props are changed,

[2019-01-25 22:05] gustavopch opened #1277 "v2.0.0-gamma.1: Can't perform a React state update on an unmounted component"
## 🐛 Bug report

### Current Behavior
When `onSubmit` causes the component to unmount, React gives the warning:
[code]

### Expected behavior
No warning.

### Reproducible example
https://codesandbox.io/s/21q248wxnn

### Suggested solution(s)
Lines 600 and 603 at Formik.tsx should be wrapped by a `isMounted` check.

### Your environment

| Software         | Version(s) |
| ---------------- | -----

[2019-01-26 08:55] w3nda commented on #930
I can't seem to find that a solution.. right now using formik in a more complex way with nested dynamic fields is not possible

[2019-01-26 09:48] prateek3255 opened #1278 "setFieldError not working as expected."
## 🐛 Bug report

### Current Behavior

Currently I want to validate a hostName URL using a function that I have and set errors accordingly.

here is the component on which I want to set the errors to -
[code]
and here is the handleLinkChange function that I use -
[code]
the function is working fine as it should but the error is not being set accordingly.

### Expected behavior

The error should be

[2019-01-26 16:24] MEsteves22 opened #1279 "How to submit form from topBar button?"
Does someone know how to submit a form in React Native by pressing a button situated in the topBar? My problem is that I'm not able to pass the handleSubmit prop to my topBar button since I only know if my button has been pressed by the navigationButtonPressed event (from react native navigation v2).

[2019-01-26 17:34] RichMatthews opened #1280 "How to submit a dynamic array of objects via a formik form?"
I am struggling to use Formik for my use case. I have a form and when I click a button it will add another row to that form. I want to then submit the form and have all the data available to me as an array. I have almost got it working but I have an issue where the form isn't clearing properly.

this is my structure so far:

[code]

but when I try and submit the data, on each subsequent submit it

[2019-01-28 01:05] eduardocurva commented on #867
It would be nice if we had an official example of how to use Wizard Flow with Formik. I've seen different approaches and cool ideas but, as I'm new with Formik, I can't tell what would be the best recommended approach for things like:

- Multi step validation;
- Multi validation schema (as demonstrated by @Davidmycodeguy );
- Formik State accross many steps/pages;

Sorry if this comment is out of

[2019-01-28 12:09] RazerM commented on #1050
I think this is still a problem.

In the following sandbox, the `initialValues` only works when `<Field />` isn't given `type="checkbox"`.

https://codesandbox.io/s/p7zlvk86lm

[2019-01-28 15:43] agos commented on #67
`input` type `number` works, but is not available for `select` and, in general, for custom inputs

[2019-01-28 20:18] wschmrdr opened #1285 "FieldArray remove returns nothing"
## 🐛 Bug report

One quick little bug I found with the remove method while trying to debug a problem I was having with the FieldArray remove:

### Current Behavior

The FieldArray remove is returning an undefined value. This happens regardless of which element (first, middle, last) you remove.

### Expected behavior

As per your documentation, the FieldArray remove should be returning the value th

[2019-01-28 20:41] webberwang commented on #999
@yuritoledo this may not working depending on how the props are passed down, accessing the html input value may also be more foolproof? in case the prop value doesn't bind to the html

[2019-01-29 00:50] jaorsh commented on #1250
+1 I've run into this issue too. The basic use-case being passing a `theme` prop to a custom react component like `<Field component={myCustomInput} theme='light' />`. Custom props are not available on `<Field />` (whether render, children or component based render props).

One unsuccessful workaround was to use (https://jaredpalmer.com/formik/docs/api/formik#status-any)[status object] however the

[2019-01-29 08:35] SvetlinStaev opened #1286 "Form-level error not displayable in ErrorMessage component"
## 🐛 Bug report

### Current Behavior
I have a form which has a few fields and I use the ErrorMessage component with the name of the field to attach error messages to it. It works great but there is a case when the whole form is invalid not based on a value of a single field but multiple and I would like to attach the error to a generic form-level error. I have use the key form to the errors objec

[2019-01-29 10:33] vtereshyn commented on #834
I get a similar issue when I try to `setFieldError` which I haven't in `validationSchema`. So I can get this error, but when I'm editing another field, an errors object contains all of the errors except error from `setFieldError`

I guess this issue because
[code]

Here prevState.errors and errors are different, and if they are different we return new errors object...
Maybe I'm incorrect here...

[2019-01-29 13:03] vtereshyn commented on #1180
@jaredpalmer , if I understood you correctly, there is an exception, if initialValues are not present. This is React exception about changing uncontrolled input to controlled input. When I get it, I always remember that I forgot to add initialValue :)

[2019-01-29 14:22] dmlukichev commented on #503
Need this one too.
Although solution from #506 works, it doesn't look clean enough.
Ready to create a PR if agree on syntax (`validationContext` as @DaddyWarbucks lgtm).

[2019-01-29 15:38] lourenci opened #1288 "Shouldn't the validateForm resolve with the error values?"
## ❓Question

I'm manually handling the form submission and I wan't to start the validation process and get all my form's errors to focus on the first field with error.

Is there some way to get the errors other than access the errors state? I disabled the `validateOnBlur`, so I don't have the errors in the state at this moment.

I thought the `validateForm` would resolve with the errors, but this

[2019-01-29 15:43] george-maged commented on #146
I've modified @dphrag 's gist to work with nested errors

[code]

[2019-01-29 17:31] nathanforce commented on #146
I wrote up a post on how we created a lib do this on some of our forms.

https://palmer.net/blog/form-field-scroll-management-in-react

The API is a bit clunky, but I think Hooks can help quite a lot for something like this.  Let me know what you think!

[2019-01-29 18:48] thompk2 commented on #1146
I'm running into this same error. It doesn't seem like the `errors` renderprop is updating correctly in enzyme tests. Could we reopen this issue please?

[2019-01-29 18:59] thompk2 commented on #1146
I solved this by manually calling `ui.update()` after a tick. It looks like the issue is with how formik validates asynchronously. See passing tests here: https://codesandbox.io/s/y2vqqwr0yv

[2019-01-29 19:51] douglasjunior commented on #639
Tracks 'onFocus' and 'active' will be great. Its not hard to implement, its similar to the 'touched' flag.

@Andreyco, is there any discussion on that? Can we send a pull request?

[2019-01-29 21:17] Nemsae commented on #342
What did you change with your styled components implementation to cut render time? Simply remove it?

[2019-01-29 21:19] Nemsae commented on #342
@maciej-gurban Are you considering that touched and blur on an input can cause re renders? Just an idea.

[2019-01-29 22:18] Nemsae opened #1289 "Does validating the form with multiple inputs trigger a re render for each validation?"
## ❓A Clarification Question

I have 7 inputs on a form with validation that are required. When I call `handleSubmit` with an empty form (all inputs pristine) my form re renders 7 times.

I'm assuming what happens is that validation is run sequentially? The first input validates, component re renders. Second input validates, component re renders, etc.

Is my assumption correct? And if so are there

[2019-01-29 22:22] jaredpalmer commented on #1289
`isSubmitting` and `isValidating` are toggled [(more info)](https://jaredpalmer.com/formik/docs/guides/form-submission), and because these live on Formik context, and `<Field>` connects to context, it renders when Formik context changes. You can prevent/optimize this behavior using [`shouldComponentUpdate`](https://reactjs.org/docs/optimizing-performance.html#shouldcomponentupdate-in-action) (just

[2019-01-29 23:14] jaredpalmer commented on #1277
Hrmmm. I need to think this through Formik is cleaning things up post submit but you are unmounting it.

[2019-01-29 23:32] gustavopch commented on #1277
@jaredpalmer I've used `patch-package` here to change lines 600 a 603 and it's working fine.

[2019-01-29 23:57] jaredpalmer commented on #1277
What did you add?

[2019-01-29 23:59] gustavopch commented on #1277
[code]

[2019-01-30 00:00] jaredpalmer commented on #1277
Can you submit a PR?

--
Jared
________________________________
From: gustavopch <notifications@github.com>
Sent: Tuesday, January 29, 2019 6:59:30 PM
To: jaredpalmer/formik
Cc: Jared Palmer; Mention
Subject: Re: [jaredpalmer/formik] v2.0.0-gamma.1: Can't perform a React state update on an unmounted component (#1277)

       if (isActuallyValid) {
         Promise.resolve(executeSubmit()).then(fun

[2019-01-30 00:00] gustavopch commented on #1277
Sure.

[2019-01-30 02:48] baleeds commented on #342
@Nemsae yeah I just removed them in cases where they were rendered more than 10 or so times.  List items and things.  If I could go back, I don't think I'd use styled components, tbh.  After looking at the profiler, the performance doesn't seem worth the features.

[2019-01-30 03:38] kangzhe-mark commented on #1122
@jaredpalmer Do you need any help to fix this issue? We find this line https://github.com/jaredpalmer/formik/blob/0e459bce5f88bc60681f81ffe13df81982a723ab/src/Formik.tsx#L296 is the root cause. What is your suggestion?

[2019-01-30 08:34] abdellah-el-mennani commented on #1278
set the third argument of setFeildValue to false: ``` setFieldValue(name, value, false); ```

[2019-01-30 12:36] lourenci commented on #1288
I am closing this issue because I found a solution on #146.

[2019-01-30 12:36] #1288 closed

[2019-01-30 15:21] simon-nystrom commented on #834
@vtereshyn I'm also struggling with this specific problem atm. Can't use custom validators for other fields if I combine them in the same <Formik /> as <Field />s with validation

[2019-01-30 17:39] jankalfus commented on #1024
@smithcoin I believe this is the minimum working example for radio buttons: https://codesandbox.io/s/88jqoy4qvl

[2019-01-31 00:48] agwells opened #1292 "Allow FormikErrors values to be type "any" for, i18n support"
## 🐛 Bug report

It looks like at one point, the FormikErrors type allowed errors to be type `any`, which was added in bug #266, to support i18n frameworks. But over the course of a couple of TypeScript upgrades, this got dropped, and the type was changed to `string`. I'd like to change it back to `any`, to once again make it easier to use with i18n frameworks (or just to put other React elements

[2019-01-31 07:55] simon-nystrom commented on #834
@vtereshyn how did you do that? I'm trying to combine `setFieldError` with a custom field that isn't uinsg the Formik <Field />

[2019-01-31 09:48] vtereshyn commented on #834
@simon-nystrom , why you should use custom field without`Formik`? use your custom input with formik `Field` and pass `validate` prop with your function and inside this function just return errorMessage. Also, inside your `renderInput` function you should check if error exists. Look through examples which exist at Formik website

[2019-01-31 14:05] addamove commented on #1047
I have the same problem  @andriy-fuzz how you solved it?

[2019-01-31 14:07] mellis481 commented on #826
Using the subformik approach above, I'm seeing a warning in react-dom.development.js (line 518):

`Warning: validateDOMNesting(...): <form> cannot appear as a descendant of <form>. in form (created by Formik)`

[2019-01-31 14:56] ivona21 commented on #706
If you use _validate_ property on field for validation (and not i.e. _onChange_), field validation won't be overwritten by validation schema.

[2019-01-31 15:22] matthewtmoran commented on #690
I have the same question.  I'm wondering if there is a way to handle set values as objects without flattening.

[2019-01-31 16:06] ericbiewener commented on #826
@mellis481 see [this comment](https://github.com/jaredpalmer/formik/issues/826#issuecomment-425997033)

[2019-01-31 16:19] ismaelvacco commented on #731
There is possible to add this issue in backlog?

[2019-01-31 17:20] vtereshyn commented on #834
@simon-nystrom , glad to help :)

[2019-02-01 11:46] awakened23 commented on #377
This would solve https://stackoverflow.com/questions/54475481/formik-how-to-show-an-additional-error-message-when-validation-fails-on-submit

[2019-02-01 12:20] awakened23 opened #1294 "How to show an additional error message when validation fails on submit"
## ❓Question
I need to show an additional error message if validation fails on submit. This error message should not be displayed if validation fails on change/ on blur. Looks like there is no way to tell if the validation errors happen on submit since the validate function is called on change, blur and submit. The validation that happens on change/blur can be disabled so that I know the errors ha

[2019-02-01 13:48] gaspardip commented on #750
In my opinion, the `errors` prop in `render()` should not be `string[]` but `{ [string]: string; }`, so I could check for each error individually, kinda like how Angular does it with [Reactive Forms](https://angular.io/guide/form-validation). Each object key would be equal to Yup's method name, e.g. Yup's `min()` should produce an `errors.min` key in Formik's `errors`.

@jaredpalmer thoughts on th

[2019-02-01 16:46] jaredpalmer commented on #1292
Yeah this has been suggested before. I wonder if there is a way to maybe uses generic here but default it to string.

[2019-02-01 16:48] jaredpalmer commented on #1286
This should probably be handled with setStatus as as ErrorMessage will look for the key inside of touched as well errors.

[2019-02-01 16:48] #1286 closed

[2019-02-01 16:49] jaredpalmer commented on #1280
Don’t pass anything to resetForm()

[2019-02-01 16:49] #1280 closed

[2019-02-01 19:13] #1277 closed

[2019-02-01 19:14] adetoola opened #1295 "How to pass values from a component into Formik multi-step form wizard?"
## ❓Question

As the title said.
I have a stateless component based on `react-bootstrap-typeahead`  and a form wizard using the formik example - https://github.com/jaredpalmer/formik/blob/master/examples/MultistepWizard.js.
However, I am unable to pass the values I got from the typeahead component into formik. I can't access setFieldValue .
[code]

How do I inject this value into `Formik`, so it c

[2019-02-01 19:37] gustavopch opened #1296 "v2.0.0-gamma.1: You should not use <Field component> and <Field render> in the same <Field> component"
## 🐛 Bug report

### Current Behavior
Receiving the following warning when using the `render` prop.
[code]
Because `component` has a default value defined at Field.tsx:144, when you pass a value to `render`, both `component` and `render` are defined. Current implementation doesn't want both properties to be defined at the same time. That triggers the warning.

### Expected behavior
No warning.

##

[2019-02-02 12:08] osv commented on #146
Hi, React Hooks + Typescript version how to uncollapse panels, scroll to error and focus input if can using https://gist.github.com/osv/691efa00784def6f6004d31cd6108f56

[2019-02-02 13:40] taksenov commented on #704
Your solution is great! THX.

[2019-02-02 14:52] muyiwaoyeniyi commented on #1278
@prateek3255 Did @abdellah-el-mennani solution work? It doesn't seem to work for me.

[2019-02-02 14:53] prateek3255 commented on #1278
@muyiwaoyeniyi the solution didn't work for me either.

[2019-02-02 14:58] muyiwaoyeniyi commented on #1278
ok. @prateek3255 Did you implement a workaround? I think this issue is also related to this - https://github.com/jaredpalmer/formik/issues/1111

[2019-02-03 04:12] ducdev opened #1297 "Submitting form on modal trigger both validation on modal and on page"
## ❓Question
Not sure if this is Formik bug or my implementing issue, but please have a look at this recorded loom.
https://www.useloom.com/share/7cab71cf913f4baab75671e8cd084cc0

[2019-02-03 17:48] prateek3255 commented on #1278
@muyiwaoyeniyi my workaround was that I used two values for the same input, and set one of them to required in yup.
Then I linked my input's value to the dummy value and in the onChange function, and then I changed the original value only when the value is valid according to my validation function else set it to an empty string. The dummy value is always changed.
This is a temporary workaround bec

[2019-02-03 17:51] prateek3255 opened #1298 "How to call handleSubmit on a particaular set of fields?"
I have a form that is divided into separate sections, when I call handleSubmit on the form, errors are shown next to all the fields that are not valid according to the validation schema (which is awesome BTW).
But is there a way to do that for a particular set of fields, i.e., can I call handleSubmit for a particular set of fields that are not valid according to the validation schema, so that I ca

[2019-02-03 18:06] kuciax opened #1299 "Optional Field"
## ❓Question
Hi! I have a question, that I think about couple days. I have a FieldArray of inputs. I have always an Input and button with `onClick={() => push(...foo)}` I would like only have this button and add new Input only when I need. It is really important for my requirment.

[2019-02-03 20:17] muyiwaoyeniyi commented on #1278
@prateek3255 got it. Thanks for the info.

[2019-02-03 21:42] agwells commented on #1292
Good idea! Since `FormikErrors` is already a generic, it'd be simple enough to add a second generic parameter for the type of the errors, and give it a default type. I think something like this should work:

[code]

I'll update my merge request.

[2019-02-03 23:15] agwells commented on #1292
It turns out it's not as simple as adding a second parameter to `FormikErrors`. In order for the new error message type to be available in places like `setFieldError`, for example, you also wind up having to parameterize `FormikActions`, which means you need to parameterize `FormikProps`, etc, until nearly every type in the library has an extra parameter for the error message type. See: https://gi

[2019-02-03 23:19] jaredpalmer commented on #1292
This is why it’s been avoided in the past. Types are a balancing act between safety and verbosity.

[2019-02-03 23:33] agwells commented on #1292
In that case, I guess I go back to proposing we just loosen the type for error messages, from `string` to `any`. :)

[2019-02-04 07:38] realiarthur commented on #1233
I had a same needs too, so i made a FieldSet component that shared context to Fields, ErrorMessage, etc., and HoC for it to be connected with this context. I use readOnly, and my solution look like this:
[code]
Please check it: https://github.com/realiarthur/react-fieldset#readonly

[2019-02-04 14:51] JSoet commented on #850
Update - I realized that it can be an array of strings or just a single string, depending on whether the `Yup.array()` has a yup object inside it or if it's just a simple array check, so the type should actually be:

[code]

[2019-02-04 16:14] Taerarenai opened #1301 "Using setFieldValue in componentDidUpdate"
## ❓Question

Can you use ``setFieldValue`` outside of the Formik render? Let's say i need it in my componentDidMount or before my submit goes off, i tried ``this.props.setFieldValue``, i even tried passing ``setFieldValue`` as a param on the onSubmit prop of Formik, nothing works.

Example https://codesandbox.io/s/8n8j3358z9

[2019-02-04 21:53] jwallet opened #1302 "Submitting a form after 1.4.0 does not trigger Formik onSubmit"
## 🐛 Bug report (updated after [post](#issuecomment-460756127))

### Current Behavior

After updating v1.3.2 to 1.4.0 I'm not able to submit the form anymore.

- We use validateOnBlur and validateOnChange (default / true), so it touches all fields.
- We wanted to make sure no error message will appear if the user did not submit the form at least once, so - we added `!!error && touched` as a condit

[2019-02-04 23:11] jeffjones176 opened #1303 "Creating and Updating User Data with Redux and Formik"
I have an application that requires the use of a multi-step form to create and update user data. I have created the `<MutiStepForm />` component below in order to facilitate the many forms that I need. I am using redux for the store. The flow I am working on at the moment is that a form has been filled out by the user and they need to update some data.

My issue comes when loading that data from t

[2019-02-05 15:52] Joead commented on #839
Interested in if/when this will be resolved. I'm trying to trim field values on submit (I'm not using Yup) and unless I'm missing something it seems that calling `setValues` in `onSubmit` is the logical way to do this?

[2019-02-05 15:56] jaredpalmer commented on #839
@Joead If you don't need rerun validation with the trimmed values, you should trim your payload in your `onSubmit` function. If you need to trim your values, you should do so with  either 1) custom input components or 2) a `<form>` like so.

[code]

[2019-02-05 16:08] jaredpalmer commented on #1302
Hey! Thanks for putting together that sandbox. It looks like your Yup schema on `name5b` has a `Yup.number()` which will always fail unless you transform the input value into a number manually. This is because Formik mimics React and stores inputs as string out of the box. Once I changed that, onSubmit definitely works

**Link**

https://codesandbox.io/s/30ky2zqx25

**Screenshot**

<img width="700

[2019-02-05 16:14] Joead commented on #839
Thanks @jaredpalmer for your reply. I am using Formik with a render prop and am trying to trim values in `onSubmit` however the following is not working and the :

[code]

[2019-02-05 16:19] jaredpalmer commented on #839
Your `onSubmit` function does not execute if validation fails. To understand what happens when a user attempts to submit, check out this guide: https://jaredpalmer.com/formik/docs/guides/form-submission#submission-phases

**See previous comment for desired behavior**

[2019-02-05 16:23] jaredpalmer commented on #839
Okay, I think I understand what you're having issues with.

Using `setValues` or setFieldValue inside of `onSubmit` will not update the `values` object that is in scope, but rather Formik's internal state. This is because submission does not magically rerun. You will need to modify `values` (i.e. the first parameter of `onSubmit`) directly. Perhaps a better way to think of `onSubmit` here is like

[2019-02-05 16:23] Joead commented on #839
I don't need to run validation though. I am just trying to trim the value before for submission.

[2019-02-05 16:33] jaredpalmer commented on #839
Got it. You should just modify that object as you wish... and then sync it back to Formik.

[code]

[2019-02-05 16:39] Joead commented on #839
Superb, worked perfectly 🎉

Thanks for your help. Fantastic lib 👍

[2019-02-05 16:48] jwallet commented on #1302
I know actually I don't know why I paste the codesandbox here since it does not show the same error that I get, I will try to fix the error on my side and come back with a proper issue, but you should consider console logging a warning when you cancel a validation to let us know why the form is not submitting since 1.4.X

[2019-02-05 17:48] ElagrebiAli commented on #536
@jaredpalmer  same issue here :/
I have a redux call and I want to wait to receive new props to populate some part of my form, but not reseting the another fields in the form.

[2019-02-05 17:49] jaredpalmer commented on #536
Set `enableReinitialize` to `false`

https://jaredpalmer.com/formik/docs/api/formik#enablereinitialize-boolean

[2019-02-05 17:58] ElagrebiAli commented on #536
well, this does not work :/
i have a redux call when i fire the handleSubmit , my state updated , i pass them to mapPropsToValues  and then my values updated , but the values inside my component didn't handle this change .
what i want , i want when my values updated , my component handle this chnage of values

[2019-02-05 18:06] natefoundry commented on #324
+1

[2019-02-05 18:46] jwallet commented on #1302
I updated my codesandbox and my first post with newest detail of the issue

[2019-02-05 22:33] jwallet commented on #1302
found it
to make sure that every fields were touched during submission of the form we had to touched the field because formik was not using the schema right for required properties that were missing from `Values` so we had this code for our custom Field component
[code]
because the third parameter was not set to false, it was sending another validation request. so I guess your minor version was in

[2019-02-05 22:51] jaredpalmer commented on #1302
Correct. You should initialIze all of your values in initialValues.

[2019-02-05 22:56] jaredpalmer commented on #1303
enableReinitialize is the way that the wizard updates for each page. Unfortunately you need to set it to false so that your redux store will not trigger resets. Thus this will not work. You will have to find a different strategy than the normal multistep example for your use case. I suggest looking at react-albus and using multiple formik forms

[2019-02-05 22:57] jaredpalmer commented on #1303
I would go onto the #formik Discord channel for additional help.

[2019-02-05 23:21] lzacharkow commented on #991
I had the same issue—I was running formik@1.4.3 and react-dom@16.2.0. Not react-native though.

I upgraded react-dom to 16.7.0 and the issue is resolved 🎉

[2019-02-05 23:51] MontoyaAndres commented on #117
I'm trying to upload an image through Formik with React-Dropzone, this is the main code:

[code]

The part:

[code]

It's only to do a [preview of an image](https://react-dropzone.netlify.com/#previews). When I do Click in the handleSubmit, only sends me the preview object, the rest of the info disappear.

![gif](https://im2.ezgif.com/tmp/ezgif-2-0d88d5ed874a.gif)

![screenshot from 2019-02-05 18-

[2019-02-06 00:45] beausmith commented on #1107
In case anyone else is looking for the correct typings when creating a onSubmit handler method in a react class:

[code]

[2019-02-06 02:51] #1302 closed

[2019-02-06 03:03] jaredpalmer commented on #1299
Can you conditionally render the button?

[2019-02-06 03:05] jaredpalmer commented on #1298
I think so. ValidationSchema can be a function that returns a Yup schema. You could track your “stage” outside of Formik and then return a different schema accordingly. I think that would work.

[2019-02-06 08:19] RichMatthews commented on #1280
this is still not clearing the form properly and previous data is being appended when I submit it 😞

[2019-02-06 08:41] RichMatthews commented on #1280
sorry I was being dumb with my redux state, consider this closed 👍

[2019-02-06 09:57] andrewstaker commented on #578
@ankurkaushal360 Did you end up resolving this issue? We are seeing the same thing.

[2019-02-06 10:10] prateek3255 opened #1307 "Masked input not working"
## 🐛 Bug report

I am using a masked input for entering DOB from user, it works fine outside formik, but is not working at all in formik.
[code]

### Current Behavior

Mask is not working at all, I am able to enter all alphanumeric values to the input. The '/' after entering the number is also not being added automatically

### Expected behavior

It should work as it does outside formik

### packa

[2019-02-06 10:32] Taerarenai opened #1308 "Formik nested form sets parent as touched"
## 🐛 Bug report

### Current Behavior

If i have a nested form (in my case i have a big formik like `<Formik .... <Form>.....</Form> .../>` and inside the Form i have a dialog which also contains `<Formik>` and `<Form>`) clicking on submit from the child (dialog form) will trigger "touched" and throw validation errors on parent even tho' they have different fields.
### Expected behavior
Validation

[2019-02-06 10:33] redgenie commented on #1250
You should use `component` rather than `render` if you want to get all the other props.

[2019-02-06 13:51] jaredpalmer commented on #1308
Formik does not officially allow nested `<form>` because they are not valid HTML. My suggestion is to instead combine them into one Formik component, use React state to control the dialog, do not use `<Form>` but rather (`<form onSubmit={e => { e.preventDefault(); toggleDialog();}}/>`, and then manually call `submitForm()` when the user presses the primary button in the dialog.

[2019-02-06 13:56] jaredpalmer commented on #1307
Without a reproducible example it’s hard to know for sure what is going on. Would you be able to create a codesandbox so I can take a look? Also, please fill out the bus report template so we can know which version of Formik you are using.

Potentially relevant #610

[2019-02-06 14:02] jaredpalmer commented on #1301
No you cannot use formik methods above formik’s scope. You can create a component though that renders null but uses a lifecycle hook like componentDidMount to call Formik methods and then render it a child underneath the Formik parent component.

[2019-02-06 14:02] #1301 closed

[2019-02-06 14:04] jaredpalmer commented on #1297
See #1308. Make sure that your modal button is not of type=“submit” which will trigger validation because it is a submit attempt.

[2019-02-06 14:05] #1297 closed

[2019-02-06 14:07] jaredpalmer commented on #1297
Same suggestion from #13008 applies to this as well:

https://github.com/jaredpalmer/formik/issues/1308#issuecomment-461029656

[2019-02-06 14:09] jaredpalmer commented on #1295
Answered on StackOverflow.
https://stackoverflow.com/a/54517336

[2019-02-06 14:09] #1295 closed

[2019-02-06 14:11] jaredpalmer commented on #1278
setFieldError should not be used in change handlers because validation will not be aware of it during submission. The only real use case for setFieldError is inside of onSubmit where you want to manually set a field error. You should move this logic to validate instead.

[2019-02-06 14:11] #1278 closed

[2019-02-06 14:17] jaredpalmer opened #1309 "Elaborate on safe usage of setErrors and setFieldError"
## 📖 Documentation

Elaborate on when it is safe to use setFieldError and setErrors (ie. only in onSubmit or as some kind of side effect, but not as a replacement for actual validation). This is because validation is not aware of the manual usage of these methods, and, in fact, validation will overwrite `errors` on the next change, blur, or submit attempt.

Related #1278 #706 #1111

[2019-02-06 14:19] jaredpalmer commented on #1294
Not at the moment. This is something to consider for us to consider for v2

[2019-02-06 16:21] lm2almeida commented on #860
Is there any update on this?

[2019-02-06 17:27] Taerarenai commented on #1308
I fixed it by moving my dialog outside of `<Form>`. That stopped the inner form from validating the parent.

The child form is still inside 2 `<Formik>` components (`<Formik 'parent'>` and then `<Formik 'child'>` `<Form>{myform}</Form>`).

So far it works fine, hopefully it doesn't mess things up later on.

Thanks for letting me know tho'. Since its market as `wontfix` i'll close the issue.

[2019-02-06 17:27] #1308 closed

[2019-02-06 17:31] prateek3255 commented on #1307
Here is a sandbox, https://codesandbox.io/s/0mn9p1r87p but I am getting a CORS error in it though.

[2019-02-06 17:48] jaredpalmer opened #1310 "Update v2 to 16.8 stable"
- [ ] Update react-testing-library tests to use `.act`
- [ ] Update deps

[2019-02-06 18:06] #1289 closed

[2019-02-06 18:09] jaredpalmer commented on #1275
Hi! Formik's `validate` prop takes a function ([full docs](https://jaredpalmer.com/formik/docs/api/formik#validate-values-values-formikerrors-values-promise-any)). I think the best place for this kind of question is the #formik channel of reactiflux.com. People will be able to help you out synchronously there.

[2019-02-06 18:09] #1275 closed

[2019-02-06 18:10] jaredpalmer commented on #1273
AFAIK React Native's `TouchableOpacity` does not accept a `value` prop. What text are you trying to pass? "Yes" and "No" ? Can you elaborate in more depth or create a Snack on snack.expo.io to reproduce?

[2019-02-06 18:14] jaredpalmer commented on #1266
All of `Field` is exported here: https://github.com/jaredpalmer/formik/blob/master/src/index.tsx#L2

Can you create a reproducible example?

[2019-02-06 18:22] jaredpalmer commented on #1268
I agree that this is wonky right now, but relying on on render/mount is a dangerous path to go down. Just yesterday, we were working internally on v2 and came up some different registration techniques with `useRef` in addition to `registerField`. I think the other thing to remember is that not everyone uses `<Field>` to begin with, which complicates things.

I guess my point is that it's unclear t

[2019-02-06 18:26] jaredpalmer commented on #1268
Oh I forgot to mention. There are multiple "issues" you brought up in your initial message.

As it relates to default value for `<Field>`, the reason it is like this is because that's how React works with normal inputs...and `<Field>` is a convenience component that tries to cut down on boilerplate without adding magic.

[2019-02-06 18:29] jaredpalmer commented on #1268
`<Field initialValue>` is a decent idea that I think solves for this. However, I'm unclear as to whether it should modify the whole form's `initialValues` and what should happen with that `initialValue` when a user calls `resetForm`.

[2019-02-06 18:44] jaredpalmer commented on #1269
Formik's `<Field>` does not implement the Cell Renderer API of the library you are using. I'm not sure why Formik's context is not defined inside of the data grid, but my guess is that the library does not use React under the hood.

My suggestion is for you to instead implement your Cell Renderer on your own with Formik's `setFieldValue`.

Docs: https://jaredpalmer.com/formik/docs/api/formik#setfi

[2019-02-06 18:45] #1269 closed

[2019-02-06 18:46] jaredpalmer commented on #1265
How does your file input work? Can you create a reproducible example in codesandbox.io?

[2019-02-06 18:48] jaredpalmer commented on #1272
I'm going to mark this as invalid and close for now. If you can fill out the issue template next time, that would allow us to help you out.

[2019-02-06 18:48] #1272 closed

[2019-02-06 18:50] jaredpalmer commented on #1259
@jp3492 Can you fill out the the issue template and create a reproducible example in codesandbox?

[2019-02-06 18:57] jaredpalmer commented on #1256
What would you change it to?

[2019-02-06 19:00] jaredpalmer commented on #1262
See #937 . Enzyme's event's are synchronous but Formik's submission is async, which means you cannot test it the way you have.

[2019-02-06 19:02] jaredpalmer commented on #1254
This is an interesting solution. Will try to consider for v2.

[2019-02-06 19:04] jaredpalmer commented on #1262
See #1254

[2019-02-06 19:04] #1262 closed

[2019-02-06 19:05] jaredpalmer commented on #1253
This makes sense. My issue is that hooks is going to make this API impossible in v2.

[2019-02-06 19:06] jaredpalmer commented on #1251
Can you elaborate on this with some use cases and examples? What would the function signature of validateOnChange be?

[2019-02-06 19:08] jaredpalmer commented on #1252
Can you share a reproducible example on snack.expo.io and fill out the rest of the issue template? In the meantime, going to close this.

[2019-02-06 19:08] #1252 closed

[2019-02-06 19:08] #1246 closed

[2019-02-06 19:09] jaredpalmer commented on #1247
Hi there! This is in progress #1263. As this is a duplicate, going to close for now.

[2019-02-06 19:10] #1247 closed

[2019-02-06 19:11] jaredpalmer commented on #1245
@TrySound is this is a valid bug?

[2019-02-06 19:12] #1250 closed

[2019-02-06 19:13] jaredpalmer commented on #1244
`isValid` will not be correct and thus submission may not work as expected.

[2019-02-06 19:13] #1244 closed

[2019-02-06 19:15] jaredpalmer commented on #1243
My suggestion is to make 2 components. One that is your vanilla base input with styles etc, and one that hooks into Formik via <Field> or connect(). This way you can get rid of Formik without rewriting every form in your app.

[2019-02-06 19:16] #1243 closed

[2019-02-06 19:17] jaredpalmer commented on #1241
Related to #343

[2019-02-06 19:18] jaredpalmer commented on #1241
Not sure I love coupling formik to Yup even more tbh or having different behavior with/without Yup. Also FWIW you can implement this on your own if you build your own `<Field>` with `connect()`.

[2019-02-06 19:19] #1242 closed

[2019-02-06 19:20] #1240 closed

[2019-02-06 19:22] jaredpalmer commented on #1239
My suggestion here would be to write your own custom `<Fieldset>` using  `connect()`, put your enhancements onto another React context, and then also pass those into your custom `<Fieldset>`.

[2019-02-06 19:24] jaredpalmer commented on #1248
You could do this with a custom input that uses it's own handleChange instead of Formik's.

[2019-02-06 19:26] jaredpalmer commented on #1248
As I am writing out the way to do it, I am going to stop myself as I would highly advise against this because you will be blocking the UI changes of the input during validation which is very very very bad UX.

[2019-02-06 19:26] #1248 closed

[2019-02-06 19:28] jaredpalmer commented on #1238
Isn't this super confusing though? Is this actually more intuitive?

[2019-02-06 19:29] adaam2 commented on #1241
That brings up the question about validationSchema.. aside from yup.js, what other libraries of a similiar ilk expose a comparable interface in terms of schema?

If none, then I would think that the coupling of yup and formik should be removed completely or extracted to a separate package.

[2019-02-06 19:31] jaredpalmer commented on #1233
AFAIK `<form disabled>` is invalid. This would be quite magical. Need to think about it more.

[2019-02-06 19:36] jaredpalmer commented on #1233
This can be implemented in user land by building a custom `<Form>` and using the DOM. The tricky thing is that not all Fields are `inputs` and not all users use `<Field>`.

[2019-02-06 19:37] #1228 closed

[2019-02-06 19:37] jaredpalmer commented on #1228
@weyert  is correct. Yup.when() is how to do it.

[2019-02-06 19:38] jaredpalmer commented on #1226
As of 1.4.3, this gets inferred. In the future it will be renamed `FormikHelpers`.

[2019-02-06 19:39] jaredpalmer commented on #1226
It's here btw: https://github.com/jaredpalmer/formik/blob/master/src/types.tsx#L68

[2019-02-06 19:39] #1226 closed

[2019-02-06 19:41] jaredpalmer commented on #1222
I'd like to not promote invalid HTML. The correct workaround is to fake a form with key listeners / event handlers etc or tell your designer to come up with something else.

[2019-02-06 19:43] jaredpalmer commented on #1222
I also don't know how subFormik becomes aware of where it is being rendered? We could maybe call event.stopPropagation() on every submit? Idk what the impact of that would be.

[2019-02-06 19:44] jaredpalmer commented on #1222
@sebst Can you point to documentation and specs about proper usage of `event.stopPropagation()` and discuss pros/cons?

[2019-02-06 19:45] jaredpalmer commented on #1155
This has been fixed in 1.4.3.

[2019-02-06 19:45] #1155 closed

[2019-02-06 19:46] #1175 closed

[2019-02-06 19:52] jaredpalmer commented on #1217
@lourenci have you tried with 1.4.3?

[2019-02-06 19:55] fabb commented on #1265
I wrapped [react-dropzone](https://github.com/react-dropzone/react-dropzone) in a component and wrap its callback in one of my own with additional info (rejection reasons because of file type, size or count).
I can try to build an example, but it may take a while until I get to it.

[2019-02-06 19:56] Verbon commented on #1250
@jaredpalmer why this won't fix? It's not meant to be used the described way via `render` (and the docs are actually lying) or it's not technically impossible?

[2019-02-06 20:01] jaredpalmer commented on #1250
The docs are wrong. We should clarify. This only true for component. It mimics react router. There is no need to pass them through for children and and render because all would-be prop values are in scope.

[2019-02-06 20:02] jaredpalmer commented on #1250
Sorry for brevity, I am on my phone. We should open a PR to clarify the docs for Field

[2019-02-06 20:05] jaredpalmer commented on #1241
I agree with this 100%. We can get there in v3 and warn when using validationSchema in v2. However part of Formik’s success is the convenience of Yup so we def need a separate package with all of not even more yup related enhancements.

[2019-02-06 20:24] #1107 closed

[2019-02-06 20:27] jaredpalmer commented on #1307
Your mask is causing the CORS issue, can you simplify it for the purposes of the demo.

[2019-02-06 20:30] sebastiandeutsch commented on #1243
Thanks for the answer. But it mimicking the event as described ok? Then I could live with just one component.

[2019-02-06 20:31] jaredpalmer commented on #1243
I think you should use setFieldValue. That's what it is meant for.

[2019-02-06 20:34] jaredpalmer commented on #860
Not at the moment.

[2019-02-06 20:34] jaredpalmer commented on #860
However Formik supports Field-level validation now, which does only run one-at-a-time.

[2019-02-06 20:41] Verbon commented on #1238
@jaredpalmer I don't think this is confusing. I cannot think (at least for now) of any possible use-case, where I would want my `FastField` to not update when its value/error/touched changes. I think updates in these properties are very important, and skipping updates because of custom `shouldUpdate` implementation returning `false` (which may not take these props into account) may lead to bugs an

[2019-02-06 20:43] jaredpalmer commented on #324
Adding wontfix and userland labels. React's existing component model is more explicit and will be more performant as this will require context.

[2019-02-06 20:44] jaredpalmer commented on #860
Duplicate of #512

[2019-02-06 20:45] ericbiewener commented on #1239
Yeah, that sounds like the right approach. Thanks!

[2019-02-06 20:45] #1239 closed

[2019-02-06 20:52] jaredpalmer commented on #1238
Okay makes sense

[2019-02-06 20:52] jaredpalmer commented on #1238
I'm cool with a PR

[2019-02-06 21:06] nathanforce commented on #146
I wrote up a hooks library that can help here.

https://github.com/nathanforce/react-register-nodes

Example usage:

https://codesandbox.io/s/10363x25oq

[2019-02-07 05:00] stsiwo commented on #1285
I have the same issue. the FieldArray pop also returns undefined.

[2019-02-07 07:30] prateek3255 commented on #1307
How exactly do I simplify it, to remove the CORS error I would have to remove the library?

[2019-02-07 07:39] AlessandroAnnini opened #1312 "Calculated values"
## ❓Question

If you have to programmatically calculate/recalculate a field value when other field values changes, what would be the best way? Where to add the code?

*example*: price + units => total
(total should still be editable)

[2019-02-07 09:51] jozzhart commented on #410
Adding this feature would make things cleaner for my use-case.

[2019-02-07 12:51] jaredpalmer commented on #1312
If total is editable, then it is not calculated...

Perhaps by editable you meant dynamic. My suggestion is to actually not keep total inside your form state. The reasoning is that you should never keep computed values in React state. You should just calculate them where you need to (in render and before you submit). If you really want to go perf crazy you could memoize the calculation.

[2019-02-07 12:55] jaredpalmer commented on #1312
Avoiding storing computable values in state is a core precept of the React one-way data flow model. It’s explained here in probably my favorite blog post of all time “Thinking in React”
https://reactjs.org/docs/thinking-in-react.html#step-3-identify-the-minimal-but-complete-representation-of-ui-state

[2019-02-07 15:17] tsiq-jeremy commented on #1233
For a project we built a custom `<Form>` component that under the hood uses react context to pass the disabled prop to all of the input components. As you mentioned, probably the trickiest parts is normalizing all of the input components so that they take the same `disabled` prop.  For instance [react-select](https://github.com/JedWatson/react-select#props) takes as prop `isDisabled` so you would

[2019-02-07 15:53] ducdev commented on #1297
@jaredpalmer Hey, it's not a nested form, it's separated form on `reactstrap` modal. I removed `type="submit"` and issue still occurs.

[2019-02-07 16:06] flushentitypacket commented on #502
@dabrowne I think what you're doing _is_ the best way to go.

We aren't obligated to use Formik's state management--we can opt in for whatever we like and not use whatever we don't like. In the case of submit using redux, just don't use Formik's management there and in the submit state as a prop.

[2019-02-07 16:21] flushentitypacket commented on #608
What's wrong with @Neilpoulin solution? IMO there isn't a need to add this kind of functionality directly into Formik.

[2019-02-07 16:45] octaviou opened #1314 "updating select element (react select) list when other select element changes (Formik + Redux)"
## ❓Question
I have a Form with two Selects (React select 2)
the second Select, loads a new list each time select 1 changes (on change)
the thing is that when I dispatch a thunk in order to get new data, a soon as redux updates the prop  (this.props.devices) and Formik updates, the object values is overwritten with the values from "initial values"

[code]

[2019-02-07 16:53] jaredpalmer commented on #502
I agree with @flushentittypacket. This is fine as long as you are consistent in not using `isSubmitting` and fully understand the consequences. `isSubmitting` means “is submit attempt or in progress” so it is true prior to full form validation and false after submit has completed. This is meant to be used to disable buttons that prevent submissions—so you can block another submit _attempt_ if anot